{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends '::base.html.twig' %}
{% block title %}{{parent()}} | {{'title.flux.view'|trans}} {{ doc.getId }}{% endblock %}
{% block titlesm %}<a href="{{ path('flux_list', {'search': 1}) }}">{{'breadcrumb.transfert_list'|trans}}</a> <span class="glyphicon glyphicon-chevron-right"></span> {{'title.flux.view'|trans}} {{ doc.getId }}{% endblock titlesm %} 
{% block body %}
    <div id="flux">
		
		{# ------------- FLUX ------------- #}
		<div align="center">
			<div class="block-btn-infos">

			{# BTN #}	
			{% if ctm_btn %}

				{% for btn in ctm_btn %} 
				<a href="{{ path('flux_btn_dyn',{'id' : doc.getId,'method' : btn.action,'solution' : btn.solution }) }}">
					<button type="button" class="btn-mydinv">
					  <span class="glyphicon glyphicon-new-window"></span>  {{ btn.label }}
					</button>
				</a>				
				{% endfor %}

			{% endif %}

			{% if doc %}				
				{# si le flux n'est pas au statut Cancel ou Close #}
				{% if doc.getGlobalStatus|lower != 'cancel' and doc.getGlobalStatus|lower != 'close' %}
				
				
					<a href="{{ path('flux_rerun',{'id' : doc.getId }) }}" title="{{'view_flux.btn.reload'|trans}}">
						<button type="button" class="btn-mydinv">
						  <span class="glyphicon glyphicon-repeat"></span>  {{'view_flux.btn.reload'|trans}}
						</button>
					</a>
					
					<a class="btn_action_loading" href="{{ path('flux_cancel',{'id' : doc.getId }) }}" title="{{'view_flux.btn.cancel'|trans}}">
						<button type="button" class="btn-mydinv">
						  <span class="glyphicon glyphicon-remove-circle"></span>  {{'view_flux.btn.cancel'|trans}}
						</button>
					</a>

				{# BTN #}
				{% endif %}
				
				{% if read_record_btn %}
					<a class="btn_action_loading" href="{{ path('flux_readrecord',{'id' : doc.getId }) }}" title="{{'view_flux.btn.readrecord'|trans}}">
						<button type="button" class="btn-mydinv">
						  <span class="glyphicon glyphicon-remove-circle"></span>  {{'view_flux.btn.readrecord'|trans}}
						</button>
					</a>
				{% endif %}
			</div>	
				<table id="headertab" class="listepager">
					<tr>
						<th>{{'view_flux.header.rule'|trans}}</th>
						<th>{{'view_flux.header.statut'|trans}}</th>
						<th>{{'view_flux.header.type'|trans}}</th>
						<th>{{'view_flux.header.attempt'|trans}}</th>		
						<th>{{'view_flux.header.gblstatut'|trans}}</th>
						<th>{{'view_flux.header.dateref'|trans}}</th>
						<th>{{'view_flux.header.date_created'|trans}}</th>
						<th>{{'view_flux.header.date_modified'|trans}}</th>
						{% if doc.getParentId %}
							<th>{{'view_flux.header.parent'|trans}}</th>
						{% endif %}	
					</tr>
					<tr>
						<td><a href="{{ path('regle_open',{'id' : rule.getId }) }}" title="">{{ rule.getName }}</a></td>
						<td class="ctr">
				     		<div class="gblstatus_{{ doc.getGlobalStatus|lower }}">{{ doc.getStatus }}
				     		{% if doc.getGlobalStatus|lower == 'close' %}
				     			<span class="glyphicon glyphicon-ok"></span>
				     		{% elseif doc.getGlobalStatus|lower == 'error' or doc.getGlobalStatus|lower == 'open' %}
								<span class="glyphicon glyphicon-remove"></span>
							{% elseif doc.getGlobalStatus|lower == 'cancel' %}
								<span class="glyphicon glyphicon-exclamation-sign"></span>
				     		{% endif %}
				     		</div>
						</td>
						<td class="ctr">{{ doc.getType }}</td>
						<td class="ctr">{{ doc.getAttempt }}</td>			
						<td id="gblstatus" data-gbl="{{ doc.getGlobalStatus|lower }}" class="ctr">
				     		<div class="gblstatus_{{ doc.getGlobalStatus|lower }}">{{ doc.getGlobalStatus }}
				     		{% if doc.getGlobalStatus|lower == 'close' %}
				     			<span class="glyphicon glyphicon-ok"></span>
				     		{% elseif doc.getGlobalStatus|lower == 'error' or doc.getGlobalStatus|lower == 'open' %}
								<span class="glyphicon glyphicon-remove"></span>
							{% elseif doc.getGlobalStatus|lower == 'cancel' %}
								<span class="glyphicon glyphicon-exclamation-sign"></span>
				     		{% endif %}
				     		</div>
						</td>
						<td class="ctr">{{ doc.getSourceDateModified|date("d/m/Y H:i:s") }}</td>
						<td class="ctr">{{ doc.getDateCreated|date("d/m/Y H:i:s") }}</td>
						<td class="ctr">{{ doc.getDateModified|date("d/m/Y H:i:s") }}</td>
						{% if doc.getParentId %}
							<td><a href="{{ path('flux_info',{'id' : doc.getParentId }) }}" title="">{{ doc.getParentId }}</a></td>
						{% endif %}
					</tr>
				</table>
			{% endif %}
		</div>
		{# ------------- FLUX ------------- #}
		<div class="clr"></div>

    	{# ------------- SOURCE ------------- #}
    	<div align="center">
    	<div class="zone">
    		<p class="ctr"><img src="{{ asset('bundles/regle/images/template/') }}source.png" alt="{{'view_rule.relate.solution_source'|trans}}" /></p>
    		<p class="ctr">{{'view_flux.source'|trans}}</p>
			<ul id="flux_source">
			{% if source.direct_link is defined %}
				<center><u><a href="{{ source.direct_link }}" target="_blank">{{'view_flux.direct_link'|trans}}</a></u></center><p>
			{% endif %}	
			<li><span class="field">{{'view_flux.id'|trans}} :</span><span>{{ doc.getSource }}</span></li>
	    	{% if source %}
				{% for key, value  in source %}
					{% if value != doc.getId  and key != 'direct_link' %}
						<li class="{{ key }}"><span class="field">{{ key }}</span><span>{{ value }}</span></li>
					{% endif %}
				{% endfor %}
				<hr/>
			{% else %}	  
				{{'view_flux.empty'|trans}}
			{% endif %}
			</ul>
		</div>
		{# ------------- SOURCE ------------- #}

		{# ------------- TARGET ------------- #}
		<div class="zone">
    		<p class="ctr"><img src="{{ asset('bundles/regle/images/template/') }}target.png" alt="{{'view_rule.relate.solution_source'|trans}}" /></p>
    		<p class="ctr">{{'view_flux.target'|trans}}</p>
			{% if target.direct_link is defined %}
				<center><u><a href="{{ target.direct_link }}" target="_blank">{{'view_flux.direct_link'|trans}}</a></u></center><p>
			{% endif %}	
			<ul id="flux_target" data-id="{{doc.getId}}" data-rule="{{ doc.getRule }}">
			<li><span class="field">{{'view_flux.id'|trans}} :</span><span>{{ doc.getTarget }}</span></li>
	    	{% if target %}
				{% for key, value  in target %}
					{% if value != doc.getId and key != 'direct_link' %}
						<li class="{{ key }}"><span class="field">{{ key }}</span><span class="value">{{ value }}</span></li>
					{% endif %}
				{% endfor %}
			{% else %}	  
				{{'view_flux.empty'|trans}}
			{% endif %} 
			</ul>
    	</div>
    	{# ------------- TARGET ------------- #}

 		{# ------------- HISTORY ------------- #}
		<div class="zone">
    		<p class="ctr"><img src="{{ asset('bundles/regle/images/template/') }}history.png" alt="{{'view_rule.relate.solution_source'|trans}}" /></p>
    		<p class="ctr">{{'view_flux.history'|trans}}</p>
	    	{% if history %}
				<ul id="flux_history">
					{% for key, value  in history %}
						{% if value != doc.getId  %}
							<li class="{{ key }}"><span class="field">{{ key }}</span><span>{{ value }}</span></li>
						{% endif %}
					{% endfor %}
				</ul>
			{% else %}	  
				{{'view_flux.empty'|trans}}
			{% endif %} 
    	</div>
    	{# ------------- HISTORY ------------- #}   	
    	<div class="clr"></div>
    	</div>

		
		
		{# ------------- POST DOCUMENTS ------------- #}
		{% if nb_post_documents > 0 %}
		<div id="fd-title-small" class="left">
			<p>{{'view_flux.nbPostDocuments'|trans}}<p><span class="nb">{{ nb_post_documents }}</span>
		</div>
		<div class="clr"></div>	 
		{% endif %}   	
		{# ------------- POST DOCUMENTS ------------- #}
		<div id="message" align="center">
			{% if nb_post_documents > 0 %}		
		    	<table class="listepager">
					{% if entities is not empty %}	
						<tr>
							<th>{{'list_flux.tab.id'|trans}}</th>
							<th>{{'list_flux.tab.name'|trans}}</th>
							<th>{{'list_flux.tab.source_id'|trans}}</th>
							<th>{{'list_flux.tab.target_id'|trans}}</th>
							{#  <th>{{'list_flux.tab.date_created'|trans}}</th> #}
							<th>{{'list_flux.tab.date_modified'|trans}}</th>
							<th>{{'list_flux.tab.type'|trans}}</th>
							<th>{{'list_flux.tab.statut'|trans}}</th>
						</tr> 
					   {% for flux in post_documents %}
						 <tr class="fd_{{ flux.globalStatus|lower }}" data-id="{{ flux.id }}">
							<td class="ctr"><a href="{{ path('flux_info',{'id' : flux.id }) }}">{{ flux.id }}</a></td>
							<td class="ctr"><a href="{{ path('regle_open',{'id' : flux.rule }) }}" title="">{{ attribute(post_Documents_Rule,flux.id) }}</a></td>		     				
							<td class="ctr">{{ flux.source }}</td>     	
							<td class="ctr">{{ flux.target }}</td>     	
							{# 	<td class="ctr">{{ flux.dateCreated|date("d/m/Y H:i:s") }}</td>	#}
							<td class="ctr">{{ flux.dateModified|date("d/m/Y H:i:s") }}</td>
							<td class="ctr">{{ flux.type }}</td> 
							<td class="ctr">
								<div class="gblstatus_{{ flux.globalStatus|lower }}">{{ flux.status }}
								{% if flux.globalStatus|lower == 'close' %}
									<span class="glyphicon glyphicon-ok"></span>
								{% elseif flux.globalStatus|lower == 'error' or flux.globalStatus|lower == 'open' %}
									<span class="glyphicon glyphicon-remove"></span>
								{% elseif flux.globalStatus|lower == 'open' %}
									<span class="glyphicon glyphicon-repeat"></span>						
								{% elseif flux.globalStatus|lower == 'cancel' %}
									<span class="glyphicon glyphicon-exclamation-sign"></span>
								{% endif %}
								</div>
							</td>	     			     	
						</tr>			
						{% endfor %}		
						<tr>
							<th>{{'list_flux.tab.id'|trans}}</th>
							<th>{{'list_flux.tab.name'|trans}}</th>
							<th>{{'list_flux.tab.source_id'|trans}}</th>
							<th>{{'list_flux.tab.target_id'|trans}}</th>
							{#  <th>{{'list_flux.tab.date_created'|trans}}</th> #}
							<th>{{'list_flux.tab.date_modified'|trans}}</th>
							<th>{{'list_flux.tab.type'|trans}}</th>
							<th>{{'list_flux.tab.statut'|trans}}</th>
						</tr>			
					{% endif %}
				</table>
				<div align="center">
					{% if pager.haveToPaginate %}
						<div align="center">
							{% if pager.haveToPaginate %}
								{{ pagerfanta(pager, 'twitter_bootstrap3', { 'routeParams' : { 'id': doc.getId }, 'routeName': 'flux_info_page' } ) }}
							{% endif %}
						</div>	 				      
					{% endif %}
				</div>		 
			{% endif %}
    	</div>
		
		
		
		
		{# ------------- HISTORY DOCUMENTS ------------- #}
		{% if nb_history_documents > 0 %}
		<div id="fd-title-small" class="left">
			<p>{{'view_flux.nbHistoryDocuments'|trans}}<p><span class="nb">{{ nb_history_documents }}</span>
		</div>
		<div class="clr"></div>	 
		{% endif %}   	
		{# ------------- HISTORY DOCUMENTS ------------- #}
		<div id="message" align="center">
			{% if nb_history_documents > 0 %}		
		    	<table class="listepager">
					{% if entities is not empty %}	
						<tr>
							<th>{{'list_flux.tab.id'|trans}}</th>
							<th>{{'list_flux.tab.name'|trans}}</th>
							<th>{{'list_flux.tab.source_id'|trans}}</th>
							<th>{{'list_flux.tab.target_id'|trans}}</th>
							{#  <th>{{'list_flux.tab.date_created'|trans}}</th> #}
							<th>{{'list_flux.tab.date_modified'|trans}}</th>
							<th>{{'list_flux.tab.type'|trans}}</th>
							<th>{{'list_flux.tab.statut'|trans}}</th>
						</tr> 
					   {% for flux in history_documents %}
						 <tr class="fd_{{ flux.globalStatus|lower }}" data-id="{{ flux.id }}">
							<td class="ctr">
								{% if current_document == flux.id %}
									<span class="glyphicon glyphicon-ok">
								{% else %}
									<span class="glyphicon glyphicon-minus">
								{% endif %}
								 <a href="{{ path('flux_info',{'id' : flux.id }) }}">{{ flux.id }}</a></td> 
							<td class="ctr"><a href="{{ path('regle_open',{'id' : rule.getId }) }}" title="">{{ rule.getName }}</a></td>							
							<td class="ctr">{{ flux.source }}</td>     	
							<td class="ctr">{{ flux.target }}</td>     	
							{# 	<td class="ctr">{{ flux.dateCreated|date("d/m/Y H:i:s") }}</td>	#}
							<td class="ctr">{{ flux.dateModified|date("d/m/Y H:i:s") }}</td>
							<td class="ctr">{{ flux.type }}</td>   
							<td class="ctr">
								<div class="gblstatus_{{ flux.globalStatus|lower }}">{{ flux.status }}
								{% if flux.globalStatus|lower == 'close' %}
									<span class="glyphicon glyphicon-ok"></span>
								{% elseif flux.globalStatus|lower == 'error' or flux.globalStatus|lower == 'open' %}
									<span class="glyphicon glyphicon-remove"></span>
								{% elseif flux.globalStatus|lower == 'open' %}
									<span class="glyphicon glyphicon-repeat"></span>						
								{% elseif flux.globalStatus|lower == 'cancel' %}
									<span class="glyphicon glyphicon-exclamation-sign"></span>
								{% endif %}
								</div>
							</td>	     			     	
						</tr>			
						{% endfor %}		
						<tr>
							<th>{{'list_flux.tab.id'|trans}}</th>
							<th>{{'list_flux.tab.name'|trans}}</th>
							<th>{{'list_flux.tab.source_id'|trans}}</th>
							<th>{{'list_flux.tab.target_id'|trans}}</th>
							{#  <th>{{'list_flux.tab.date_created'|trans}}</th> #}
							<th>{{'list_flux.tab.date_modified'|trans}}</th>
							<th>{{'list_flux.tab.type'|trans}}</th>
							<th>{{'list_flux.tab.statut'|trans}}</th>
						</tr>			
					{% endif %}
				</table>
				<div align="center">
					{% if pager.haveToPaginate %}
						<div align="center">
							{% if pager.haveToPaginate %}
								{{ pagerfanta(pager, 'twitter_bootstrap3', { 'routeParams' : { 'id': doc.getId }, 'routeName': 'flux_info_page' } ) }}
							{% endif %}
						</div>	 				      
					{% endif %}
				</div>		 
			{% endif %}
    	</div>
		
		
		
		
		{# ------------- PARENT RELATE DOCUMENTS ------------- #}
		{% if nb_parent_documents > 0 %}
		<div id="fd-title-small" class="left">
			<p>{{'view_flux.nbParentDocuments'|trans}}<p><span class="nb">{{ nb_parent_documents }}</span>
		</div>
		<div class="clr"></div>	 
		{% endif %}   	
		{# ------------- PARENT RELATE DOCUMENTS ------------- #}
		<div id="message" align="center">
			{% if nb_parent_documents > 0 %}		
		    	<table class="listepager">
					{% if entities is not empty %}	
						<tr>
							<th>{{'list_flux.tab.id'|trans}}</th>
							<th>{{'list_flux.tab.name'|trans}}</th>
							<th>{{'list_flux.tab.source_field'|trans}}</th>
							<th>{{'list_flux.tab.source_id'|trans}}</th>
							{#  <th>{{'list_flux.tab.date_created'|trans}}</th> #}
							<th>{{'list_flux.tab.date_modified'|trans}}</th>
							<th>{{'list_flux.tab.type'|trans}}</th>
							<th>{{'list_flux.tab.statut'|trans}}</th>
						</tr> 
					   {% for flux in parent_documents %}
						 <tr class="fd_{{ flux.globalStatus|lower }}" data-id="{{ flux.id }}">
							<td class="ctr"><a href="{{ path('flux_info',{'id' : flux.id }) }}">{{ flux.id }}</a></td> 
							<td class="ctr"><a href="{{ path('regle_open',{'id' : flux.rule }) }}" title="">{{ attribute(parent_Documents_Rule,flux.id) }}</a></td>		     											
							<td class="ctr">{{ flux.sourceField }}</td>     	
							<td class="ctr">{{ flux.source }}</td>     	   	
							{# 	<td class="ctr">{{ flux.dateCreated|date("d/m/Y H:i:s") }}</td>	#}
							<td class="ctr">{{ flux.dateModified|date("d/m/Y H:i:s") }}</td>
							<td class="ctr">{{ flux.type }}</td> 
							<td class="ctr">
								<div class="gblstatus_{{ flux.globalStatus|lower }}">{{ flux.status }}
								{% if flux.globalStatus|lower == 'close' %}
									<span class="glyphicon glyphicon-ok"></span>
								{% elseif flux.globalStatus|lower == 'error' or flux.globalStatus|lower == 'open' %}
									<span class="glyphicon glyphicon-remove"></span>
								{% elseif flux.globalStatus|lower == 'open' %}
									<span class="glyphicon glyphicon-repeat"></span>						
								{% elseif flux.globalStatus|lower == 'cancel' %}
									<span class="glyphicon glyphicon-exclamation-sign"></span>
								{% endif %}
								</div>
							</td>	     			     	
						</tr>			
						{% endfor %}		
						<tr>
							<th>{{'list_flux.tab.id'|trans}}</th>
							<th>{{'list_flux.tab.name'|trans}}</th>
							<th>{{'list_flux.tab.source_field'|trans}}</th>
							<th>{{'list_flux.tab.source_id'|trans}}</th>
							{#  <th>{{'list_flux.tab.date_created'|trans}}</th> #}
							<th>{{'list_flux.tab.date_modified'|trans}}</th>
							<th>{{'list_flux.tab.type'|trans}}</th>
							<th>{{'list_flux.tab.statut'|trans}}</th>
						</tr>			
					{% endif %}
				</table>
				<div align="center">
					{% if pager.haveToPaginate %}
						<div align="center">
							{% if pager.haveToPaginate %}
								{{ pagerfanta(pager, 'twitter_bootstrap3', { 'routeParams' : { 'id': doc.getId }, 'routeName': 'flux_info_page' } ) }}
							{% endif %}
						</div>	 				      
					{% endif %}
				</div>		 
			{% endif %}
    	</div>
		
		
		

		{# ------------- CHILD RELATE DOCUMENTS ------------- #}
		{% if nb_child_documents > 0 %}
		<div id="fd-title-small" class="left">
			<p>{{'view_flux.nbChildDocuments'|trans}}<p><span class="nb">{{ nb_child_documents }}</span>
		</div>
		<div class="clr"></div>	 
		{% endif %}   	
		{# ------------- CHILD RELATE DOCUMENTS ------------- #}
		<div id="message" align="center">
			{% if nb_child_documents > 0 %}		
		    	<table class="listepager">
					{% if entities is not empty %}	
						<tr>
							<th>{{'list_flux.tab.id'|trans}}</th>
							<th>{{'list_flux.tab.name'|trans}}</th>
							<th>{{'list_flux.tab.source_field'|trans}}</th>
							<th>{{'list_flux.tab.source_id'|trans}}</th>
							{#  <th>{{'list_flux.tab.date_created'|trans}}</th> #}
							<th>{{'list_flux.tab.date_modified'|trans}}</th>
							<th>{{'list_flux.tab.type'|trans}}</th>
							<th>{{'list_flux.tab.statut'|trans}}</th>
						</tr> 
					   {% for flux in child_documents %}
						 <tr class="fd_{{ flux.globalStatus|lower }}" data-id="{{ flux.id }}">
							<td class="ctr"><a href="{{ path('flux_info',{'id' : flux.id }) }}">{{ flux.id }}</a></td> 
							<td class="ctr"><a href="{{ path('regle_open',{'id' : flux.rule }) }}" title="">{{ attribute(child_Documents_Rule,flux.id) }}</a></td>		     											
							<td class="ctr">id</td>     	
							<td class="ctr">{{ flux.source }}</td>     	   	
							{# 	<td class="ctr">{{ flux.dateCreated|date("d/m/Y H:i:s") }}</td>	#}
							<td class="ctr">{{ flux.dateModified|date("d/m/Y H:i:s") }}</td>
							<td class="ctr">{{ flux.type }}</td>     	
							<td class="ctr">
								<div class="gblstatus_{{ flux.globalStatus|lower }}">{{ flux.status }}
								{% if flux.globalStatus|lower == 'close' %}
									<span class="glyphicon glyphicon-ok"></span>
								{% elseif flux.globalStatus|lower == 'error' or flux.globalStatus|lower == 'open' %}
									<span class="glyphicon glyphicon-remove"></span>
								{% elseif flux.globalStatus|lower == 'open' %}
									<span class="glyphicon glyphicon-repeat"></span>						
								{% elseif flux.globalStatus|lower == 'cancel' %}
									<span class="glyphicon glyphicon-exclamation-sign"></span>
								{% endif %}
								</div>
							</td>	     			     	
						</tr>			
						{% endfor %}		
						<tr>
							<th>{{'list_flux.tab.id'|trans}}</th>
							<th>{{'list_flux.tab.name'|trans}}</th>
							<th>{{'list_flux.tab.source_field'|trans}}</th>
							<th>{{'list_flux.tab.source_id'|trans}}</th>
						{#  <th>{{'list_flux.tab.date_created'|trans}}</th> #} 
							<th>{{'list_flux.tab.date_modified'|trans}}</th>
							<th>{{'list_flux.tab.type'|trans}}</th>
							<th>{{'list_flux.tab.statut'|trans}}</th>
						</tr>			
					{% endif %}
				</table>
				<div align="center">
					{% if pager.haveToPaginate %}
						<div align="center">
							{% if pager.haveToPaginate %}
								{{ pagerfanta(pager, 'twitter_bootstrap3', { 'routeParams' : { 'id': doc.getId }, 'routeName': 'flux_info_page' } ) }}
							{% endif %}
						</div>	 				      
					{% endif %}
				</div>		 
			{% endif %}
    	</div>
		
		
		
    	{# ------------- MESSAGE ------------- #}
		{% if nb > 0 %}
		<div id="fd-title-small" class="left">
			<p>{{'view_flux.nblogs'|trans}}<p><span class="nb">{{ nb }}</span>
		</div>
		<div class="clr"></div>	 
		{% endif %}   	
    	<div id="message" align="center">

			{% if nb > 0 %}		
	
		    	<table class="listepager">
					{% if entities is not empty %}	
						<tr>
							<th>{{'view_flux.log.id'|trans}}</th>
							<th>{{'view_flux.log.ref'|trans}}</th>
							<th>{{'view_flux.log.job'|trans}}</th>
							<th>{{'view_flux.log.date_created'|trans}}</th>
							<th>{{'view_flux.log.type'|trans}}</th>
							<th>{{'view_flux.log.msg'|trans}}</th>
						</tr> 
					     {% for log in entities %}
					     <tr class="fd_log_{{ log.getType|lower }}">
					     	<td class="ctr">
					     		{{ log.getId }}
					     	</td>
					     	<td>
					     		
					     		{% if log.getRef is not empty %}	
									<a onclick="window.open(this.href); return false;" href="{{ path('flux_info', {'id': log.getRef}) }}">
									    {{ log.getRef }}
									</a>
					     		{% else %}
					     			{{ log.getRef }}
					     		{% endif %}
					     	</td>	
					     	<td>
					     		{% if log.getJob is not empty %}
					     			<a href="{{ path('task_view', {'id':log.getJob}) }}">{{ log.getJob }}</a>
					     		{% endif %}
					     	</td>					     					     			     			     	
					     	<td>{{ log.getDateCreated|date("d/m/Y H:i:s") }}</td>
					     	<td class="ctr">
					     		<div class="log_{{ log.getType|lower }}">{{ log.getType }}
					     		{% if log.getType|lower == 's' %}
					     			<span class="glyphicon glyphicon-ok"></span>
					     		{% elseif log.getType|lower == 'e' %}
									<span class="glyphicon glyphicon-remove"></span>
								{% elseif log.getType|lower == 'w' %}
									<span class="glyphicon glyphicon-exclamation-sign"></span>
					     		{% endif %}
					     		</div>
					     	</td>
					     	<td class="msg">
					     		{{ log.getMessage }}
					     	</td>				     	     			     	
						</tr>			
						{% endfor %}			
						<tr>
							<th>{{'view_flux.log.id'|trans}}</th>
							<th>{{'view_flux.log.ref'|trans}}</th>
							<th>{{'view_flux.log.job'|trans}}</th>
							<th>{{'view_flux.log.date_created'|trans}}</th>
							<th>{{'view_flux.log.type'|trans}}</th>
							<th>{{'view_flux.log.msg'|trans}}</th>
						</tr>			
					{% endif %}
				</table>
				<div align="center">
					{% if pager.haveToPaginate %}
						<div align="center">
							{% if pager.haveToPaginate %}
								{{ pagerfanta(pager, 'twitter_bootstrap3', { 'routeParams' : { 'id': doc.getId }, 'routeName': 'flux_info_page' } ) }}
							{% endif %}
						</div>	 				      
					{% endif %}
				</div>		 
				{% else %}
				<p>{{'view_flux.empty_log'|trans}}</p>
				{% endif %}

    	</div>
		{# ------------- MESSAGE ------------- #}
    </div>

    {# ------------- PARAMETRES JQUERY ------------- #}
    <script type="text/javascript">   	
    var path_img = "{{ asset('bundles/regle/images/') }}";
	var chemin_img = "{{ asset('bundles/regle/images/') }}";
	var inputs_flux = "{{ path('flux_save') }}";
    </script>
    {# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/regle/css/flux.css') }}" type="text/css" />
{% endblock css %}

{% block cssin %}
{% endblock cssin %}

{% block js %}
{% endblock js %}