{#/*********************************************************************************
* This file is part of Myddleware.

* @package Myddleware
* @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
* @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
* @link http://www.myddleware.com

This file is part of Myddleware.

Myddleware is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Myddleware is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends 'base.html.twig' %}
{% block titlesm %}{{ 'title.account.view'|trans }}{% endblock titlesm %}
{% block body %}

    <div id="user_account">
        <div class="row">
            <h2>{{ 'view_account.user_info'|trans }}</h2>
            <ul>
                <li class="user_info_li">
                    <label>{{ 'view_account.label.language'|trans }}</label>
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-light btn-lg">
                            <a href="#"
                                 data-locale="{{ locales|languages['default'] }}">
                                 {{  locales|languages['default']|trans }}
                            </a>
                        </button>
                      {% for locale in locales|languages['other']  %}
                            <button class="btn btn-primary btn-lg">
                            <a href="{{ path('account_locale', {'locale': locale}) }}"
                               data-locale="{{ locale }}" style="color:#fff;">
                                {{ locale|trans }}
                            </a>
                            </button>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <h2>{{ 'view_account.profile_edit'|trans }}</h2>
            <ul>
                <li class="user_info_li">
                    {{ form_start(form) }}
                    <div class="form-group row">
                        <label for="command" class="col-sm-2 col-form-label"> {{ form_label( form.username) }}</label>
                        <div class="col-sm-10">
                            {{ form_widget( form.username, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors( form.username, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="command" class="col-sm-2 col-form-label"> {{ form_label( form.email) }}</label>
                        <div class="col-sm-10">
                            {{ form_widget( form.email, { 'attr': {'class': 'form-control'} }) }}
                            {{ form_errors( form.email, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                    </div>
                    <button type="submit" class="btn-myd">{{ 'view_connector.btn.save'|trans }}</button>
                    {{ form_end(form) }}
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col form-group">
               <h2>Reset password</h2>
                {{form_start(formPassword)}} 
                {{ form_end(formPassword)}}
            </div>
        </div>
    </div>
{% endblock %}