{#/*********************************************************************************
* This file is part of Myddleware.

* @package Myddleware
* @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
* @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
* @link http://www.myddleware.com

This file is part of Myddleware.

Myddleware is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Myddleware is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends 'base.html.twig' %}
{% block titlesm %}{{ 'title.account.view'|trans }}{% endblock titlesm %}

{% block body %}
<div id="user_account" class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <h2 class="display-4">{{ 'view_account.user_info'|trans }}</h2>
            <ul class="mt-4">
                <li class="user_info_li">
                    <label>{{ 'view_account.label.language'|trans }}</label>
                    <div class="btn-group" role="group" aria-label="...">
                        <button class="btn btn-light">
                            <a href="#" data-locale="{{ locales|languages['default'] }}" class="text-decoration-none">
                                {{ locales|languages['default']|trans }}
                            </a>
                        </button>
                        {% for locale in locales|languages['other'] %}
                        <button class="btn btn-primary">
                            <a href="{{ path('account_locale', {'locale': locale}) }}" data-locale="{{ locale }}" style="color: #fff;" class="text-decoration-none">
                                {{ locale|trans }}
                            </a>
                        </button>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="d-flex mt-4 edit-profile container">
        <div class="me-5">
            <div class="col">
                <h2 class="display-6">{{ 'view_account.profile_edit'|trans }}</h2>
                <ul class="mt-4">
                    <li class="user_info_li">
                        {{ form_start(form) }}
                        <div class="input-group mb-4">
                            <label for="command" class="col-form-label input-group-text"> {{ form_label( form.username) }}</label>
                            <div>
                                {{ form_widget( form.username, { 'attr': {'class': 'form-control'} }) }} {{ form_errors( form.username, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <div class="input-group mb-4">
                            <label for="command" class="col-form-label input-group-text"> {{ form_label( form.email) }}</label>
                            <div>
                                {{ form_widget( form.email, { 'attr': {'class': 'form-control'} }) }} {{ form_errors( form.email, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                         
                        <div class="input-group mb-4">
                        <label for="command" class="col-form-label input-group-text">Time zone</label>
                            <div>
                                {{ form_widget( form.timezone, { 'attr': {'class': 'form-control'} }) }} {{ form_errors( form.timezone, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                        </div>
                        <button type="submit" id="save-account-details" class="btn btn-success mt-4">{{ 'view_connector.btn.save'|trans }}</button>
                        {{ form_end(form) }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="ms-5 password-reset">
            <div class="col password-reset-center">
                <h2 class="display-6">{{'password_reset.title'|trans}}</h2>
                <a href="{{ path('my_account_reset_password')}}">
                    <button type="button" class="btn btn-primary">{{'password_reset.button'|trans}}</button>
                </a>
            </div>
            <div class="row display-logs">
                <div class="col">
                    <h2>Download the latest logs</h2>
                    <a href="{{path('download_log')}}">
                        <button type="button" class="btn btn-primary">Download</button>
                    </a>
                    
                </div>
            </div>
            <div class="row display-logs">
                            <div class="col">
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <h2>Empty the log file</h2>
                    <a href="{{path('empty_log')}}">
                        <button type="button" class="btn btn-primary">Empty</button>
                    </a>
                    {% endif %}
                    
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}