{% extends 'base.html.twig'%}

{% block title %}{{'password_reset.title'|trans}}{% endblock %}

{% block body %}
    <div class="container-fluid" id="reset-password-container">
        <div class="row">
            <div class="col-md-12" id="reset-password-col">
            <a  class="all-link help-link-update-password" href="{{path('my_account')}}">
                    <i class="fas fa-arrow-left mr-2"></i> {{'password_reset.back_to_account'|trans}}
            </a>
                <h2 class="text-center mb-4 mt-4 h3">{{'password_reset.title'|trans}}</h2>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}