{% extends 'base.html.twig'%}

{% block title %}{{'password_reset.title'|trans}}{% endblock %}

{% block body %}
    <div class="container-fluid" id="reset-password-container">
        <div class="row">
            <div class="col-md-12" id="reset-password-col">
            <a href="{{path('my_account')}}">
                <button type="button" class="btn btn-default btn-block" style="background-color: #03c4eb; border: none; font-size: 14px; padding: 9px; border-radius: 3px; color: #fff; transition: background-color 0.3s; margin-bottom: 10px;">
                    {{'password_reset.back_to_account'|trans}}
                </button>
            </a>
                <h2>{{'password_reset.title'|trans}}</h2>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}