{% extends '::baseone.html.twig' %}
{% block title %} {{ 'install.title' | trans }} {% endblock %}
{% block css %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ asset('css/install/install.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/regle/css/layout.css') }}" type="text/css" />
{% endblock css %}
{% block body %}
<div id="myd_top"></div>
<div id="logo"></div>
<div class="container">
    <section>
        <div id="myd_title">
            <p>{{ 'install.title' | trans }}</p>
        </div>
        <article class="panel panel-success">
            <div class="panel-heading">
                <h1 class="panel-title">{{ 'install.requirements_checker' | trans }}</h1>
            </div>
            <div class="panel-body requirements-tab">
                <p id="install-info">{{ 'install.requirements_info' | trans }}</p>
                {% if ini_path %}
                    <p>{{'install.php_ini_path_sentence' | trans }} :</p>
                    <p id="ini-path" class="alert-success" role="alert">{{ ini_path }} </p>
                {% else %}
                    <p class="bg-danger">{{'install.php_ini_error' | trans }}</p>
                {% endif %}
                {% if php_version %}
                    <p>PHP version : </p>
                    <p class="alert-success">{{ php_version }}</p>
                {% else %}
                   <p>{{ 'install.php_version_not_found' | trans }}</p>
                {% endif %}
                <p><strong>{{ system_status }}</strong></p>
                {% if error_messages %}
                <p>{{ 'install.errors_to_do_message' | trans }} : </p>
                <ul class="list-group">
                   {% for message in error_messages %}
                        <li class="list-group-item-danger">{{ message }} </li>
                   {% endfor %}
                </ul>
                {% endif %}
                {% if recommendation_messages %}
                    <p>{{ 'install.recommendations_to_do_message' | trans }} : </p>
                    <ul class="list-group">
                        {% for message in recommendation_messages %}
                                <li class="list-group-item-warning">{{ message }} </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <aside class="panel panel-info">
                    <div class="panel-heading">
                        <h6 class="panel-title">Note</h6>
                    </div>
                    <div class="panel-body">
                        <p>{{ 'install.note_message' | trans }} :</p>
                        <code>php bin/symfony_requirements</code>
                    </div>
                </aside>
                <div class="buttons">
                    <button class="btn btn-success btn-lg" onClick="window.location.reload()">{{ 'install.check_button' | trans }}</button>
                    {% if not error_messages %} 
                    <a href="{{ path('myddleware_install_default_setupdatabase') }}">
                        <button class="btn btn-default btn-lg">{{ 'install.next' | trans }}</button>
                    </a>
                    {% endif %}
                </div>
            </div> 
          
        </article>
      
    </section>
</div>
    <footer>
        <p>© Myddleware 2014 - {{ 'now' | date('Y') }}</p>
    </footer>
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <script src="{{ asset('js/install.js') }}"></script>
    {% endblock %}
{% endblock %}
