{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends 'base.html.twig' %}
{% block titlesm %}{{'title.index.panel'|trans}}{% endblock titlesm %}
{% block body %}
	<div class="container">
		<div id="panel" class="row">
			<div class="col">	
				{% if solutions is not empty %}
				<div class="d-flex justify-content-center my-4">
					<h3 class="display-6">{{'panel.solutions.title'|trans}}</h3>
				</div>
				<div id="listing-solutions-container" class="d-flex justify-content-center">
					<button class="btn btn-light" id="listing-solutions-backward">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
						</svg>
					</button>
					<div id="listing-solutions" class="scroll-img">
						<ul>
						{% for solution in solutions %}
							<li><a href="{{'view_connector.help.link'|trans}}{{solution}}" target="_blank"><img alt="{{solution}}" src="{{ asset('build/images/solution/' ~ solution ~ '.png') }}"></a></li>
						{% endfor %}
						</ul>
					</div>
					<button class="btn btn-light" id="listing-solutions-forward">
						<i class="fa fa-chevron-right" aria-hidden="true"></i>
					</button>
				</div>
				{% endif %}
			</div>
			<div id="info-blocks" class="container my-5 px-4">
				<div class="row justify-content-center align-center">
					<div class="col">
						<div class="row d-flex">
							<div class="card m-2 info col ">
								<div class="card-body">
									<h4 class="card-title">{{'panel.graph_tranfer_rule.desc'|trans}}</h4>
									<div id="pie_chart_transfer_rule" ></div>
								</div>
							</div>
							<div class="card m-2 info col">
								<div class="card-body">
									<h4 class="card-title">{{'panel.graph_error.title'|trans}} ({{ nbFlux }})</h4>
									<div id="pie_chart_error_doc" ></div>
								</div>   
							</div>
						</div>	
						<div  class="row d-flex">         
							<div class="card m-2 info col">
								<div class="card-body">
									<h4 class="card-title">{{ 'panel.graph_job_histo.title'|trans }}</h4>
									<div id="column_chart_job_histo" ></div>
								</div>   
							</div>
							<div class="card m-2 info col">
								<div class="card-body">
									<h4 class="card-title">{{ 'panel.graph_histo.title'|trans }}</h4>
									<div id="column_chart_histo" ></div>
								</div>   
							</div>
						</div>
						<div  class="row d-flex">   
							<div class="card m-2 info col">
								<div class="card-body">
									<h4 class="card-title">{{'panel.list_job.title'|trans}}</h4>
									<ul class="list-group">
										{% for job in listJobDetail %} 
										<li class="list-group-item">
											<a href="{{ path('task_view',{'id' : job.id }) }}">{{ job.begin|date('d/m/Y') }}</span></a>
											<span> | {{ job.duration }} {{'panel.list_job.duration'|trans}}</span>
											<span> | {{ job.status }}</span>
											<span> | {{ job.message|sensor }}</span>
										</li>
										{% endfor %}
									</ul>
								</div>   	
							</div>
							<div class="card m-2 info col">
								<div class="card-body">
									{% if errorByRule %}
									<h4 class="card-title">{{'panel.list_job.nb'|trans}}</h4>
									<ul class="list-group">
										{% for rule in errorByRule %} 
										<li class="list-group-item">
											<span class="badge">{{ rule.cpt }}</span>
											<a href="{{ path('flux_error_rule',{'id' : rule.id }) }}">{{ rule.name }}</span></a>
										</li>
										{% endfor %}
									</ul>
									{% endif %}
								</div>   
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clr"></div>
		</div>
	</div>
    <script type="text/javascript">
		let trans_click = "{{'panel.solutions.click'|trans}}";
    </script>
{% endblock %}