<h1>{{ 'email_verification.hello' | trans }}</h1>

<p>
	{{ 'email_verification.click_link' | trans }}:
	<br><br>
	<a href="{{ signedUrl }}">{{ 'email_verification.confirm_email' | trans }}</a>.
	{{ 'email_verification.link_expires' | trans }} {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	{{ 'cheers' | trans }}
</p>
