{% extends 'baseone.html.twig' %}
{% block stylesheets %}

    {{ encore_entry_link_tags('install') }}
{% endblock %}
{% block body %}
<div id="myd_top"></div>
<div class="container-fluid">
    <div id="register-container-fill-vertically" class="row main-requirements-box">
        <div class="col">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}
            <div class="row">
                <div class="col">
                    <div class="text-center main-card">
                        <h2 class="install-step-title">Install Step 5 : create your Myddleware account</h2>
                        <div class="card-body d-grid justify-content-center">
                            <div class="card register-container">
                                <div  id="register-title" class="card-header bg-success text-white">
                                    Register 
                                </div>
                                <div class="card-body">
                                    {{ form_start(registrationForm) }}
                                        <div class="mb-2 text-left">
                                            {{ form_row(registrationForm.username) }}
                                        </div>
                                        <div class="mb-2 text-left">
                                            {{ form_row(registrationForm.email) }}
                                        </div>
                                        <div class="mb-2 text-left">
                                            {{ form_row(registrationForm.plainPassword, {
                                                label: 'Password'
                                                }) 
                                            }}
                                        </div>
                                    <div class="d-grid mt-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Register</button>
                                    </div>
                                    {{ form_end(registrationForm) }}
                                    <div>
                                        <div class="d-grid mt-4">
                                            <a href="{{path('database_fixtures_load')}}" role="button" class="btn btn-outline-primary btn-block">
                                                Go back to database setup
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
{% include 'footer.html.twig' %}
</footer>
 {% block javascripts %}
     {{ encore_entry_script_tags('install') }}
 {% endblock %}
{% endblock %}
