{% extends 'base.html.twig' %}

{% block title %}{{ 'register' | trans }}
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}
	<div>
		<img src="{{ asset('images/logo/logo1.png') }}" alt="Myddleware logo" class="logo-register" />
	</div>
	<div class="register">
		<h1>{{ 'registration' | trans }}</h1>
		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
		{{ form_row(registrationForm.agreeTerms) }}
		<button type="submit" class="btn btn-dark">{{ 'create_account' | trans }}</button>
		{{ form_end(registrationForm) }}
		<div class="text-center mt-3">
			<a href="{{path('login')}}">{{ 'account_already' | trans }}?</a>
		</div>
	</div>
{% endblock %}
