{% extends 'baseone.html.twig' %}
{% block stylesheets %}
    {{ encore_entry_link_tags('install') }}
{% endblock %}
{% block title %}{% endblock %}
{% block body %}
<div id="myd_top"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <p><span id="logo"></span></p>
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading"> Install Step 3 : checking Myddleware is connected to the database</div>
                        <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Database connection check
                                </div>
                                <div class="panel-body">
                                    {% if connection_failed_message %}
                                        <p class="alert-danger">{{ connection_failed_message }}</p>
                                        <p>Go back to the previous page to reset your database connection</p>
                                    {% elseif connection_success_message %}
                                        <p class="alert-success">{{ connection_success_message }}</p>
                                    {% endif %}
                                    <div class="buttons">
                                        <button class="btn btn-default btn-lg" id="previous-btn">
                                            <a href="{{ path('database_setup') }}" id="previous">
                                                {{ 'install.previous' | trans }}
                                            </a>
                                        </button>
                                        {% if connection_failed_message %}
                                            <button class="btn btn-default btn-lg" id="next-btn" disabled>
                                                {{ 'install.next' | trans }}
                                            </button>
                                        {% elseif connection_success_message %}
                                            <button class="btn btn-default btn-lg" id="next-btn">
                                                <a href="{{ path('database_fixtures_load') }}" id="next">
                                                    {{ 'install.next' | trans }}
                                                </a>
                                            </button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
{% include 'footer.html.twig' %}
</footer>
{% block javascripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    {{ encore_entry_script_tags('install') }}
{% endblock %}
{% endblock %}