{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #}

{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	|
	{{'list_rule.title'|trans}}
{% endblock %}
{% block titlesm %}
	<div class="rule_list_view new-bar-gradient">
		{{'list_rule.title'|trans}}
		{% if nb_rule > 0 %}
			({{ nb_rule }})
		{% endif %}
	</div>
{% endblock titlesm %}
{% block body %}
	{# success message if the rule has been duplicated  #}
	{% for label, flashes in app.session.flashbag.all %}
		{% for flash in flashes %}
			{% if ( label == 'success' ) %}
				<div class="alert alert-success alert-dismissible fade show">
					{{ flash }}
				</div>
			{% endif %}
		{% endfor %}
	{% endfor %}

	<div id="rule">
		{% if nb_rule > 0 %}
			<div class="row justify-content-center align-items-center my-4 me-5 mt-5">
				<div id="rulesearchbarcontainer" class="col-auto me-5">
					<form id="rulenamesearchbar" class="d-flex" action="{{ path('regle_list') }}" method="get">
						<input type="text" id="rule_name_searchbar" data-url="{{ path('regle_list') }}" class="form-control" placeholder="Search by rule name">
					</form>
				</div>
				<div class="col-auto text-center me-5">
					<a id="exec_all" class="btn btn-outline-success" href="{{ path('regle_exec',{'id' : 'ALL' }) }}" title="" role="button">
						{{'view_rule.action.exec_all'|trans}}
					</a>
				</div>
				<div class="col-auto text-center me-5">
					<a id="exec_error" class="btn btn-warning" href="{{ path('regle_exec',{'id' : 'ERROR' }) }}" title="" role="button">
						{{'view_rule.action.exec_error'|trans}}
					</a>
				</div>
				<div class="col-auto text-center me-5">
					<a id="new_rule" class="btn btn-primary" href="{{ path('regle_stepone_animation') }}" title="" role="button">
						{{'view_rule.action.new_rule'|trans}}
					</a>
				</div>
			</div>
			<p></p>
			<div class="row justify-content-center">
				<div class="col" id="rule-list">
					<div class="table-wrapper">
						<table class="table table-hover align-middle shadow-table">
							{% if entities is not empty %}
								<thead>
									<tr>
										<th class="rounded-table-up-left">{{'rule.source'|trans}}</th>
										<th>{{'rule.target'|trans}}</th>
										<th>{{'list_rule.th.name'|trans}}</th>
										<th>{{'list_rule.th.active'|trans}}</th>
										<th>{{'list_rule.th.date_created'|trans}}</th>
										<th class="rounded-table-up-right">{{'list_rule.th.option'|trans}}</th>
									</tr>
								</thead>
								<tbody id="tbody_rule_list">
									{% for rule in entities %}
										<tr>
											<td class="solution_block text-center">
												<p><img class="vignette" src="{{ asset('build/images/solution/') }}{{rule.solution_source }}.png" alt="{{rule.solution_source }}"/></p>
												{{rule.lbl_source }}
											</td>
											<td class="solution_bloc text-center">
												<p><img class="vignette" src="{{ asset('build/images/solution/') }}{{rule.solution_target }}.png" alt="{{rule.solution_target }}"/></p>
												{{rule.lbl_target }}
											</td>
											<td class="text-center col-rule-name">
												<a href="{{ path('regle_open',{'id' : rule.id }) }}" title="{{'list_rule.btn.view'|trans}}" class="rule-name-display help-link all-link flex-center-rule-name">{{rule.name }}</a>
												<a class="mx-3 edit-button-name-list">
													<i class="fa fa-pen" aria-hidden="true"></i>
												</a>
												<div class="edit-form-container" style="display: none;">
													<form class="edit-form-name-list" action="{{ path('update_rule_name') }}" method="post">
														<input type="text" name="ruleName" class="form-control m-2" value="{{ rule.name }}" data-rule-id="{{ rule.id }}"/>
														<input type="hidden" name="ruleId" value="{{ rule.id }}"/>
														<button type="submit" class="btn btn-success btn-sm">{{ 'Save' | trans }}</button>
														<button type="button" class="btn btn-danger btn-sm close-button-name-list">
															<i class="fa fa-times" aria-hidden="true"></i>
														</button>
													</form>
												</div>
											</td>
											<td class="text-center">
												<div class="form-check form-switch rule-list-activation-switch">
													<input class="form-check-input toggle-switch-rule" 
														   type="checkbox" 
														   id="{{ rule.id }}"
														   title="{{ path('regle_update',{'id' : rule.id }) }}"
														   {{ rule.active ? 'checked' : '' }}>
												</div>
											</td>
											<td class="text-center">
												{{rule.dateCreated|date("d/m/Y") }}
												{% if app.user.getUsername == 'support' %}
													<p>
														<span class="label label-default">{{ rule.createdBy.username }}</span>
													</p>
												{% endif %}
											</td>
											<td class="text-center">
												<a href="{{ path('regle_open',{'id' : rule.id }) }}" title="{{'list_rule.btn.view'|trans}}" class="btn btn-sm btn-outline-success">
													<span class="btn-opt">
														<i class="fa fa-eye"></i>
													</span>
												</a>
												<a href="{{ path('regle_edit',{'id' : rule.id }) }}" title="{{'list_rule.btn.edit'|trans}}" class="btn btn-sm btn-outline-primary">
													<span class="btn-opt">
														<i class="fa fa-pen" aria-hidden="true"></i>
													</span>
												</a>
												<a class="delete text-decoration-none btn btn-sm btn-outline-danger" href="{{ path('regle_delete',{'id' : rule.id }) }}" title="{{'list_rule.btn.delete'|trans}}" onclick="return(confirm('{{'list_rule.delete'|trans}}'));">
													<span class="btn-opt">
														<i class="fa fa-trash" aria-hidden="true"></i>
													</span>
												</a>
											</td>
										</tr>
									{% endfor %}
									<tr class="invisibele-row-bottom">
										<th class="rounded-table-down-left">{{'rule.source'|trans}}</th>
										<th>{{'rule.target'|trans}}</th>
										<th>{{'list_rule.th.name'|trans}}</th>
										<th>{{'list_rule.th.active'|trans}}</th>
										<th>{{'list_rule.th.date_created'|trans}}</th>
										<th class="rounded-table-down-right">{{'list_rule.th.option'|trans}}</th>
									</tr>
								</tbody>
							{% endif %}
						</table>
					</div>
				</div>
			</div>
			<div class="d-flex justify-content-center mt-4">
				{% if pager.haveToPaginate %}
					{{ pagerfanta(pager, 'twitter_bootstrap4', {'routeName': 'regle_list_page'}) }}
				{% endif %}
			</div>
		{% else %}
			<div class="d-grid justify-content-center pt-4">
				<h2 class="display-6">{{'list_rule.empty'|trans}}</h2>
				<a href="{{ path('regle_stepone_animation') }}" title="" class="mt-4 btn btn-success">{{'list_rule.create_first_rule'|trans}}</a>
			</div>
		{% endif %}

	</div>
	<script type="text/javascript">
		var chemin_img = "{{ asset('build/images/regle/') }}";
var question = "Désirez-vous supprimer cette règle ?";
var confirm_exec_all = "{{ 'view_rule.action.confirm_exec_all'|trans }}";
var confirm_exec_error = "{{ 'view_rule.action.confirm_exec_error'|trans }}";
var regle_list = "{{ path('regle_list') }}";
var checkRuleNameUrlList = "{{ path('check_rule_name') }}";
	</script>
	{% block javascripts %}
		{{ encore_entry_script_tags('rulelist') }}
	{% endblock %}
{% endblock %}
