{% form_theme form 'form_div_layout.html.twig' %}
{#/*********************************************************************************
* This file is part of Myddleware.

* @package Myddleware
* @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
* @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
* @link http://www.myddleware.com	

This file is part of Myddleware.

Myddleware is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Myddleware is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 
{{form_start(form)}}
{#<form id="{{ form.vars.id }}" method="{{ form.vars.method }}" name="{{ form.vars.name }}" action="{{ form.vars.action }}"  enctype="multipart/form-data">#}
<div class="col-md-12 input-group">
    <div class="col-md-3">
        <label>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
            </svg>
        </label>
    </div>
    <div class="col-md-9">
        {% if form.vars.value.solution.source %}
            <span class="sync">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
            </span>
            {{'create_connector.source'|trans}}
        {% endif %}
        {% if form.vars.value.solution.target %}
            <span class="sync">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                </svg>
            </span> 
            {{'create_connector.target'|trans}}
        {% endif %}
    </div>
</div>
<div class="col-md-12 input-group">           
    <div class="col-md-3">{{form_label(form.name)}}</div>
    <div class="col-md-9">{{form_widget(form.name)}}</div>
</div>		
{% for key,field in form.connectorParams %}
    <div class="col-md-12 input-group">  
        <div class="col-md-3">{{ form_label(field.value) }}</div>
        <div class="col-md-9">
                {{ form_widget(field.name) }}
            {% if field.vars.value.name !='wsdl' and field.vars.value.name !='file' %}
                {{ form_widget(field.value) }}
            {% else %}
                <a id="link_wsdl" class="fancybox_upload" href="{{ path('upload', {'solution': form.vars.value.solution.name }) }}?file={{ field.vars.value.value }}" data-fancybox-type="iframe">
                    {{ form_widget(field.value, {'id' : 'param_'~field.vars.value.name}) }}
                </a>
            {% endif %}
        </div>
    </div>
{% endfor %}
<div class="col-md-12 input-group">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <button type="button" style="margin-left:20px" id="{{parent}}_test" class="testing btn-myd" disabled="disabled">{{'create_connector.test'|trans}}</button>
        <span id="{{parent}}_status"class="status"><img src="{{ asset('build/images/status_offline.png') }}" alt="status" /></span>
    </div>
</div>
<div class="col-md-12 input-group">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <input style="margin-left:20px" class="btn-large-myd" id="step_modules_confirme" type="submit" value="{{'create_connector.save'|trans}}" disabled="disabled"/>
    </div>
</div>
{{form_end(form)}}