{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends '::base.html.twig' %}
{% block titlesm %}{{'title.index.panel'|trans}}{% endblock titlesm %}
{% block body %}

    <div id="panel" align="center">	
		{% if solutions is not empty %}
		<h3>{{'panel.solutions.title'|trans}}</h3>
		<div id="listing-solutions-container">
			<button class="btn btn-primary" id="listing-solutions-backward"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
			<div id="listing-solutions" class="scroll-img">
				<ul>
				{% for solution in solutions %}
					<li><a href="{{'view_connector.help.link'|trans}}{{solution}}" target="_blank"><img alt="{{solution}}" src="{{ asset('bundles/regle/images/solution/') }}{{solution}}.png"></a></li>
				{% endfor %}
			    </ul>
			</div>
			<button class="btn btn-primary" id="listing-solutions-forward"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
	    </div>
    	{% endif %}
		<div id="info-blocks">
	        <div class="infob">
	            <h3>{{'panel.graph_tranfer_rule.desc'|trans}}</h3>
	            <div id="pie_chart_transfer_rule" style="width: 448px; height: 300px;"></div>
	        </div>
	        <div class="infob">
	            <h3>{{'panel.graph_error.title'|trans}} ({{ nbFlux }})</h3>
	            <div id="pie_chart_error_doc" style="width: 448px; height: 300px;"></div>
	        </div>        
			<div class="info">
	            <h3>{{ 'panel.graph_job_histo.title'|trans }}</h3>
	             <div id="column_chart_job_histo" style="width: 448px; height: 300px;"></div>
	        </div>
	        <div class="info">
	            <h3>{{ 'panel.graph_histo.title'|trans }}</h3>
	             <div id="column_chart_histo" style="width: 448px; height: 300px;"></div>
	        </div>
			<div class="info">
	            <h3>{{'panel.list_job.title'|trans}}</h3>
	            <ul class="list-group">
	                {% for job in listJobDetail %} 
	                  <li class="list-group-item">
	                    <a href="{{ path('task_view',{'id' : job.id }) }}">{{ job.begin }}</span></a>
	                    <span> | {{ job.duration }} {{'panel.list_job.duration'|trans}}</span>
	                    <span> | {{ job.status }}</span>
	                    <span> | {{ job.message|sensor }}</span>
	                  </li>
	                {% endfor %}
	            </ul>
	        </div>
	        <div class="info">
	            {% if errorByRule %}
	            <h3>{{'panel.list_job.nb'|trans}}</h3>
	            <ul class="list-group">
	                {% for rule in errorByRule %} 
	                  <li class="list-group-item">
	                    <span class="badge">{{ rule.cpt }}</span>
	                    <a href="{{ path('flux_error_rule',{'id' : rule.id }) }}">{{ rule.name }}</span></a>
	                  </li>
	                {% endfor %}
	            {% endif %}
	            </ul>
	        </div>
        </div>
        <div class="clr"></div>
       
    </div>

    {# ------------- PARAMETRES JQUERY ------------- #}   
    <script type="text/javascript">
    	var trans_click = "{{'panel.solutions.click'|trans}}";  
        var path_graph_type_error_doc = "{{ path('graph_type_error_doc') }}";
        var path_graph_type_transfer_rule = "{{ path('graph_type_transfer_rule') }}";
        var path_graph_type_transfer_histo = "{{ path('graph_type_transfer_histo') }}";
        var path_graph_type_job_histo = "{{ path('graph_type_job_histo') }}";
    </script>
    {# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/regle/css/home.css') }}" type="text/css" />
{% endblock css %}

{% block js %}
    <script src="{{ asset('google/js/loader.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/regle/js/lib/d3.v2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/regle/js/home.js') }}" type="text/javascript"></script>
{% endblock js %}