{% extends 'base.html.twig' %}

{% block title %}{{ 'password_reset_email_sent' | trans }}
{% endblock %}

{% block body %}
	<div>
		<img src="{{ asset('images/logo/logo1.png') }}" alt="Myddleware logo" class="logo-register" />
	</div>
	<div class="install">
		<p>
			{{ 'check_email_link' | trans }}
			{{ 'link_expires' | trans }}
			{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
		</p>
		<p>{{ 'check_spam_folder' | trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'try_again' | trans }}</a>.</p>
	</div>
{% endblock %}
