{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends '::base.html.twig' %}
{% block title %}{{parent()}} | {{'title.flux.list'|trans}}{% endblock %}
{% block titlesm %}{{'title.flux.list'|trans}}{% endblock titlesm %} 
{% block body %}
    
	<div id="flux" >
	<form action="{{ path('flux_list', {'search': 1}) }}" method="post" enctype="multipart/form-data">
	{% if nb > 0 %}
	
	<div id="fd-title-small" class="left">
		<p>{{ 'list_flux.total'|trans }} :<p> <span class="nb">{{ nb }}</span>
	</div>

	<div class="left">
		<fieldset><legend>{{'list_flux.filter.rule'|trans}}</legend>
 			{{ form_label(form.rule, 'list_flux.filter.name'|trans ) }}
			{{ form_widget(form.rule) }} 	
		</fieldset>
	</div>

	<div class="clr"></div>
	{% endif %}		

		{# Les erreurs générales du formulaire. #}
		{{ form_errors(form) }}
	
{#
		<fieldset class="border"><legend>{{'list_flux.filter.date_created'|trans}}</legend>
			{{ form_label(form.date_create_start, 'list_flux.start'|trans) }}
			{{ form_widget(form.date_create_start) }} 
			{{ form_label(form.date_create_start, 'list_flux.end'|trans) }}	
			{{ form_widget(form.date_create_end) }}
		</fieldset> 	
#}		
		<fieldset class="border"><legend>{{'list_flux.filter.id'|trans}}</legend>
 			{{ form_label(form.source_id, 'list_flux.filter.source_id'|trans) }}
			{{ form_widget(form.source_id) }} 	
 			{{ form_label(form.target_id, 'list_flux.filter.target_id'|trans) }}	
			{{ form_widget(form.target_id) }}
		</fieldset>

		<fieldset class="border"><legend>{{'list_flux.filter.date_modified'|trans}}</legend>
 			{{ form_label(form.date_modif_start, 'list_flux.start'|trans) }}
			{{ form_widget(form.date_modif_start) }} 	
 			{{ form_label(form.date_modif_end, 'list_flux.end'|trans) }}	
			{{ form_widget(form.date_modif_end) }}
		</fieldset>
		
		<fieldset class="border"><legend>{{'list_flux.filter.status'|trans}}</legend>
 			{{ form_label(form.status, 'list_flux.filter.status'|trans) }}
			{{ form_widget(form.status) }} 	
 			{{ form_label(form.gblstatus, 'list_flux.filter.global_status'|trans) }}		
			{{ form_widget(form.gblstatus) }} {{ form_widget(form.type) }}
		</fieldset>
		
		<fieldset class="border"><legend>{{'list_flux.filter.content'|trans}}</legend>
			{{ form_label(form.source_content, 'list_flux.filter.source_content'|trans) }}
			{{ form_widget(form.source_content) }} 
			{{ form_label(form.target_content, 'list_flux.filter.target_content'|trans) }}	
			{{ form_widget(form.target_content) }}
		</fieldset> 	

	
		<div class="clr"></div>		
		<div align="center">
		{# Hidden dont CSRF #}
		{{ form_rest(form) }}			
			<p>{{ form_widget(form.click_filter) }}</p>
			<p>
				{% if condition > 0 %}
					<a class="btn-large-mydinv" href="{{ path('flux_list_delete_filter') }}" title="" onclick="return(confirm('{{'list_flux.filter.delete_confirm'|trans}}'));">{{'list_flux.btn.filter_delete'|trans}}</a>
				{% endif %}				
			</p>
		</div>
        {{ form_end(form) }}

	<div class="massbtn">
		<p><a id="cancelflux" class="btn-mydinv" href="javascript:void(0);" title="">{{'list_flux.btn.cancel'|trans}} (<span></span>)</a>
		<a id="reloadflux" class="btn-mydinv" href="javascript:void(0);" title="">{{'list_flux.btn.reload'|trans}} (<span></span>)</a></p>
	</div>	
		 
	<div align="center">

		{% if nb > 0 %}
	
    	<table class="listepagerflux">
		{% if entities is not empty %}	
			<tr>
				<th><input id="massselectall" type="checkbox" name="massselectall" /> </th>
				<th>{{'list_flux.tab.id'|trans}}</th>
				<th>{{'list_flux.tab.name'|trans}}</th>
				<th>{{'list_flux.tab.source_id'|trans}}</th>
				<th>{{'list_flux.tab.target_id'|trans}}</th>
				<th>{{'list_flux.tab.reference'|trans}}</th>
				<th>{{'list_flux.tab.date_modified'|trans}}</th>
				<th>{{'list_flux.tab.statut'|trans}}</th>
				<th>{{'list_flux.tab.type'|trans}}</th>
			</tr> 
		     {% for flux in entities %}
		     <tr class="fd_{{ flux.global_status|lower }}" data-id="{{ flux.id }}">
		     	<td>
		     		{% if flux.global_status|lower == 'close' or flux.global_status|lower == 'cancel' %}
		     			<input type="checkbox" name="{{ flux.id }}" disabled="disabled" /> 
		     		{% else %}
		     			<input type="checkbox" name="{{ flux.id }}" /> 
					{% endif %}
				</td>
		     	<td><a href="{{ path('flux_info',{'id' : flux.id }) }}">{{ flux.id }}</a></td>
				<td><a href="{{ path('regle_open',{'id' : flux.rule_id }) }}" title="">{{ flux.rule_name }}</a></td>
		     	<td>{{ flux.source_id }}</td>     	
		     	<td>{{ flux.target_id }}</td>     	
		     	<td>{{ flux.source_date_modified }}</td>
				<td>{{ flux.date_modified|date("d/m/Y H:i:s") }}</td>
		     	<td class="ctr">
		     		<div class="gblstatus_{{ flux.global_status|lower }}">{{ flux.status }}
		     		{% if flux.global_status|lower == 'close' %}
		     			<span class="glyphicon glyphicon-ok"></span>
		     		{% elseif flux.global_status|lower == 'error' or flux.global_status|lower == 'open' %}
						<span class="glyphicon glyphicon-remove"></span>
					{% elseif flux.global_status|lower == 'open' %}
						<span class="glyphicon glyphicon-repeat"></span>						
					{% elseif flux.global_status|lower == 'cancel' %}
						<span class="glyphicon glyphicon-exclamation-sign"></span>
		     		{% endif %}
		     		</div>
		     	</td>	  
				<td>{{ flux.type }}</td>
			</tr>			
			{% endfor %}			
			<tr>
				<th><input id="massselectall" type="checkbox" name="massselectall" /> </th>
				<th>{{'list_flux.tab.id'|trans}}</th>
				<th>{{'list_flux.tab.name'|trans}}</th>
				<th>{{'list_flux.tab.source_id'|trans}}</th>
				<th>{{'list_flux.tab.target_id'|trans}}</th>
				<th>{{'list_flux.tab.reference'|trans}}</th>
				<th>{{'list_flux.tab.date_modified'|trans}}</th>
				<th>{{'list_flux.tab.statut'|trans}}</th>
				<th>{{'list_flux.tab.type'|trans}}</th>
			</tr>			
		{% endif %}
		</table>
		<div align="center">
			{% if pager.haveToPaginate %}
			      {{ pagerfanta(pager, 'twitter_bootstrap3', {'routeName': 'flux_list_page'}) }}
			{% endif %}
		</div>
 
		{% else %}
		<p>{{ 'list_flux.empty'|trans }}</p>
		{% endif %}

    	</div>
    </div>

    {# ------------- PARAMETRES JQUERY ------------- #}
    <script type="text/javascript">
    	var confirm_cancel = "{{'list_flux.btn.mass_cancel_confirm'|trans}}";
    	var confirm_reload = "{{'list_flux.btn.mass_reload_confirm'|trans}}";
		var path_img = "{{ asset('bundles/regle/images/') }}";
		var lang = "{{app.request.locale}}";
		var mass_cancel = "{{ path('flux_mass_cancel') }}";
		var mass_run = "{{ path('flux_mass_run') }}";
    </script>
    {# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/regle/css/flux.css') }}" type="text/css" />
{% endblock css %} 

{% block cssin %}
.myd_div_loading{
	background: url("{{ asset('bundles/regle/images/loading') }}.gif") no-repeat center center;
}

.myd_div_loading_logo{
	background: url("{{ asset('bundles/regle/images/logo/logo') }}.png") no-repeat center center;
}
{% endblock cssin %}

{% block js %}
{% endblock js %}