{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #}

{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	|
	{{'title.flux.view'|trans}}
	{{ doc.getId }}
{% endblock %}
{% block titlesm %}
	<a>{{'breadcrumb.transfert_list'|trans}}</a>
	<i class="fa-sharp fa-solid fa-arrow-right fa-flip"></i>
	{{'title.flux.view'|trans}}
	{{ doc.getId }}
{% endblock titlesm %}
{% block body %}
	<div
		id="flux" class="pt-4">
		{# ------------- FLUX ------------- #}
		<div>
			{% for message in app.flashes('success_unlock') %}
							<div class="alert alert-success">
								{{ message }}
							</div>
						{% endfor %}
			<div class="block-btn-infos d-flex justify-content-around">
				{% if ctm_btn %}
					{% for btn in ctm_btn %}
						<a href="{{ path('flux_btn_dyn',{'id' : doc.getId,'method' : btn.action,'solution' : btn.solution }) }}">
							<button type="button" class="btn btn-primary">
								{{ btn.label }}
							</button>
						</a>
					{% endfor %}
				{% endif %}
				{% if doc %}
					{# If the record has a different status than Cancel or Close #}
					{% if (doc.getGlobalStatus|lower != 'cancel' and doc.getGlobalStatus|lower != 'close' ) %}
						<a href="{{ path('flux_rerun',{'id' : doc.getId }) }}">
							<button type="button" class="btn btn-success" data-bs-toggle="tooltip" data-bs-placement="top" title="{{'view_flux.btn.tooltip.reload'|trans}}">
								{{'view_flux.btn.reload'|trans}}
							</button>
						</a>
					{% endif %}
					{% if (doc.getGlobalStatus|lower != 'cancel' and doc.getGlobalStatus|lower != 'close' ) or is_granted('ROLE_SUPER_ADMIN') %}
						<a class="btn_action_loading" href="{{ path('flux_cancel',{'id' : doc.getId }) }}">
							<button type="button" class="btn btn-warning" data-bs-toggle="tooltip" data-bs-placement="top" title="{{'view_flux.btn.tooltip.cancel'|trans}}">
								{{'view_flux.btn.cancel'|trans}}
							</button>
						</a>
					{% endif %}
					{% if read_record_btn %}
						<a class="btn_action_loading  hover-button" href="{{ path('flux_readrecord',{'id' : doc.getId }) }}">
							<button type="button" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{'view_flux.btn.tooltip.readrecord'|trans}}">
								{{'view_flux.btn.readrecord'|trans}}
							</button>
						</a>
					{% endif %}
					{% if doc.jobLock %}
						<a class="btn_action_loading" href="{{ path('document_view', {'id': doc.getId}) }}" title="{{ 'view_flux.btn.unlock'|trans }}">
							<button type="button" class="btn btn-danger">
								{{ 'view_flux.btn.unlock'|trans }}
							</button>
						</a>
					{% endif %}
				</div>
				<table id="headertab" class="listepager table document-history-table">
					<tr>
						<th>{{'view_flux.header.rule'|trans}}</th>
						<th>{{'view_flux.header.statut'|trans}}</th>
						<th>{{'view_flux.header.type'|trans}}</th>
						<th>{{'view_flux.header.attempt'|trans}}</th>
						<th>{{'view_flux.header.gblstatut'|trans}}</th>
						<th>{{'view_flux.header.dateref'|trans}}</th>
						<th>{{'view_flux.header.date_created'|trans}}</th>
						<th>{{'view_flux.header.date_modified'|trans}}</th>
						{% if doc.getParentId %}
							<th>{{'view_flux.header.parent'|trans}}</th>
						{% endif %}
					</tr>
					<tr>
						<td>
							<a href="{{ path('regle_open',{'id' : rule.getId }) }}" title="" class="help-link all-link">{{ rule.getName }}</a>
						</td>
						{# <a href="{{ path('flux_info_page',{'id' : firstParentDocumentId, 'page' : 1, 'logPage' : 1 }) }}">{{ firstParentDocumentId }}</a #}
						<td class="ctr">
							<div class="gblstatus_{{ doc.getGlobalStatus|lower }}">{{ doc.getStatus }}
								{% if doc.getGlobalStatus|lower == 'close' %}
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewbox="0 0 16 16">
										<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
									</svg>
								{% elseif doc.getGlobalStatus|lower == 'error' or doc.getGlobalStatus|lower == 'open' %}
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewbox="0 0 16 16">
										<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
									</svg>
								{% elseif doc.getGlobalStatus|lower == 'cancel' %}
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation" viewbox="0 0 16 16">
										<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
									</svg>
								{% endif %}
							</div>
						</td>
						<td class="ctr">{{ doc.getType }}</td>
						<td class="ctr">{{ doc.getAttempt }}</td>
						<td id="gblstatus" data-gbl="{{ doc.getGlobalStatus|lower }}" class="ctr">
							<div class="gblstatus_{{ doc.getGlobalStatus|lower }}">{{ doc.getGlobalStatus }}
								{% if doc.getGlobalStatus|lower == 'close' %}
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewbox="0 0 16 16">
										<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
									</svg>
								{% elseif doc.getGlobalStatus|lower == 'error' or doc.getGlobalStatus|lower == 'open' %}
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewbox="0 0 16 16">
										<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
									</svg>
								{% elseif doc.getGlobalStatus|lower == 'cancel' %}
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation" viewbox="0 0 16 16">
										<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
									</svg>
								{% endif %}
							</div>
						</td>
						<td class="ctr">{{ doc.getSourceDateModified|date("d/m/Y H:i:s") }}</td>
						<td class="ctr">{{ doc.getDateCreated|date("d/m/Y H:i:s", timezone) }}</td>
						<td class="ctr">{{ doc.getDateModified|date("d/m/Y H:i:s", timezone) }}</td>
						{% if doc.getParentId %}
							<td>
								<a href="{{ path('flux_info_page',{'id' : doc.getParentId, 'page' : 1, 'logPage' : 1 }) }}" title="">{{ doc.getParentId }}</a>
							</td>
						{% endif %}
					</tr>
				</table>
			{% endif %}
		</div>
		{# ------------- FLUX ------------- #}
		<div class="clr"></div>

		{# ------------- SOURCE ------------- #}
		<div class="row justify-content-around">
			<div class="zone">
				<p class="ctr"><img src="{{ asset('build/images/template/source.png') }}" alt="{{'view_rule.relate.solution_source'|trans}}"/></p>
				<p class="ctr">{{'view_flux.source'|trans}}</p>
				<ul id="flux_source">
					{% if source.direct_link is defined %}
						<div class="center">
							<u>
								<a href="{{ source.direct_link }}" target="_blank">{{'view_flux.direct_link'|trans}}</a>
							</u>
						</div>
						<p>
						{% endif %}
						<li class="sourceIdOfDocument">
							<span class="field">{{'view_flux.id'|trans}}
								:</span>
							<span>{{ doc.getSource }}</span>
						</li>
						{% if source %}
							{% for key, value  in source %}
								{% if value != doc.getId  and key != 'direct_link' %}
									<li class="{{ key }} {{ key == 'id' or key == 'Id' ? 'sourceIdOfDocument' : '' }}">
										<span class="field">{{ key }}</span>
										<span class="value">
											{% if value|default('')|replace({'&#039;': "'"}) != value %}
												{{ value|raw|replace({'&#039;': "'"}) }}<br>
												{% if key and linkedData[key] is defined %}
													<a href="{{ linkedData[key] }}" title="{{ value }}">{{ value }}</a><br>
													<a href="{{ path('document_list_page', {'source_id': value}) }}" title="Search Document">Search Document by this id</a>
												{% endif %}
											{% else %}
												{% if key and linkedData[key] is defined %}
													<a class="help-link all-link" href="{{ path('document_list_page', {'source_id': value}) }}" title="Search documents by this id">{{ value }}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
														<path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
														<path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
													</svg>
													</a>
													<br>
													<a class="help-link all-link" href="{{ linkedData[key] }}" title="{{ value }}">Go to record in  {{ rule.getConnectorSource().getSolution().getName()}}
													</a>
													<img class="vignette ms-1" width="32" height="32" src="{{ asset('build/images/solution/') }}{{ rule.getConnectorSource().getSolution().getName() }}.png" alt="{{ rule.getConnectorSource().getSolution().getName() }}"/>
													<br>
												{% endif %}
												{% if key and linkedData[key] is not defined %}
												{{ value }}<br>
												{% endif %}
											{% endif %}
										</span>
									</li>
								{% endif %}
							{% endfor %}
							<hr/>
						{% else %}
							{{'view_flux.empty'|trans}}
						{% endif %}
					</ul>
				</div>
				{# ------------- SOURCE ------------- #}

				{# ------------- TARGET ------------- #}
				<div class="zone">
					<p class="ctr"><img src="{{ asset('build/images/template/target.png') }}" alt="{{'view_rule.relate.solution_source'|trans}}"/></p>
					<p class="ctr">{{'view_flux.target'|trans}}</p>
					{% if target.direct_link is defined %}
						<div class="center">
							<u>
								<a href="{{ target.direct_link }}" target="_blank">{{'view_flux.direct_link'|trans}}</a>
							</u>
						</div>
						<p>
						{% endif %}
						<ul id="flux_target" data-id="{{doc.getId}}" data-rule="{{ doc.getRule }}">
							<li class="targetIdOfDocument">
								<span class="field">{{'view_flux.id'|trans}}
									:</span>
								<span>{{ doc.getTarget }}</span>
							</li>
							{% if target %}
								{% for key, value  in target %}
									{% if value != doc.getId and key != 'direct_link' %}
										<li class="{{ key }} {{ key == 'id' or key == 'Id' ? 'targetIdOfDocument' : '' }}">
											<span class="field">{{ key }}</span>
											<span class="value">
												{% if value|default('')|replace({'&#039;': "'"}) != value %}
													{{ value|raw|replace({'&#039;': "'"}) }}
												{% else %}
													{{ value }}
												{% endif %}
											</span>
										</li>
									{% endif %}
								{% endfor %}
							{% else %}
								{{'view_flux.empty'|trans}}
							{% endif %}
						</ul>
					</div>
					{# ------------- TARGET ------------- #}

					{# ------------- HISTORY ------------- #}
					<div class="zone">
						<p class="ctr"><img src="{{ asset('build/images/template/history.png') }}" alt="{{'view_rule.relate.solution_source'|trans}}"/></p>
						<p class="ctr">{{'view_flux.history'|trans}}</p>
						{% if history %}
							<ul id="flux_history">
								{% for key, value  in history %}
									{% if value != doc.getId  %}
										<li class="{{ key }}">
											<span class="field">{{ key }}</span>
											<span {% if source[key] is defined and source[key] != value %} class="modified" {% endif %}>
												{% if value|default('')|replace({'&#039;': "'"}) != value %}
													{{ value|raw|replace({'&#039;': "'"}) }}
												{% else %}
													{{ value }}
												{% endif %}
											</span>
										</li>
									{% endif %}
								{% endfor %}
							</ul>
						{% else %}
							{{'view_flux.empty'|trans}}
						{% endif %}
					</div>
					{# ------------- HISTORY ------------- #}
					<div class="clr"></div>
				</div>


				{# ------------- POST DOCUMENTS ------------- #}
				{% if nb_post_documents > 0 %}
					<div id="fd-title-small" class="left">
						<p>{{'view_flux.nbPostDocuments'|trans}}</p>
						<p>
							<span class="nb">{{ nb_post_documents }}</span>
						</p>
					</div>
					<div class="clr"></div>
				{% endif %}
				{# ------------- POST DOCUMENTS ------------- #}
				<div id="message">
					{% if nb_post_documents > 0 %}
						<table class="listepager table">
							{% if entities is not empty %}
								<tr>
									<th>{{'list_flux.tab.id'|trans}}</th>
									<th>{{'list_flux.tab.name'|trans}}</th>
									<th>{{'list_flux.tab.source_id'|trans}}</th>
									<th>{{'list_flux.tab.target_id'|trans}}</th>
									<th>{{'list_flux.tab.date_modified'|trans}}</th>
									<th>{{'list_flux.tab.type'|trans}}</th>
									<th>{{'list_flux.tab.statut'|trans}}</th>
								</tr>
								{% for flux in post_documents %}
									<tr class="fd_{{ flux.globalStatus|lower }}" data-id="{{ flux.id }}">
										<td class="ctr">
											<a href="{{ path('flux_info_page',{'id' : flux.id, 'page' : 1, 'logPage' : 1 }) }}" class="help-link all-link">{{ flux.id }}</a>
										</td>
										<td class="ctr">
											<a href="{{ path('regle_open',{'id' : flux.rule }) }}" title="" class="help-link all-link">{{ attribute(post_Documents_Rule,flux.id) }}</a>
										</td>
										<td class="ctr">{{ flux.source }}</td>
										<td class="ctr">{{ flux.target }}</td>
										<td class="ctr">{{ flux.dateModified|date("d/m/Y H:i:s") }}</td>
										<td class="ctr">{{ flux.type }}</td>
										<td class="ctr">
											<div class="gblstatus_{{ flux.globalStatus|lower }}">{{ flux.status }}
												{% if flux.globalStatus|lower == 'close' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewbox="0 0 16 16">
														<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
													</svg>
												{% elseif flux.globalStatus|lower == 'error' or flux.globalStatus|lower == 'open' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewbox="0 0 16 16">
														<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
													</svg>
												{% elseif flux.globalStatus|lower == 'open' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
														<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
													</svg>
												{% elseif flux.globalStatus|lower == 'cancel' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation" viewbox="0 0 16 16">
														<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
													</svg>
												{% endif %}
											</div>
										</td>
									</tr>
								{% endfor %}
								<tr>
									<th>{{'list_flux.tab.id'|trans}}</th>
									<th>{{'list_flux.tab.name'|trans}}</th>
									<th>{{'list_flux.tab.source_id'|trans}}</th>
									<th>{{'list_flux.tab.target_id'|trans}}</th>
									<th>{{'list_flux.tab.date_modified'|trans}}</th>
									<th>{{'list_flux.tab.type'|trans}}</th>
									<th>{{'list_flux.tab.statut'|trans}}</th>
								</tr>
							{% endif %}
						</table>
						<div class="d-flex justify-content-center">
							{% if pager.haveToPaginate %}
								<div class="d-flex">
									{% if pager.haveToPaginate %}
										{{ pagerfanta(pager, 'twitter_bootstrap4', { 'routeParams' : { 'id': doc.getId, 'page' : 1, 'logPage' : 1 }, 'routeName': 'flux_info_page' } ) }}
									{% endif %}
								</div>
							{% endif %}
						</div>
					{% endif %}
				</div>


				{# ------------- HISTORY DOCUMENTS ------------- #}
				{% if nb_history_documents > 0 %}
					<div id="fd-title-small" class="left">
						<p>{{'view_flux.nbHistoryDocuments'|trans}}</p>
						<p>
							<span class="nb">{{ nb_history_documents }}</span>
						</p>
					</div>
					<div class="clr"></div>
				{% endif %}
				{# ------------- HISTORY DOCUMENTS ------------- #}
				<div id="message" class="d-grid">
					{% if nb_history_documents > 0 %}
						<table class="listepager document-history-table">
							{% if entities is not empty %}
								<tr>
									<th>{{'list_flux.tab.id'|trans}}</th>
									<th>{{'list_flux.tab.name'|trans}}</th>
									<th>{{'list_flux.tab.source_id'|trans}}</th>
									<th>{{'list_flux.tab.target_id'|trans}}</th>
									<th>{{'list_flux.tab.date_modified'|trans}}</th>
									<th>{{'list_flux.tab.type'|trans}}</th>
									<th>{{'list_flux.tab.statut'|trans}}</th>
								</tr>
								{% for flux in history_documents %}
									<tr class="fd_{{ flux.globalStatus|lower }}" data-id="{{ flux.id }}">
										<td class="ctr">
											{% if current_document == flux.id %}
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewbox="0 0 16 16">
													<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
												</svg>
											{% else %}
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewbox="0 0 16 16">
													<path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
												</svg>
											{% endif %}
											<a href="{{ path('flux_info_page',{'id' : flux.id, 'page' : 1, 'logPage' : 1 }) }}" class="help-link all-link">{{ flux.id }}</a>
										</td>
										<td class="ctr">
											<a href="{{ path('regle_open',{'id' : rule.getId }) }}" title="" class="help-link all-link">{{ rule.getName }}</a>
										</td>
										<td class="ctr">{{ flux.source }}</td>
										<td class="ctr">{{ flux.target }}</td>
										<td class="ctr">{{ flux.sourceDateModified|date("d/m/Y H:i:s", timezone) }}</td>
										<td class="ctr">{{ flux.type }}</td>
										<td class="ctr">
											<div class="gblstatus_{{ flux.globalStatus|lower }}">{{ flux.status }}
												{% if flux.globalStatus|lower == 'close' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewbox="0 0 16 16">
														<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
													</svg>
												{% elseif flux.globalStatus|lower == 'error' or flux.globalStatus|lower == 'open' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewbox="0 0 16 16">
														<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
													</svg>
												{% elseif flux.globalStatus|lower == 'open' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
														<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
													</svg>
												{% elseif flux.globalStatus|lower == 'cancel' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation" viewbox="0 0 16 16">
														<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
													</svg>
												{% endif %}
											</div>
										</td>
									</tr>
								{% endfor %}

								<tr>
									<th>{{'list_flux.tab.id'|trans}}</th>
									<th>{{'list_flux.tab.name'|trans}}</th>
									<th>{{'list_flux.tab.source_id'|trans}}</th>
									<th>{{'list_flux.tab.target_id'|trans}}</th>
									<th>{{'list_flux.tab.date_modified'|trans}}</th>
									<th>{{'list_flux.tab.type'|trans}}</th>
									<th>{{'list_flux.tab.statut'|trans}}</th>
								</tr>
							{% endif %}
						</table>
						<div
							class="d-flex justify-content-center">

							{# ------------- HISTORY DOCUMENTS ------------- #}
							<div class="pagination-flux-history">
								{% if pager.haveToPaginate %}
									{{ pagerfanta(documentPagination.pager, 'default', { (documentPagination.pageParameterName): documentPagination.pager.currentPage }) }}
								{% endif %}
							</div>
						</div>
					{% endif %}
				</div>


				{# ------------- PARENT RELATE DOCUMENTS ------------- #}
				{% if nb_parent_documents > 0 %}
					<div id="fd-title-small" class="left">
						<p>{{'view_flux.nbParentDocuments'|trans}}</p>
						<p>
							<span class="nb">{{ nb_parent_documents }}</span>
						</p>
					</div>
					<div class="clr"></div>
				{% endif %}
				{# ------------- PARENT RELATE DOCUMENTS ------------- #}
				<div id="message" class="d-grid">
					{% if nb_parent_documents > 0 %}
						<table class="listepager table">
							{% if entities is not empty %}
								<tr>
									<th>{{'list_flux.tab.id'|trans}}</th>
									<th>{{'list_flux.tab.name'|trans}}</th>
									<th>{{'list_flux.tab.source_field'|trans}}</th>
									<th>{{'list_flux.tab.source_id'|trans}}</th>
									<th>{{'list_flux.tab.date_modified'|trans}}</th>
									<th>{{'list_flux.tab.type'|trans}}</th>
									<th>{{'list_flux.tab.statut'|trans}}</th>
								</tr>
								{% for flux in parent_documents %}
									<tr class="fd_{{ flux.globalStatus|lower }}" data-id="{{ flux.id }}">
										<td class="ctr">
											<a href="{{ path('flux_info_page',{'id' : flux.id, 'page' : 1, 'logPage' : 1 }) }}" class="help-link all-link">{{ flux.id }}</a>
										</td>
										<td class="ctr">
											<a href="{{ path('regle_open',{'id' : flux.rule }) }}" title="" class="help-link all-link">{{ attribute(parent_Documents_Rule,flux.id) }}</a>
										</td>
										<td class="ctr">{{ flux.sourceField }}</td>
										<td class="ctr">{{ flux.source }}</td>
										<td class="ctr">{{ flux.dateModified|date("d/m/Y H:i:s") }}</td>
										<td class="ctr">{{ flux.type }}</td>
										<td class="ctr">
											<div class="gblstatus_{{ flux.globalStatus|lower }}">{{ flux.status }}
												{% if flux.globalStatus|lower == 'close' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewbox="0 0 16 16">
														<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
													</svg>
												{% elseif flux.globalStatus|lower == 'error' or flux.globalStatus|lower == 'open' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewbox="0 0 16 16">
														<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
													</svg>
												{% elseif flux.globalStatus|lower == 'open' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
														<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
													</svg>
												{% elseif flux.globalStatus|lower == 'cancel' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation" viewbox="0 0 16 16">
														<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
													</svg>
												{% endif %}
											</div>
										</td>
									</tr>
								{% endfor %}
								<tr>
									<th>{{'list_flux.tab.id'|trans}}</th>
									<th>{{'list_flux.tab.name'|trans}}</th>
									<th>{{'list_flux.tab.source_field'|trans}}</th>
									<th>{{'list_flux.tab.source_id'|trans}}</th>
									<th>{{'list_flux.tab.date_modified'|trans}}</th>
									<th>{{'list_flux.tab.type'|trans}}</th>
									<th>{{'list_flux.tab.statut'|trans}}</th>
								</tr>
							{% endif %}
						</table>
						<div class="d-flex justify-content-center">
							{% if pager.haveToPaginate %}
								<div class="d-flex justify-content-center">
									{% if pager.haveToPaginate %}
										{{ pagerfanta(pager, 'twitter_bootstrap4', { 'routeParams' : { 'id': doc.getId, 'page' : 1, 'logPage' : 1 }, 'routeName': 'flux_info_page' } ) }}
									{% endif %}
								</div>
							{% endif %}
						</div>
					{% endif %}
				</div>


				{# ------------- CHILD RELATE DOCUMENTS ------------- #}
				{% if nb_child_documents > 0 %}
					<div id="fd-title-small" class="left">
						<p>{{'view_flux.nbChildDocuments'|trans}}</p>
						<p>
							<span class="nb">{{ nb_child_documents }}</span>
						</p>
					</div>
					<div class="clr"></div>
				{% endif %}
				{# ------------- CHILD RELATE DOCUMENTS ------------- #}
				<div id="message">
					{% if nb_child_documents > 0 %}
						<table class="listepager table">
							{% if entities is not empty %}
								<tr>
									<th>{{'list_flux.tab.id'|trans}}</th>
									<th>{{'list_flux.tab.name'|trans}}</th>
									<th>{{'list_flux.tab.source_field'|trans}}</th>
									<th>{{'list_flux.tab.source_id'|trans}}</th>
									<th>{{'list_flux.tab.date_modified'|trans}}</th>
									<th>{{'list_flux.tab.type'|trans}}</th>
									<th>{{'list_flux.tab.statut'|trans}}</th>
								</tr>
								{% for flux in child_documents %}
									<tr class="fd_{{ flux.globalStatus|lower }}" data-id="{{ flux.id }}">
										<td class="ctr">
											<a href="{{ path('flux_info_page',{'id' : flux.id, 'page' : 1, 'logPage' : 1 }) }}" class="help-link all-link">{{ flux.id }}</a>
										</td>
										<td class="ctr">
											<a href="{{ path('regle_open',{'id' : flux.rule }) }}" title="" class="help-link all-link">{{ attribute(child_Documents_Rule,flux.id) }}</a>
										</td>
										<td class="ctr">id</td>
										<td class="ctr">{{ flux.source }}</td>
										<td class="ctr">{{ flux.dateModified|date("d/m/Y H:i:s") }}</td>
										<td class="ctr">{{ flux.type }}</td>
										<td class="ctr">
											<div class="gblstatus_{{ flux.globalStatus|lower }}">{{ flux.status }}
												{% if flux.globalStatus|lower == 'close' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewbox="0 0 16 16">
														<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
													</svg>
												{% elseif flux.globalStatus|lower == 'error' or flux.globalStatus|lower == 'open' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewbox="0 0 16 16">
														<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
													</svg>
												{% elseif flux.globalStatus|lower == 'open' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
														<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
													</svg>
												{% elseif flux.globalStatus|lower == 'cancel' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation" viewbox="0 0 16 16">
														<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
													</svg>
												{% endif %}
											</div>
										</td>
									</tr>
								{% endfor %}
								<tr>
									<th>{{'list_flux.tab.id'|trans}}</th>
									<th>{{'list_flux.tab.name'|trans}}</th>
									<th>{{'list_flux.tab.source_field'|trans}}</th>
									<th>{{'list_flux.tab.source_id'|trans}}</th>
									<th>{{'list_flux.tab.date_modified'|trans}}</th>
									<th>{{'list_flux.tab.type'|trans}}</th>
									<th>{{'list_flux.tab.statut'|trans}}</th>
								</tr>
							{% endif %}
						</table>
						<div class="d-flex justify-content-center">
							{% if pager.haveToPaginate %}
								<div class="d-flex justify-content-center">
									{% if pager.haveToPaginate %}
										{{ pagerfanta(pager, 'twitter_bootstrap4', { 'routeParams' : { 'id': doc.getId, 'page' : 1, 'logPage' : 1 }, 'routeName': 'flux_info_page' } ) }}
									{% endif %}
								</div>
							{% endif %}
						</div>
					{% endif %}
				</div>


				{# ------------- MESSAGE ------------- #}
				{% for message in app.flashes('success') %}
					<div class="alert alert-success">
						{{ message }}
					</div>
				{% endfor %}


				<div class="nbr_and_comment d-flex flex-row justify-content-safe m-2">
					{% if nb > 0 %}
						<div id="fd-title-small" class="left">
							<p>{{'view_flux.nblogs'|trans}}</p>
							<p>
								<span class="nb">{{ nb_logs }}</span>
							</p>
						</div>
						<div class="clr"></div>
					{% endif %}

					<div
						class="l-5 flux-comment-container">{# {{ form_start(formComment) }}
														{{ form_widget(formComment) }}
														<button type="submit" class="btn btn-primary m-2 document-comment-submit">{{'view_flux.comment'|trans}}</button>
													{{ form_end(formComment) }} #}

					</div>
				</div>


				<div id="message">

					{% if nb > 0 %}

						<table class="listepager table">
							{% if logPagination.pager.currentPageResults is not empty %}
								<tr>
									<th>{{'view_flux.log.id'|trans}}</th>
									<th>{{'view_flux.log.ref'|trans}}</th>
									<th>{{'view_flux.log.job'|trans}}</th>
									<th>{{'view_flux.log.date_created'|trans}}</th>
									<th>{{'view_flux.log.type'|trans}}</th>
									<th>{{'view_flux.log.msg'|trans}}</th>
								</tr>
								{% for log in logPagination.pager.currentPageResults %}
									<tr class="fd_log_{{ log.getType|lower }}">
										<td class="ctr">
											{{ log.getId }}
										</td>
										<td>

											{% if log.getRef is not empty %}
												<a onclick="window.open(this.href); return false;" href="{{ path('flux_info_page', {'id': log.getRef, 'page' : 1, 'logPage' : 1}) }}" class="help-link all-link">
													{{ log.getRef }}
												</a>
											{% else %}
												{{ log.getRef }}
											{% endif %}
										</td>
										<td>
											{% if log.getJob is not empty %}
												<a href="{{ path('task_view', {'id':log.getJob.id}) }}" class="help-link all-link">{{ log.getJob.id }}</a>
											{% endif %}
										</td>
										<td>{{ log.getCreated|date("d/m/Y H:i:s", timezone) }}</td>
										<td class="ctr">
											<div class="log_{{ log.getType|lower }}">{{ log.getType }}
												{% if log.getType|lower == 's' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewbox="0 0 16 16">
														<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
													</svg>
												{% elseif log.getType|lower == 'e' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewbox="0 0 16 16">
														<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
													</svg>
												{% elseif log.getType|lower == 'w' %}
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation" viewbox="0 0 16 16">
														<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
													</svg>
												{% endif %}
											</div>
										</td>
										<td class="msg">
											{{ log.getMessage }}
										</td>
									</tr>
								{% endfor %}
								<tr>
									<th>{{'view_flux.log.id'|trans}}</th>
									<th>{{'view_flux.log.ref'|trans}}</th>
									<th>{{'view_flux.log.job'|trans}}</th>
									<th>{{'view_flux.log.date_created'|trans}}</th>
									<th>{{'view_flux.log.type'|trans}}</th>
									<th>{{'view_flux.log.msg'|trans}}</th>
								</tr>
							{% endif %}
						</table>
						{# ------------- LOGS ------------- #}
						<div
							class="d-flex justify-content-center">

							{# Import the macros file #}
							{% import 'Flux/view/macros.html.twig' as custom_macros %}

							{# Use the custom_route_generator macro with the required arguments (logPage, and documentPage) #}
							{% set custom_route_first = custom_macros.custom_route_generator_first(logPage, documentPage) %}
							{% set custom_route_previous = custom_macros.custom_route_generator_previous(logPage, documentPage) %}
							{% set custom_route_last = custom_macros.custom_route_generator_last(logPagination.pager.nbResults // logPagination.pager.maxPerPage + 1, documentPage) %}
							{% set custom_route_next = custom_macros.custom_route_generator_next(logPage, documentPage) %}

							{% set more_than_one_page = logPagination.pager.nbResults > logPagination.pager.maxPerPage %}
							{# Use the generated custom_route in your links or wherever needed #}
							{% if more_than_one_page %}
								<p class="m-1">{{logPagination.pager.currentPage}}
									out of
									{{ (logPagination.pager.nbResults / logPagination.pager.maxPerPage)|round(0, 'ceil') }}</p>

								<a class='m-1' href="{{ custom_route_first }}">
									First
								</a>
								{% if logPagination.pager.currentPage > 1 %}
									<a class='m-1' href="{{ custom_route_previous }}">
										Previous
									</a>
								{% endif %}
							{% endif %}


							{# in betweeen #}

							{% set between_pages = (logPagination.pager.nbResults // logPagination.pager.maxPerPage) - 1 %}

							{% set more_than_two_pages = between_pages > 0 %}

							{% if more_than_two_pages %}
								{% for i in 2..(between_pages + 1) %}
									{% set custom_route_between = custom_macros.custom_route_generator_between(i, documentPage) %}
									<a class='m-1' href="{{ custom_route_between }}">{{ i }}</a>
								{% endfor %}
							{% endif %}

							{# in between end #}

							{# <pre>
															{{ dump(logPagination.pager.nbResults) }}
															{{ dump(logPagination.pager.maxPerPage) }}
															{{ dump(logPagination.pager.nbResults % logPagination.pager.maxPerPage) }}
															{{ dump(more_than_one_page) }}
														</pre> #}


							{% if logPagination.pager.currentPage < logPagination.pager.nbResults // logPagination.pager.maxPerPage + 1 and logPagination.pager.nbResults % logPagination.pager.maxPerPage != 0 %}
								<a class='m-1' href="{{ custom_route_next }}">
									Next
								</a>
							{% endif %}
							{% if logPagination.pager.currentPage <= logPagination.pager.nbResults // logPagination.pager.maxPerPage and logPagination.pager.nbResults % logPagination.pager.maxPerPage != 0 %}
								<a class='m-1' href="{{ custom_route_last }}">
									Last
								</a>
							{% endif %}


						</div>

					{% else %}
						<p>{{'view_flux.empty_log'|trans}}</p>
					{% endif %}
				</div>
				{# ------------- LOGS ------------- #}
			</div>

			<div id="message" class="d-grid">
				{% if workflowLogs is not empty %}
					{% if nb_workflow_logs > 0 %}
						<div id="fd-title-small" class="left">
							<p>{{'view_flux.nbWorflowLogs'|trans}}</p>
							<p>
								<span class="nb">{{ nb_workflow_logs }}</span>
							</p>
						</div>
					{% endif %}
					<div class="">
						<table class="table">
							<thead>
								<tr>
									<th>{{ 'view_flux.workflow_log.id'|trans }}</th>
									<th>{{ 'view_flux.workflow_log.workflow'|trans }}</th>
									<th>{{ 'view_flux.workflow_log.job'|trans }}</th>
									<th>{{ 'view_flux.workflow_log.trigger_document'|trans }}</th>
									<th>{{ 'view_flux.workflow_log.generate_document'|trans }}</th>
									<th>{{ 'view_flux.workflow_log.created_by'|trans }}</th>
									<th>{{ 'view_flux.workflow_log.status'|trans }}</th>
									<th>{{ 'view_flux.workflow_log.date_created'|trans }}</th>
									<th>{{ 'view_flux.workflow_log.message'|trans }}</th>
									<th>{{ 'view_flux.workflow_log.action_name'|trans }}</th>
									<th>{{ 'view_flux.workflow_log.action_type'|trans }}</th>
								</tr>
							</thead>
							<tbody>
								{% for log in workflowLogs %}
									<tr class="fd_{{ log.status|lower }}" data-id="{{ log.id }}">
										<td class="ctr">{{ log.id }}</td>
										<td class="ctr">
											<a href="{{ path('workflow_show', {'id': log.workflow.id}) }}" class="help-link all-link">{{ log.workflow.name }}</a>
										</td>
										<td class="ctr">{{ log.job.id }}</td>
										<td class="ctr">
											{% if log.triggerDocument is not null %}
												<a href="{{ path('flux_info_page',{'id' : log.triggerDocument.id, 'page' : 1, 'logPage' : 1 }) }}" class="help-link all-link">{{ log.triggerDocument.id }}</a>
											{% else %}
												<span></span>
											{% endif %}
										</td>
										<td class="ctr">
											{% if log.generateDocument is not null %}
												<a href="{{ path('flux_info_page',{'id' : log.generateDocument.id, 'page' : 1, 'logPage' : 1 }) }}" class="help-link all-link">{{ log.generateDocument.id }}</a>
											{% else %}
												<span></span>
											{% endif %}
										</td>
										<td class="ctr">{{ log.createdBy }}</td>
										<td class="ctr">
											<div class="gblstatus_{{ log.status|lower }}">{{ log.status }}</div>
										</td>
										<td class="ctr">{{ log.dateCreated|date('Y-m-d H:i:s') }}</td>
										<td class="ctr">{{ log.getMessage }}</td>
										<td class="ctr">
											<a href="{{ path('workflow_action_show', {'id': log.action.id}) }}" class="help-link all-link">{{ log.action.name }}</a>
										</td>
										<td class="ctr">{{ log.action.action }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% endif %}
			</div>


			<script type="text/javascript">
				var path_img = "{{ asset('build/images/regle/') }}";
				var chemin_img = "{{ asset('build/images/regle/') }}";
				var inputs_flux = "{{ path('flux_save') }}";
			</script>
		{% endblock %}
