{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 
{% form_theme form '::form_div_layout.html.twig' %}
{# BTN #}
<div class="block-btn-infos">
	<a href="{{ path('connector_delete',{'id' : connector.id }) }}" title="" onclick="return(confirm('{{'view_connector.btn.confirm_delete'|trans}}'));">
		<button type="button" class="btn-mydinv">
		  <span class="glyphicon glyphicon-remove"></span> {{'view_connector.btn.delete'|trans}}
		</button> 
	</a>
</div>
{# BTN #} 

<div align="center">
    {{form_start(form)}}
   {#<form name="connector" method="POST" action="">#}
        {% if error is defined %}
            <div class="alert alert-danger">{{'create_connector.params_error'|trans}}</div>
        {% endif %}
	<table id="tab_connector">
		<tr>
			<th colspan="2">{{'view_connector.info.title'|trans}}</th>
		</tr>	
		<tr>
                    <td class="title solution"><label>{{'view_connector.info.solution'|trans}}</label></td>
			<td class="value"><p><img class="vignette" src="{{ asset('bundles/regle/images/solution/') }}{{ connector.solution.name }}.png" alt="{{ connector.solution.name }}" /></p></td>
		</tr>
		<tr>
                    <td class="title"><label>{{'create_connector.connexion'|trans}}</label></td>
			<td class="value">{{form_widget(form.name)}}
                            {#<input type="text" value="{{ connector_params.label }}" id="label" data-id="{{ connector_params.id }}" />#}
                        </td>
		</tr>		
		{% for key,field in form.connectorParams %}
                  <tr>
                        <td class="title">{{ form_label(field.value) }}</td>
                        <td class="value">
                            {% if field.vars.value.name !='wsdl' and field.vars.value.name !='file' %}
                                {{ form_widget(field.value) }}
                            {% else %}
                                <a id="link_wsdl" class="fancybox_upload" href="{{ path('upload', {'solution': field.vars.value.connector.solution.name }) }}?file={{ field.vars.value.value }}" data-fancybox-type="iframe">
                                    {{ form_widget(field.value, {'id' : 'param_'~field.vars.value.name}) }}
                                </a>
                            {% endif %}

                        </td>
                  </tr>
		{#<tr>
			<td class="title">{{ field.vars.value.name }}</td>
			{% if  field.vars.value.name != 'wsdl' %}
				<td class="value"><input id="param_{{  field.vars.value.name }}" type="{{ getFieldType(field.vars.value.connector.solution, field.vars.value.name) }}" value="{{ getDecryptValue( field.vars.value.value) }}" data-param="{{  field.vars.value.name }}" data-id="{{  field.vars.value.id }}" class="params" /></td>
			{% else %}
				<td class="value">
					<a id="link_wsdl" class="fancybox_upload" href="{{ path('upload', {'solution': connector_params.solution.name }) }}?file={{ field.value }}" data-fancybox-type="iframe">
					<input id="param_{{ title }}" type="{{ field.type }}" value="{{ field.value }}" data-param="{{ title }}" data-id="{{ field.id }}" class="params" readonly="readonly" placeholder="{{ 'create_connector.upload_placeholder' }}" /></a></td>

			{% endif %}
		</tr>#}	
		{% endfor %}
	</table>
        
	<p><span id="connexion" class="btn-myd">Test</span>
		<span id="source_status" class="status">
				<img alt="status" src="{{ asset('bundles/regle/images/') }}status_offline.png">
		</span>
	</p>	
	<p>
            <button id="connector_save" type="submit" class="btn-myd">{{'view_connector.btn.save'|trans}}</button>
        <div id="validation"></div></p>
	<div id="msg_status" class="alert alert-danger" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign"></span> {{'error.connexion'|trans}} : <span class="error"></span>
	</div>
{#{{form_row(form._token)}}#}
<form>
{#{{form_end(form)}}#}

</div>  