{% if error is defined %}
    <div class="alert alert-danger">{{ error }}</div>
{% else %}
<table class="table">
    <thead>
        <tr>
            <th>{{ 'view_workflow.log_id'|trans }}</th>
            <th>{{ 'view_workflow.workflow'|trans }}</th>
            <th>{{ 'view_workflow.job'|trans }}</th>
            <th>{{ 'view_workflow.trigger_document'|trans }}</th>
            <th>{{ 'view_workflow.generate_document'|trans }}</th>
            <th>{{ 'view_workflow.status'|trans }}</th>
            <th>{{ 'view_workflow.date_created'|trans }}</th>
            <th>{{ 'view_workflow.message'|trans }}</th>
            <th>{{ 'view_workflow.action_name'|trans }}</th>
            <th>{{ 'view_workflow.action_type'|trans }}</th>
        </tr>
    </thead>
    <tbody class="workflow-logs-collapse-body">
        {% for log in pager.currentPageResults %}
            <tr class="fd_{{ log.status|lower }}" data-id="{{ log.id }}">
                <td class="ctr log-message">{{ log.id }}</td>
                <td class="ctr log-message">
                    <a href="{{ path('workflow_show', {'id': log.workflow.id}) }}" class="help-link all-link">{{ log.workflow.name }}</a>
                </td>
                <td class="ctr log-message">
                    <a href="{{ path('task_view',{'id' : log.job.id }) }}" class="help-link all-link">{{ log.job.id }}</a>
                </td>
                <td class="ctr log-message">
                    {% if log.triggerDocument is not null %}
                        <a href="{{ path('flux_modern',{'id' : log.triggerDocument.id }) }}" class="help-link all-link">{{ log.triggerDocument.id }}</a>
                    {% else %}
                        <span></span>
                    {% endif %}
                </td>
                <td class="ctr log-message">
                    {% if log.generateDocument is not null %}
                        <a href="{{ path('flux_modern',{'id' : log.generateDocument.id }) }}" class="help-link all-link">{{ log.generateDocument.id }}</a>
                    {% else %}
                        <span></span>
                    {% endif %}
                </td>
                <td class="ctr log-message">
                    <div class="gblstatus_{{ log.status|lower }}">{{ log.status }}</div>
                </td>
                <td class="ctr log-message">{{ log.dateCreated|date(app.user.dateFormat ~ ' H:i:s', app.user.timezone) }}</td>
                <td class="ctr log-message">{{ log.getMessage }}</td>
                <td class="ctr log-message">
                    <a href="{{ path('workflow_action_show', {'id': log.action.id}) }}" class="help-link all-link">{{ log.action.name }}</a>
                </td>
                <td class="ctr log-message">{{ log.action.action }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if pager.haveToPaginate %}
    <div id="logs-pagination-wrapper" class="d-flex justify-content-center mt-4">
        {% include '_pagination.html.twig' with {pager: pager, route: 'workflow_show_logs_page', queryParams: {'id': workflow.id}} %}
    </div>
    <script>
        $(document).ready(function() {
            var $wrapper = $('#logs-pagination-wrapper');
            var baseUrl = "{{ path('workflow_show_logs', {'id': workflow.id}) }}";

            function loadLogsUrl(url) {
                $('#logs-table-container').html('<div class="text-center p-3"><i class="fa fa-spinner fa-spin fa-2x"></i></div>');
                
                $.ajax({
                    url: url,
                    type: 'GET',
                    headers: { 'X-Requested-With': 'XMLHttpRequest' },
                    success: function(response) {
                        $('#logs-table-container').html(response);
                    },
                    error: function() {
                        $('#logs-table-container').html('<div class="alert alert-danger text-center">Error.</div>');
                    }
                });
            }

            $wrapper.off('click', '.pagination a').on('click', '.pagination a', function(e) {
                e.preventDefault();
                var url = $(this).attr('href');
                loadLogsUrl(url);
            });
            $wrapper.off('submit', 'form').on('submit', 'form', function(e) {
                e.preventDefault();
                var page = $(this).find('input[name="page"]').val();
                var maxPages = {{ pager.getNbPages() }};

                if (page < 1 || page > maxPages) {
                    alert('{{ "pagination.page_number"|trans }}');
                    return;
                }              
                var url = (page == 1) ? baseUrl : baseUrl + '/page-' + page;
                loadLogsUrl(url);
            });
        });
    </script>
{% endif %}
{% endif %}