{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	|
	{{ 'view_workflow.edit'| trans }}
{% endblock %}
{% block titlesm %}
	{{ 'view_workflow.edit'| trans }}
{% endblock titlesm %}

{% block body %}
	<div class="container mt-5">
		{{ form_start(form) }}
		<div class="text-center m-5">
		{# add another submit button here for convenience #}
		<button type="submit" name="submit" class="btn btn-primary m-2 form-submit-btn">{{ 'view_workflow.save'| trans }}</button>

			<a href="{{ path('workflow_show', {'id': workflow.id}) }}" class="btn btn-outline-primary m-2">
				{{ 'view_workflow.cancel_edit'| trans }}
			</a>

			<a href="{{ path('workflow_list') }}" class="btn btn-outline-primary m-2">
				{{ 'view_workflow.back'| trans }}</a>
			<a href="{{ path('workflow_create') }}" class="btn btn-outline-success m-2">{{ 'Create new workflow'| trans }}
			</a>
			<a href="{{ path('workflow_delete', {'id': workflow.id}) }}" onclick="return confirm('Are you sure you want to delete this workflow ?');" class="btn btn-outline-danger m-2">
				{{ 'view_workflow.delete'| trans }}</a>
		</div>
		<div class="mb-3">
			<div class="card-header mb-4 card-title-workflow">
				{{ 'view_workflow.edit'| trans }}
			</div>
			<div class="row mb-4">
				<div class="col-md-6">
					{{ form_row(form.name) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.Rule) }}
				</div>
			</div>
			<div class="row mb-4">
				<div class="col-md-6">
					{{ form_row(form.description) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.order) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.active) }}
				</div>
			</div>
		</div>
		<div>
			{# <div class="card-header mt-4">
						                 {{ 'view_workflow.conditions'| trans }}
						            </div> #}
			<div class="card-body m-4 conditions">
				<div class="row mb-4">
					{{ form_row(form.condition) }}
				</div>
			</div>
		</div>
		{{ form_end(form) }}
		<div>
			<div class="card-header">
				{{ 'view_workflow.action'| trans }}
			</div>

			<div class="card-body text-center m-4">

				<a href="{{ path('workflow_action_create_with_workflow', {'workflowId': workflow.id}) }}" class="btn btn-primary mb-3">

					<i class="fa fa-plus" aria-hidden="true"></i>
					{{ 'view_workflow.add_action'| trans }}</a>
			</div>
		</div>
	</div>

{% endblock %}
