{% extends 'base.html.twig' %}
{% block title %}
	{{ parent() }}
	|
	{{ 'view_workflow.edit'| trans }}
{% endblock %}
{% block titlesm %}
	{{ 'view_workflow.edit'| trans }}
{% endblock titlesm %}

{% block body %}
	<div class="container mt-5">
		{% if app.session.flashBag.has('error_workflow_name') %}
			<div class="alert alert-danger">
				{% for message in app.session.flashBag.get('error_workflow_name') %}
					{{ message }}
				{% endfor %}
			</div>
		{% endif %}
		{{ form_start(form) }}
		<div class="text-center m-5 d-flex justify-content-between align-items-center">
			<div class="left-buttons">
				<a href="{{ path('workflow_list') }}" class="btn btn-outline-primary m-2">
					{{ 'view_workflow.back'| trans }}
				</a>
			</div>

			<div class="center-buttons">
				<a href="{{ path('workflow_create') }}" class="btn btn-outline-success m-2">
					{{ 'view_edit_workflow.create'| trans }}
				</a>
			</div>

			<div class="right-buttons">
				<button type="submit" name="submit" class="btn btn-primary m-2 form-submit-btn">
					{{ 'view_workflow.save'| trans }}
				</button>

				<a href="{{ path('workflow_show', {'id': workflow.id}) }}" class="btn btn-outline-warning m-2">
					{{ 'view_workflow.cancel_edit'| trans }}
				</a>

				<a href="{{ path('workflow_delete', {'id': workflow.id}) }}" 
				   onclick="return confirm('Are you sure you want to delete this workflow ?');" 
				   class="btn btn-outline-danger m-2">
					{{ 'view_workflow.delete'| trans }}
				</a>
			</div>
		</div>
		<div class="workflow-details">
			<div class="mb-3 workflow-details">
				<div class="card-header mb-4 card-title-workflow">
					{{ 'view_workflow.edit'| trans | upper }}
				</div>
				<div class="row mb-4">
					<div class="col-md-6">
						{{ form_row(form.name) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.Rule) }}
					</div>
				</div>
				<div class="row mb-4">
					<div class="col-md-6">
						{{ form_row(form.description) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.order) }}
					</div>
					<div class="col-md-6">
						{{ form_row(form.active) }}
					</div>
				</div>
			</div>
			<div>
				{# <div class="card-header mt-4">
											{{ 'view_workflow.conditions'| trans }}
										</div> #}
				<div class="card-body m-4 conditions">
					<div class="row mb-4">
						{{ form_row(form.condition) }}
					</div>
				</div>
			</div>
			{{ form_end(form) }}
		</div>
	</div>

{% endblock %}
