{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends 'base.html.twig' %}
{% block title %}{{parent()}} | {{'title.workflow.list'|trans}}{% endblock %}
{% block titlesm %}{{'title.workflow.list'|trans}}{% endblock titlesm %} 
{% block body %} 
	<div id="task" >

<div>
	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}


			{% if nb_workflow > 0 %}
				<div id="fd-title-small" class="left">
					<p>{{'list_workflow.total'|trans}} :<p> <span class="nb_workflow">{{ nb_workflow }}</span>
				</div>


				<div class="clr"></div>
				<table class="listepager table container">
					{% if entities is not empty %}	
						<tr>
							<th>{{'list_workflow.th.id'|trans}}</th>
							<th>{{'list_workflow.th.ruleName'|trans}}</th>
							<th>{{'list_workflow.th.name'|trans}}</th>
						</tr> 
						{% for workflow in entities %}
							<tr>
							{# <td><a href="{{ path('workflow_view',{'id' : workflow.id }) }}">{{ workflow.param }}</a></td> #}
							<td>{{ workflow.id }}</td>
							<td><a href="{{ path('regle_open',{'id' : workflow.rule.id }) }}" title="{{ workflow.rule.name }}" class="text-decoration-none"> {{ workflow.rule.name }}
								</a></td>
							<td>{{ workflow.name }}</td>
							{# <td class="ctr">             
								{% if workflow.status|lower == 'end' %}
								<span class="label label-default">{{ workflow.status }}</span>
								{% else %}
								<span class="label label-warning">{{ workflow.status }}</span>
								{% endif %}
							</td>    
							<td>{{ workflow.begin|date("d/m/Y H:i:s", timezone) }}</td>
							<td>{{ workflow.end|date("d/m/Y H:i:s", timezone) }}</td>
							<td class="count">{{ workflow.open }}</td>    
							<td class="count">{{ workflow.close }}</td>
							<td class="count">{{ workflow.cancel }}</td> 
							<td class="count">{{ workflow.error }}</td>     #}
							{# <td>
								<div id="message-short-{{ loop.index }}">
									{{ workflow.message|slice(0, 100) ~ '...' }}
									<button onclick="document.getElementById('message-short-{{ loop.index }}').style.display='none';document.getElementById('message-full-{{ loop.index }}').style.display='block';">Show more</button>
								</div>
								<div id="message-full-{{ loop.index }}" style="display: none;">
									{{ workflow.message }}
									<button onclick="document.getElementById('message-full-{{ loop.index }}').style.display='none';document.getElementById('message-short-{{ loop.index }}').style.display='block';">Show less</button>
								</div>
							</td>                      #}
						</tr>            
						{% endfor %}		
						<tr>
							<th>{{'list_workflow.th.id'|trans}}</th>
							<th>{{'list_workflow.th.ruleName'|trans}}</th>
							<th>{{'list_workflow.th.name'|trans}}</th>
						</tr>			
					{% endif %}
				</table>
				<div class="d-flex justify-content-center mt-4">
					{% if pager.haveToPaginate %}
						{{ pagerfanta(pager, 'twitter_bootstrap4', {'routeName': 'task_list_page'}) }}
					{% endif %}
				</div>
			{% else %}
				<p class="display-6">{{ 'list_workflow.empty'|trans }}</p>
			{% endif %}
		</div>
    </div>

    {# ------------- PARAMETRES JQUERY ------------- #}
    <script type="text/javascript">   
		var path_img = "{{ asset('build/images/regle/') }}";
		var lang = "{{app.request.locale}}";
    </script>
    {# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}

{% block cssin %}{% endblock cssin %}

{% block js %}
{% endblock js %}