{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'title.workflow.detail'|trans }}
{% endblock %}

{% block titlesm %}
    {{ 'title.workflow.detail'|trans }}
{% endblock titlesm %} 

{% block body %} 
    {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    {% endblock js %}

    <div id="task">
        <div>
            <a href="{{ path('workflow_edit', {'id': workflow.id}) }}">Edit this workflow</a>
        </div>

        <div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            {% if workflow is not null %}
                <div>
                    <h2>{{ workflow.name }}</h2>
                    <p>{{ workflow.description }}</p>
                    <p>{{ workflow.workflowCondition }}</p>
                    <p>{{ workflow.active ? 'Active' : 'Inactive' }}</p>
                    <!-- Display other properties of the workflow here -->
                </div>

                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                                <th>Description</th>
                                <th>Order</th>
                                <th>Arguments</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for action in workflow.getWorkflowActions %}
                                <tr>
                                    <td>{{ action.name }}</td>
                                    <td>{{ action.action }}</td>
                                    <td>{{ action.description }}</td>
                                    <td>{{ action.order }}</td>
                                    <td>
                                        {% if action.arguments is iterable %}
                                            <ul>
                                                {% for key, argument in action.arguments %}
                                                    <li>{{ key }}: {{ argument }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            {{ action.arguments }}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="display-6">{{ 'list_workflow.empty'|trans }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}