{% form_theme form '::form_div_layout.html.twig' %}
{#/*********************************************************************************
* This file is part of Myddleware.

* @package Myddleware
* @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
* @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
* @link http://www.myddleware.com	

This file is part of Myddleware.

Myddleware is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Myddleware is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 
{{form_start(form)}}
{#<form id="{{ form.vars.id }}" method="{{ form.vars.method }}" name="{{ form.vars.name }}" action="{{ form.vars.action }}"  enctype="multipart/form-data">#}
<div class="col-md-12 form-group">
    <div class="col-md-3">
        <label><span class="glyphicon glyphicon-sort"></span></label>
    </div>
    <div class="col-md-9">
        {% if form.vars.value.solution.source %}
            <span class="glyphicon glyphicon-download sync"></span> {{'create_connector.source'|trans}}
        {% endif %}
        {% if form.vars.value.solution.target %}
            <span class="glyphicon glyphicon-download sync"></span> {{'create_connector.target'|trans}}
        {% endif %}
    </div>
</div>
<div class="col-md-12 form-group">           
    <div class="col-md-3">{{form_label(form.name)}}</div>
    <div class="col-md-9">{{form_widget(form.name)}}</div>
</div>		
{% for key,field in form.connectorParams %}
    <div class="col-md-12 form-group">  
        <div class="col-md-3">{{ form_label(field.value) }}</div>
        <div class="col-md-9">
                {{ form_widget(field.name) }}
            {% if field.vars.value.name !='wsdl' and field.vars.value.name !='file' %}
                {{ form_widget(field.value) }}
            {% else %}
                <a id="link_wsdl" class="fancybox_upload" href="{{ path('upload', {'solution': form.vars.value.solution.name }) }}?file={{ field.vars.value.value }}" data-fancybox-type="iframe">
                    {{ form_widget(field.value, {'id' : 'param_'~field.vars.value.name}) }}
                </a>
            {% endif %}
        </div>
    </div>
{% endfor %}
<div class="col-md-12 form-group">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <button type="button" style="margin-left:20px" id="{{parent}}_test" class="testing btn-myd" disabled="disabled">{{'create_connector.test'|trans}}</button>
        <span id="{{parent}}_status"class="status"><img src="{{ asset('bundles/regle/images/status_offline.png') }}" alt="status" /></span>
    </div>
</div>
<div class="col-md-12 form-group">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <input style="margin-left:20px" class="btn-large-myd" id="step_modules_confirme" type="submit" value="{{'create_connector.save'|trans}}" disabled="disabled"/>
    </div>
</div>
{{form_end(form)}}