{% trans_default_domain 'FOSUserBundle' %}
{#<form action="{{ path('test') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">#}
{{ form_start(form, { 'action': path('my_account'), 'attr': { 'class': 'fos_user_edit_profile' } }) }}
<div class="input-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label"> {{ form_label( form_edit.username) }}</label>
    <div class="col-sm-10">
        {{ form_widget( form_edit.username, { 'attr': {'class': 'form-control'} }) }}
        <span style="color: red"> {{ form_errors(form_edit.username) }}</span>

    </div>
</div>
<div class="input-group row">
    <label for="inputEmail3" class="col-sm-2 col-form-label"> {{ form_label( form_edit.email) }}</label>
    <div class="col-sm-10">
        {{ form_widget( form_edit.email, { 'attr': {'class': 'form-control'} }) }}
        <span style="color: red"> {{ form_errors( form_edit.email) }}</span>

    </div>
</div>
<div class="input-group row">
    <div class="col-sm-10">
        <input type="submit" class="btn btn-primary" value="{{ 'profile.edit.submit'|trans }}"/>

    </div>
</div>
{{ form_rest(form_edit) }}
{{ form_end(form_edit) }}
