{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

<li><a href="#connexion">{{'create_rule.tabs.one'|trans}}</a></li>
<li><a href="#choix">{{'create_rule.tabs.two'|trans}}</a></li>
<li><a href="#champs"><span class="badge">3</span> {{'create_rule.tabs.three'|trans}}</a></li>
<li><a href="#simulation"><span class="badge">4</span> {{'create_rule.tabs.four'|trans}}</a></li>
<li><a href="#relation"><span class="badge">5</span> {{'create_rule.tabs.five'|trans}}</a></li>
<li><a href="#filtertab"><span class="badge">6</span> {{'create_rule.tabs.six'|trans}}</a></li>
<li><a href="#params"><span class="badge">7</span> {{'create_rule.tabs.seven'|trans}}</a></li>