{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

<div class="link-help right">
	<a href="#help-content-params"><span class="glyphicon glyphicon-info-sign"></span> {{'rule.help'|trans}}</a>
</div>
<div class="clr"></div>
{% if rule_params %}
	{% for c, p in rule_params %}
		{% if p.type != 'option' %}
			<p>{{p.label|trans}} : <input {{ p.required ? 'class="require params"' : 'class="params"' }} type="{{ p.type }}" id="{{ p.name }}" name="{{ p.name }}" /></p>
		{% else %}
			<p>
				{{p.label|trans}} : <select {{ p.required ? 'class="require params"' : 'class="params"' }} name="{{ p.name }}" id="{{ p.name }}">
					{% for opt_value, opt_name in p.option %}
						<option value="{{ opt_value }}">{{ opt_name|trans }}</option>
					{% endfor %}
				</select>
			</p>
		{% endif %}
	{% endfor %}
{% endif %}

{% if duplicate_target %}
	<p>{{'create_rule.step3.params.duplicate'|trans}} :</p>
	<ul id="fields_duplicate_target">
		{% for v in duplicate_target %}
			<li data-active="false" >{{ v }}</li>
		{% endfor %}
	</ul>
{% endif %}

<p>
	<input class="btn-mydinv" id="validation" type="button" value="{{'create_rule.step3.confirm.valid'|trans}}"/>
</p>
<div id="help-content-params" class="help-content">
	<h2>{{'help.title'|trans}} <span class="glyphicon glyphicon-info-sign"></h2>
	<p>{{'help.rule.validate'|trans}}</p>
</div>