	{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

<div class="link-help right">
	<a href="#help-content-relations"><span class="glyphicon glyphicon-info-sign"></span> {{'rule.help'|trans}}</a>
</div>
<div class="clr"></div>
<div align="center"> 
{% if lst_relation_target %}
<table id="relate" class="rel">
	<tr>
		<th class="ctr"><img src="{{ asset('bundles/regle/images/template/') }}source.png" alt="{{'view_rule.relate.solution_source'|trans}}" /></th>
		<th colspan="3"></th>
		<th class="ctr"><img src="{{ asset('bundles/regle/images/template/') }}target.png" alt="{{'view_rule.relate.solution_target'|trans}}" /></th>
	</tr>	
	<tr>
		<td class="title">{{'create_rule.step3.relation.source'|trans}}</td>
		<td class="title" colspan="3">{{'create_rule.step3.relation.rule'|trans}}</td>
		<td class="title">{{'create_rule.step3.relation.target'|trans}}</td>	
	</tr>
	{% for rule in lst_relation_target %}
		<tr class="line-relation">
			<td>			    	
				<select class="lst_source_relate" id="lst_source_{{ rule.name }}" name="">
					{{ lst_relation_source | raw }}
				</select>
			</td>
			<td class="arrow"><img width="20px" src="{{ asset('bundles/regle/images/template/') }}arrow-mapping.png" alt="mapping" /></td>
			<td>
				<select class="lst_rule_relate" id="lst_{{ rule.name }}" name="">
					{{ lst_rule | raw }}
				</select>
			</td>
			<td class="arrow"><img width="20px" src="{{ asset('bundles/regle/images/template/') }}arrow-mapping.png" alt="mapping" /></td>
			<td>
				{% if rule.required %}
					<span class="glyphicon glyphicon-star"></span>
				{% endif %}		
				<input readonly="readonly" class="title" data-required="{{ rule.required }}" data-value="{{ rule.name }}" value="{{ rule.label }}" /></span>	
			</td>
		</tr>
	{% endfor %}
</table>
{% if parentRelationships %}
	<h1>{{'create_rule.step3.relation.parent'|trans}}</h1>
	<table id="parent_relate" class="rel">
		<tr>
			<th class="ctr"><img src="{{ asset('bundles/regle/images/template/') }}source.png" alt="{{'view_rule.relate.solution_source'|trans}}" /></th>
			<th colspan="3"></th>
			<th class="ctr"><img src="{{ asset('bundles/regle/images/template/') }}target.png" alt="{{'view_rule.relate.solution_target'|trans}}" /></th>
		</tr>	
		<tr>
			<td class="title">{{'create_rule.step3.relation.source'|trans}}</td>
			<td class="title" colspan="3">{{'create_rule.step3.relation.rule'|trans}}</td>
			<td class="title">{{'create_rule.step3.relation.target'|trans}}</td>	
		</tr>
		{% for i in range(0, 4) %}
			<tr class="line-parent_relation">
				<td>			    	
					<select class="parent_source_field" id="parent_source_field_{{ i }}" name="">
						{{ lst_relation_source | raw }}
					</select>
				</td>
				<td class="arrow"><img width="20px" src="{{ asset('bundles/regle/images/template/') }}arrow-mapping.png" alt="mapping" /></td>
				<td>
					<select class="parent_rule" id="parent_rule_{{ i }}" name="">
						{{ lst_rule | raw }}
					</select>
				</td>
				<td class="arrow"><img width="20px" src="{{ asset('bundles/regle/images/template/') }}arrow-mapping.png" alt="mapping" /></td>
				<td>
					<select class="parent_search_field" id="parent_search_field_{{ i }}" name="">
						{{ lst_parent_fields | raw }}
					</select>
				</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}

{% else %}
	<p>{{'create_rule.step3.relation.empty'|trans}}</p>
	
{% endif %}
</div>
<div id="help-content-relations" class="help-content">
	<h2>{{'help.title'|trans}} <span class="glyphicon glyphicon-info-sign"></h2>
	<p>{{'help.rule.relate'|trans|raw}}</p>
</div>
