{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 
{% if data_source %}
	<div class="left middle">
		<div align="center">
			<p><img src="{{ asset('bundles/regle/images/solution/') }}{{params.source.solution }}.png" alt="{{params.source.solution }}" /></p>
			<h1><img src="{{ asset('bundles/regle/images/template/source') }}.png" alt="{{'rule.source'|trans}}" /> {{'rule.source'|trans}}</h1>
		</div>
		{% if before %}
			<ul id="simulate_list">
				{% for i,data in before %}
				<li>
					{% for field,value in data %}					
						<span class="glyphicon glyphicon-tag"></span> {{ field }}
						{% if value is empty %}
						<span class="value">( {{ 'create_rule.step3.empty_field_simulate'|trans }} )</span>
						{% else %}
						<span class="value">( {{ value }} )</span>
						{% endif %}
					{% endfor %}			
				</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="left middle">
		<div align="center">
			<p><img src="{{ asset('bundles/regle/images/solution/') }}{{params.cible.solution }}.png" alt="{{params.cible.solution }}" /></p>
			<h1><img src="{{ asset('bundles/regle/images/template/target') }}.png" alt="{{'rule.target'|trans}}" /> {{'rule.target'|trans}}</h1>
		</div>
		{% if after %}
			<ul id="simulate_list">
				{% for i,data in after %}
					<li>
						{% for after_field,after_value in data %}
							<span class="glyphicon glyphicon-tag"></span> {{ after_field }} <span class="glyphicon glyphicon-arrow-right"></span>
							{% if after_value is empty %}
								<span class="value">{{ 'create_rule.step3.empty_field_simulate'|trans }}</span>
							{% else %}
								<span class="value">{{ after_value }}</span>
							{% endif %}
						{% endfor %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% else %}
	<div id="warning" class="alert alert-warning" role="alert"><span class="glyphicon glyphicon-warning-sign"></span> 
		{{ 'create_rule.step3.empty_simulate'|trans }}
	</div>	
{% endif %}