{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends 'base.html.twig' %}
{% block title %}{{parent()}} | {{'title.task.list'|trans}}{% endblock %}
{% block titlesm %}
  {{'title.task.list'|trans}}
  {% if nb > 0 %}
    ({{ nb }})
  {% endif %}
{% endblock titlesm %} 
{% block body %} 

	{% include '_notifications.html.twig' with { filter_prefix: 'task.' } %}

	<div id="task" >
<a href="{{ path('task_stopall') }}">
    <button class="btn btn-danger mb-3 mt-4">
        <i class="fa fa-ban" aria-hidden="true"></i>
        {{'Stop all the Tasks'}}
    </button>
</a>

<div>
	{% endfor %}
			{% if nb > 0 %}
				<div class="table-wrapper table-wrapper-task">
					<table class="listepager table container shadow-table">
						{% if entities is not empty %}	
						<tr>
							<th class="rounded-table-up-left">{{'list_task.th.param'|trans}}</th>
							<th>{{'list_task.th.status'|trans}}</th>
							<th>{{'list_task.th.begin'|trans}}</th>
							<th>{{'list_task.th.end'|trans}}</th>				
							<th>{{'list_task.th.open'|trans}}</th>
							<th>{{'list_task.th.close'|trans}}</th>
							<th>{{'list_task.th.cancel'|trans}}</th>
							<th>{{'list_task.th.error'|trans}}</th>	
							<th class="rounded-table-up-right">{{'list_task.th.message'|trans}}</th>
						</tr> 
						{% for task in entities %}
							{% if task.message is not empty %}
								<tr class="fd_normal">
							{% else %}
								<tr>
							{% endif %}    
							<td>
								{% if task.param|length > 60 %}
									<a href="{{ path('task_view',{'id' : task.id }) }}">{{ task.param|slice(0, 30) ~ '...' }}</a>
									<div id="param-short-{{ loop.index }}">
										{{ task.param|slice(0, 100) ~ '...' }}
										<button onclick="document.getElementById('param-short-{{ loop.index }}').style.display='none';document.getElementById('param-full-{{ loop.index }}').style.display='block';">Show more</button>
									</div>
									<div id="param-full-{{ loop.index }}" style="display: none;">
										{{ task.param }}
										<button onclick="document.getElementById('param-full-{{ loop.index }}').style.display='none';document.getElementById('param-short-{{ loop.index }}').style.display='block';">Show less</button>
									</div>
								{% else %}
									<a href="{{ path('task_view',{'id' : task.id }) }}" class="help-link all-link">{{ task.param }}</a>
								{% endif %}
							</td>
							<td class="ctr">             
								{% if task.status|lower == 'end' %}
								<span class="label label-default">{{ task.status }}</span>
								{% else %}
								<span class="label label-warning">{{ task.status }}</span>
								{% endif %}
							</td>    
							<td class="date_task_list">{{ task.begin|date(app.user.dateFormat ~ " H:i:s", app.user.timezone) }}</td>
							<td class="date_task_list">{{ task.end|date(app.user.dateFormat ~ " H:i:s", app.user.timezone) }}</td>
							<td class="count">{{ task.open }}</td>    
							<td class="count">{{ task.close }}</td>
							<td class="count">{{ task.cancel }}</td> 
							<td class="count">{{ task.error }}</td>    
							<td>
								{% if task.message is not empty %}
									<div id="message-short-{{ loop.index }}">
										{{ task.message|slice(0, 100) ~ '...' }}
										<button onclick="document.getElementById('message-short-{{ loop.index }}').style.display='none';document.getElementById('message-full-{{ loop.index }}').style.display='block';">Show more</button>
									</div>
									<div id="message-full-{{ loop.index }}" style="display: none;">
										{{ task.message }}
										<button onclick="document.getElementById('message-full-{{ loop.index }}').style.display='none';document.getElementById('message-short-{{ loop.index }}').style.display='block';">Show less</button>
									</div>
								{% else %}
									{{ task.message }}
								{% endif %}
							</td>                     
						</tr>            
						{% endfor %}		
						<tr class="invisibele-row-bottom">
							<th class="rounded-table-down-left">{{'list_task.th.id'|trans}}</th>
							<th>{{'list_task.th.status'|trans}}</th>
							<th>{{'list_task.th.begin'|trans}}</th>
							<th>{{'list_task.th.end'|trans}}</th>
							<th>{{'list_task.th.open'|trans}}</th>
							<th>{{'list_task.th.close'|trans}}</th>
							<th>{{'list_task.th.cancel'|trans}}</th>
							<th>{{'list_task.th.error'|trans}}</th>	
							<th class="rounded-table-down-right">{{'list_task.th.message'|trans}}</th>			
						</tr>			
					{% endif %}
				</table>
			</div>
				<div class="container task-pagination pt-4" >
				{% if pager.haveToPaginate %}
											{{ pagerfanta(pager, 'twitter_bootstrap4', {'routeName': 'task_list_page', 'routeParams': {'page': app.request.get('page', 1)}}) }}
											
											<form id="pageForm" method="get" class="form-inline mt-3" onsubmit="updateFormAction(event)">
												<div class="form-group" required style="width: 15em;">
													<label for="page" class="sr-only">Page</label>
													<input type="number" name="page" id="page" class="form-control" placeholder="Page number" min="1" required>
												</div>
												<button type="submit" class="btn btn-primary ml-2" style="display: flex; margin: 1em;" >Go to page</button>
											</form>
										
											<script>
											const maxPage = {{ pager.getNbPages() }};

												function updateFormAction(event) {
													event.preventDefault();
													const page = document.getElementById('page').value;
													if (page < 1 || page > maxPage) {
														alert('Please enter a valid page number between 1 and ' + maxPage);
														return;
													}
													const form = document.getElementById('pageForm');
													const baseUrl = "{{ path('task_list_page', {'page': 1}) }}";
													const action = baseUrl.replace('/page-1', '/page-' + page);
													form.action = action;
													form.submit();
												}
											</script>
										{% endif %}
			</div>
			{% else %}
				<p class="display-6">{{ 'list_task.empty'|trans }}</p>
			{% endif %}
		</div>
    </div>

    {# ------------- PARAMETRES JQUERY ------------- #}
    <script type="text/javascript">   
		var path_img = "{{ asset('build/images/regle/') }}";
		var lang = "{{app.request.locale}}";
    </script>
    {# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}

{% block cssin %}{% endblock cssin %}

{% block js %}
{% endblock js %}
