{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends 'base.html.twig' %}
{% block title %}{{parent()}} | {{'title.task.list'|trans}}{% endblock %}
{% block titlesm %}{{'title.task.list'|trans}}{% endblock titlesm %} 
{% block body %} 
	<div id="task" >
		<div>
			{% if nb > 0 %}
				<div id="fd-title-small" class="left">
					<p>{{'list_task.total'|trans}} :<p> <span class="nb">{{ nb }}</span>
				</div>
				<div class="clr"></div>
				<table class="listepager table container">
					{% if entities is not empty %}	
						<tr>
							<th>{{'list_task.th.param'|trans}}</th>
							<th>{{'list_task.th.status'|trans}}</th>
							<th>{{'list_task.th.begin'|trans}}</th>
							<th>{{'list_task.th.end'|trans}}</th>				
							<th>{{'list_task.th.open'|trans}}</th>
							<th>{{'list_task.th.close'|trans}}</th>
							<th>{{'list_task.th.cancel'|trans}}</th>
							<th>{{'list_task.th.error'|trans}}</th>	
							<th>{{'list_task.th.message'|trans}}</th>
						</tr> 
						{% for task in entities %}
							{% if task.message is not empty %}
								<tr class="fd_normal">
							{% else %}
								<tr>
							{% endif %}	
							<td><a href="{{ path('task_view',{'id' : task.id }) }}">{{ task.param }}</a></td>
							<td class="ctr">	     		
								{% if task.status|lower == 'end' %}
								<span class="label label-default">{{ task.status }}</span>
								{% else %}
								<span class="label label-warning">{{ task.status }}</span>
								{% endif %}
							</td>	
							<td>{{ task.begin|date("d/m/Y H:i:s", timezone) }}</td>
							<td>{{ task.end|date("d/m/Y H:i:s", timezone) }}</td>
							<td class="count">{{ task.open }}</td>	
							<td class="count">{{ task.close }}</td>
							<td class="count">{{ task.cancel }}</td> 
							<td class="count">{{ task.error }}</td>	
							<td>{{ task.message|sensor }}</td>			     	
						</tr>			
						{% endfor %}			
						<tr>
							<th>{{'list_task.th.id'|trans}}</th>
							<th>{{'list_task.th.status'|trans}}</th>
							<th>{{'list_task.th.begin'|trans}}</th>
							<th>{{'list_task.th.end'|trans}}</th>
							<th>{{'list_task.th.open'|trans}}</th>
							<th>{{'list_task.th.close'|trans}}</th>
							<th>{{'list_task.th.cancel'|trans}}</th>
							<th>{{'list_task.th.error'|trans}}</th>	
							<th>{{'list_task.th.message'|trans}}</th>			
						</tr>			
					{% endif %}
				</table>
				<div class="d-flex justify-content-center mt-4">
					{% if pager.haveToPaginate %}
						{{ pagerfanta(pager, 'twitter_bootstrap4', {'routeName': 'task_list_page'}) }}
					{% endif %}
				</div>
			{% else %}
				<p class="display-6">{{ 'list_task.empty'|trans }}</p>
			{% endif %}
		</div>
    </div>

    {# ------------- PARAMETRES JQUERY ------------- #}
    <script type="text/javascript">   
		var path_img = "{{ asset('build/images/regle/') }}";
		var lang = "{{app.request.locale}}";
    </script>
    {# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}

{% block cssin %}{% endblock cssin %}

{% block js %}
{% endblock js %}