{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

<li class="nav-item px-4" role="presentation">
    <button class="nav-link lh-lg active btn-lg fw-bold py-4" id="info-tab" data-bs-toggle="tab" data-bs-target="#infos" type="button" role="tab" aria-controls="infos" aria-selected="true">
        {{'view_rule.tabs.info'|trans}}
    </button>
</li>
<li class="nav-item px-4" role="presentation">
    <button class="nav-link lh-lg btn-lg fw-bold py-4" id="mapping-tab" data-bs-toggle="tab" data-bs-target="#mapping" type="button" role="tab" aria-controls="mapping" aria-selected="false">
        {{'view_rule.tabs.mapping'|trans}}
    </button>
</li>
{% if rule.relationsShip|length > 0 %}
    <li class="nav-item px-4" role="presentation">
        <button class="nav-link lh-lg btn-lg fw-bold py-4" id="relation-tab" data-bs-toggle="tab" data-bs-target="#relation" type="button" role="tab" aria-controls="relation" aria-selected="false">
            {{'view_rule.tabs.relation'|trans}}
        </button>
    </li>
{% endif %}
<li class="nav-item px-4" role="presentation">
    <button class="nav-link lh-lg btn-lg fw-bold py-4 " id="filter-tab" data-bs-toggle="tab" data-bs-target="#filter" type="button" role="tab" aria-controls="filter" aria-selected="false">
    {{'view_rule.tabs.filter'|trans}}
    </button>
</li>
<li class="nav-item px-4" role="presentation">
    <button class="nav-link lh-lg btn-lg fw-bold py-4" id="params-tab" data-bs-toggle="tab" data-bs-target="#params" type="button" role="tab" aria-controls="params" aria-selected="false">
        {{'view_rule.tabs.params'|trans}}
    </button>
</li>