{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 
{% block body %}
<div class="link-help-view row text-end mb-4">
	<a href="#help-content-info">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
		<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
		<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
		</svg>
		{{'rule.help'|trans}}
	</a>
</div>

<div class="block-btn-infos mb-4 d-flex justify-content-around">

	<a class="btn_action_loading btn btn-outline-success mb-2" href="{{ path('regle_exec',{'id' : rule.GetId }) }}" title="" role="button">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
			<path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
			<path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
			</svg>
			{{'view_rule.action.exec_rule'|trans}}
	</a>
	<a href="{{ path('regle_edit',{'id' : rule.GetId }) }}" title="" onclick="return(confirm('{{'view_rule.action.confirm_edit_rule'|trans}}'));" role="button" class="btn btn-outline-success mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
			<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
			<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
			</svg>
			{{'view_rule.action.edit_rule'|trans}}
	</a>
	<a href="{{ path('regle_displayflux',{'id' : rule.GetId }) }}" title="" role="button" class="btn btn-outline-success mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
			</svg>
			{{'view_rule.action.displayflux'|trans}}
	</a>
	<a href="{{ path('duplic_rule',{'id' : rule.GetId }) }}" title="" role="button" class="btn btn-outline-success mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-plus" viewBox="0 0 16 16">
			<path fill-rule="evenodd" d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z"/>
			<path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
			<path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
			</svg>
			{{'view_rule.action.duplic_rule'|trans}}
	</a>
	{% if is_granted('ROLE_SUPER_ADMIN') %}
		<a href="{{ path('rule_cancel_all_transfers', {'id': rule.GetId })}}" title="" role="button" onclick="return(confirm('{{'list_flux.btn.mass_cancel_confirm'|trans}}'));" class="btn btn-outline-warning mb-2" id="canceltransfers">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
				<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
				</svg> 
				{{'list_flux.btn.cancel'|trans}}
		</a>
		<a href="{{ path('rule_delete_all_transfers', {'id': rule.GetId })}}" title="" onclick="return(confirm('{{'list_flux.btn.mass_delete_confirm'|trans}}'));" role="button" class="btn btn-outline-danger mb-2" id="deletetransfers">
				<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
				<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
				</svg>
				{{'list_flux.btn.delete'|trans}}
		</a>
	{% endif %}
	<a href="{{ path('regle_delete',{'id' : rule.GetId }) }}" title="" onclick="return(confirm('{{'view_rule.action.confirm_delete_rule'|trans}}'));" role="button" class="btn btn-outline-danger mb-2">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
			<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
			</svg>
			{{'view_rule.action.delete_rule'|trans}}
	</a>
</div>

<div class="container">
	<div class="row edit-rule-overview">
		<div class="col">
			<table id="tab_rule" class="table table-striped table-sm">
				<tr>
					<th colspan="2">{{'view_rule.title.rule'|trans}}</th>
				</tr>	
				<tr>
					<td class="title">{{'view_rule.infos.active'|trans}}</td>
					<td class="value">
						<div class="onoffswitch">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="activerule" {{ (rule.GetActive == true) ? 'checked="checked"' : '' }} />
							<label class="onoffswitch-label" for="activerule">
								<span class="onoffswitch-inner">
								<span class="onoffswitch-active"><span class="onoffswitch-switch">ON</span></span>
								<span class="onoffswitch-inactive"><span class="onoffswitch-switch">OFF</span></span>
								</span>
							</label>
						</div> 
					</td>
				</tr>				
				<tr>
					<td class="title">{{'view_rule.infos.id'|trans}}</span></td>
					<td class="value">{{ rule.GetId }}</td>
				</tr>
				<tr>
					<td class="title">{{'view_rule.infos.name'|trans}}</td>
					<td class="value">{{ rule.GetName }}</td>
				</tr>
				<tr>
					<td class="title">{{'view_rule.infos.datecreated'|trans}}</td>
					<td class="value">{{ rule.GetDateCreated|date("d-m-Y H:i:s") }}</td>
				</tr>
				<tr>
					<td class="title">{{'view_rule.infos.datemodified'|trans}}</td>
					<td class="value">{{ rule.GetDateModified|date("d-m-Y H:i:s") }}</td>
				</tr>
				<tr>
					<td class="title">{{'view_rule.infos.mode'|trans}}</td>
					<td class="value"><span class="label label-default">{{ params_suite.mode }}</span></td>
				</tr>
				{% if params_suite.bidirectional is defined and params_suite.bidirectional is not empty %}	
				<tr>
					<td class="title">{{'view_rule.infos.bidirectional'|trans}}</td>
					<td class="value"><a href="{{ path('regle_open',{'id' : params_suite.bidirectional }) }}">{{ params_suite.bidirectionalName }}</a></td>
				</tr>	
				{% endif %}
				{% if duplicate_target is defined and duplicate_target is not empty %}	
				<tr>
					<td class="title">{{'view_rule.infos.duplicate_fields'|trans}}</td>
					<td class="value"><a href="{{ path('regle_open',{'id' : duplicate_target }) }}">{{ duplicate_target }}</a></td>
				</tr>	
				{% endif %}	
				{% if params_suite.customParams is defined and params_suite.customParams is not empty %}	
					{% for r in params_suite.customParams %}
						<tr>
							<td class="title">{{ r.name }}</td>
							<td class="value"><span class="label label-default">{{ r.value }}</span></td>
						</tr>	
					{% endfor %}
				{% endif %}
			</table>
		</div>
		<div class="col">
			<table id="tab_connector" class="table table-striped table-sm">
				<tr>
					<th colspan="4">{{'view_rule.title.connector'|trans}}</th>
				</tr>	
				<tr>
					<td class="title_source_ctr" colspan="2"></td>
					<td class="title_target_ctr" colspan="2">{{'view_rule.title.target'|trans}}</td>
				</tr>
				<tr>
					<td class="title_source">{{'view_rule.connector.title'|trans}}</td>
					<td class="value"><a href="{{ path('connector_open',{'id' : connector.id_source }) }}">{{ connector.lbl_source }}</a></td>
					<td class="title_target">{{'view_rule.connector.title'|trans}}</td>
					<td class="value"><a href="{{ path('connector_open',{'id' : connector.id_target }) }}">{{ connector.lbl_target }}</a></td>
				</tr>
				<tr>
					<td class="title_source">{{'view_rule.connector.solution'|trans}}</td>
					<td class="value">
						<p><img class="vignette" src="{{ asset('build/images/solution/') }}{{connector.solution_source }}.png" alt="{{connector.solution_source }}" /></p>
						{{ connector.solution_source }}</td>
					<td class="title_target">{{'view_rule.connector.solution'|trans}}</td>
					<td class="value">
						<p><img class="vignette" src="{{ asset('build/images/solution/') }}{{connector.solution_target }}.png" alt="{{connector.solution_target }}" /></p>
						{{ connector.solution_target }}</td>		
				</tr>	
				<tr>
					<td class="title_source">{{'view_rule.connector.module'|trans}}</td>
					<td class="value">{{ rule.getModuleSource }}</td>
					<td class="title_target">{{'view_rule.connector.module'|trans}}</td>
					<td class="value"> {{ rule.getModuleTarget }}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div id="help-content-info" class="help-content">
	<h2>
		{{'help.title'|trans}} 
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
		<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
		<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
		</svg>
	</h2>
	<p>{{'help.viewrule.info'|trans|raw}}</p>
</div>
	{% block javascripts %}
		{{ encore_entry_script_tags('fiche') }}
	{% endblock %}
{% endblock %}