{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

<div class="link-help-view text-end">
	<a href="#help-content-relate">
		<i class="fa fa-info-circle" aria-hidden="true"></i>
	{{'rule.help'|trans}}
	</a>
</div>

<div class="row justify-content-center text-center"> 
	{% if relate %}
	<table id="relate">
		<tr>
			<th><img src="{{ asset('build/images/template/') }}source.png" alt="{{'view_rule.relate.solution_source'|trans}}" /></th>
			<th colspan="3"></th>
			<th><img src="{{ asset('build/images/template/') }}target.png" alt="{{'view_rule.relate.solution_target'|trans}}" /></th>
		</tr>	
		<tr>
			<td class="title" colspan="2">{{'view_rule.relate.solution_source'|trans}}</td>			
			<td class="title" colspan="2">{{'view_rule.relate.rule'|trans}}</td>
			<td class="title">{{'view_rule.relate.solution_target'|trans}}</td>
			<td class="title">{{'behavior_filters.error_missing'|trans}}</td>
			<td class="title">{{'behavior_filters.error_empty'|trans}}</td>
			{% if parentRelationships %}
				<td class="title" colspan="3">{{'create_rule.step3.relation.parent_detail_view'|trans}}</td>
			{% endif %}	
		</tr>
		{% for r in relate %}
		<tr>
			<td>{{ r.getFieldNameSource }}</td>
			<td class="arrow"><img width="20px" src="{{ asset('build/images/template/') }}arrow-mapping.png" alt="mapping" /></td>
			<td>
				<a href="{{ path('regle_open',{'id' : r.getFieldId }) }}" title="{{ r.getName }}">
					{{ r.getName }} 
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
					<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
					<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
					</svg>
				</a>
			</td>
			<td class="arrow"><img width="20px" src="{{ asset('build/images/template/') }}arrow-mapping.png" alt="mapping" /></td>
			<td>{{ r.getFieldNameTarget }}</td>
			{% if r.getErrorMissing == true %}
				<td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
				<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
				</svg></td>
			{% elseif r.getErrorMissing == false %}
				<td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
				<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
				</svg></td>
			{% endif %}

			{% if r.getErrorEmpty == true %}
				<td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
				<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
				</svg></td>
			{% elseif r.getErrorEmpty == false %}
				<td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
				<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
				</svg></td>
			{% endif %}
			{% if parentRelationships %}
				<td>
					{% if r.getParent %}
						{{'create_rule.step3.relation.yes'|trans}}
					{% endif %}	
				</td>
			{% endif %}
		</tr>
		{% endfor %}
	</table>
	{% else %}
		<p>{{'view_rule.relate.empty'|trans}}</p>
	{% endif %}
</div>

<div id="help-content-relate" class="help-content">
	<h2>{{'help.title'|trans}} 
		<i class="fa fa-info-circle" aria-hidden="true"></i>
	</h2>
	<p>{{'help.viewrule.relate'|trans|raw}}</p>
</div>