<section class="mb-5 d-none" id="step-5">
  <div class="section-chevron" aria-hidden="true">
    <a href="#step-5" class="section-chevron">
      <i class="fa-solid fa-circle-chevron-down"></i>
    </a>
  </div>

  <button id="nav-create-rule-mapping"  class="nav-create-rule btn btn-outline-primary mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#ruleCreateNav" aria-controls="ruleCreateNav">
    <i class="fa-solid fa-list-ul"></i>
  </button>
  <h3 class="section-create-rule fw-bold mb-4">
    {{ 'create_rule.step5.title'|trans }}
  </h3>

  <div class="card border-0 shadow-sm">
    <div class="card-body">

      <div class="table-responsive">
        <table class="table table-sm align-middle" id="rule-mapping-table">
          <thead>
            <tr>
              <th class="col-mapping-equal">{{ 'create_rule.step3.relation.target'|trans }}</th>
              <th class="col-mapping-equal">{{ 'create_rule.step3.relation.source'|trans }}</th>
              <th class="col-mapping-equal"></th>
              <th class="col-mapping-delete"></th>
            </tr>
          </thead>
          <tbody id="rule-mapping-body">
            {# lignes ajoutées en JS #}
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-end">
        <button class="btn btn-outline-success me-3" id="rule-mapping-simulation" type="button" data-bs-toggle="modal" data-bs-target="#mapping-simulation">
          <i class="fa fa-play" aria-hidden="true"></i>
        </button>
        <button class="btn btn-primary" id="rule-mapping-add" type="button">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
    </div>
  </div>

  <button id="rule-save" type="button" class="btn btn-success mt-4" data-path-save="{{ path('rule_create_save') }}">
    {{ 'create_rule.step5.formula.save'|trans }}
  </button>
  <a href="{{ path('regle_list_page') }}" id="rule-create-back" class="btn btn-outline-danger mt-4">
    {{ 'create_rule.step5.back'|trans }}
  </a>
</section>

    {# --- POP UP : FORMULA --- #}
    {% include 'Rule/create/_formula.html.twig' %}

    {# --- POP UP : SIMULATION --- #}
    {% include 'Rule/_simulation.html.twig' %}
