{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 
{% extends 'base.html.twig' %}
{% block title %}{{parent()}} | {{'title.rule.view'|trans}} {{rule.getName}}{% endblock %}
{% block titlesm %}
	<a href="{{ path('regle_list') }}">{{'breadcrumb.rule_list'|trans}}</a> 
	<i class="fa-sharp fa-solid fa-arrow-right fa-flip"></i>
	{{'title.rule.view'|trans}} {{rule.getName}}
{% endblock titlesm %}  
{% block body %}


<div class="container">
	<div class="link-help-view row text-end mb-4">
		<a href="#help-content-info">
			<i class="fa fa-info-circle" aria-hidden="true"></i>
			{{'rule.help'|trans}}
		</a>	
	</div>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">{{'duplicate_rule.field'|trans}}</th>
				<th scope="col">{{'duplicate_rule.current_rule'|trans}}</th>
				<th scope="col">{{'duplicate_rule.new_rule'|trans}}</th>	
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">
					{{'view_rule.infos.id'|trans}}
				</th>
				<td>
					<div class="mb-2">
					<label class="form-label">{{ rule.GetId }}</label>
					</div>
				</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">
					{{'view_rule.mapping.module_source'|trans}}
				</th>
				<td>
					<div class="mb-2">
					<label class="form-label">{{ rule.GetModuleSource }}</label>
					</div>
				</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">
					{{'view_rule.mapping.module_target'|trans}}
				</th>
				<td>
					<div class="mb-2">
					<label class="form-label">{{ rule.GetModuleTarget }}</label>
					</div>
				</td>
				<td></td>
			</tr>
			<tr>
				<th scope="row">{{'view_rule.infos.name'|trans}}</th>
				<td>
					{{rule.name}}
				</td>
				<td>
					{{ form_start(form) }}
					<div class="col-lg-12" style="height: auto;">
					{{ form_widget(form.name) }}
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">{{'view_rule.title.source'|trans}}</th>
				<td>
					{{connectorSourceUser}}
				</td>	
				{# {% for value in newRuleSolutionTarget %}	 #}
					<td colspan="2">					
						{# {% if currentRuleSolutionSource == value.solution.name %}
						 #}
						
							{{ form_widget(form.connectorSource) }}
						
						{# {% endif %}
					{% elseif currentRuleSolutionSource != value.solution.name %}
							<p>R</p> #}
					</td>
				{# {% endfor %} #}
			</tr>
			<tr>
				<th scope="row">{{'view_rule.title.target'|trans}}</th>
				<td>
					{{connectorTarget}}
				</td>
				<td colspan="2">
				{{ form_widget(form.connectorTarget) }}
				</td>
			</tr>				
		</tbody>
	</table>
		{{ form_widget(form.save) }}
		<a href="{{ path('regle_open',{'id' : rule.id }) }}">
			<button class="btn btn-outline-warning mb-2" type="button">{{'duplicate_rule.cancel'|trans}}</button>
		</a>
		{{ form_end(form) }}
</div>


<div id="help-content-info" class="help-content">
	<h2>
		{{'help.title'|trans}} 
		<i class="fa fa-info-circle" aria-hidden="true"></i>
	</h2>
	<p>{{'help.rule.duplicate'|trans|raw}}</p>
</div>
</div>
	{% block javascripts %}
		{{ encore_entry_script_tags('fiche') }}
	{% endblock %}
{% endblock %}