{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends 'base.html.twig' %}
{% block title %}{{parent()}} | {{'create_rule.step3.title'|trans}}{% endblock %}
{% block titlesm %}

	<a href="{{ path('regle_list') }}">{{'breadcrumb.rule_list'|trans}}</a>

	{% if params.version is defined %}
	{{'title.rule.edit'|trans}} {{ params.rulename }} {{ params.version }}
	{% else %}
	{{'title.rule.create_name'|trans}} {{ params.rulename }} 
	{% endif %}
{% endblock titlesm %} 

{% block body %}
    <div id="rule_mapping">
		{# ------------- ONGLETS ------------- #}
		<div>	
			<ul class="nav nav-tabs justify-content-center" id="ruleConfigTabs" role="tablist">
				{% include "Rule/create/onglets/index.html.twig" %}
			</ul>
			<div id="ruleConfigTabContent" 	class="tab-content my-4">
				{% include "Rule/create/onglets/note.html.twig" %}	{# Note #}	
				<div id="connexion" class="tab-pane fade mx-4 pb-4" role="tabpanel" aria-labelledby="connection-tab"></div>
				<div id="choix" class="tab-pane fade mx-4 pb-4" role="tabpanel" aria-labelledby="select-modules-tab"></div>
				<div id="champs" class="tab-pane mx-4 pb-4 active justify-content-center" role="tabpanel" aria-labelledby="fields-tab">
					{% include "Rule/create/onglets/champs.html.twig" %}
				</div>
				<div id="simulation" class="tab-pane fade mx-4 pb-4" role="tabpanel" aria-labelledby="simulation-tab">
					{% include "Rule/create/onglets/simulation.html.twig" %}
				</div>		
				<div id="relation" class="tab-pane fade mx-4 pb-4" role="tabpanel" aria-labelledby="relation-tab">
					{% include "Rule/create/onglets/relation.html.twig" %}
				</div>		
				<div id="filtertab" class="tab-pane fade mx-4 pb-4" role="tabpanel" aria-labelledby="filter-tab">
					{% include "Rule/create/onglets/filter.html.twig" %}
				</div>				
				<div id="params" class="tab-pane fade mx-4 pb-4" role="tabpanel" aria-labelledby="params-tab">
					{% include "Rule/create/onglets/params.html.twig" %}
				</div>
			</div>	
		</div>
    </div>
    {# ------------- PARAMETRES JQUERY ------------- #}
    <script type="text/javascript">	
	var path_img = "{{ asset('build/images/regle/') }}";
	var onglets = {
		active: 2,
		disabled: [0,1]
	};
	var placeholder = "{{'create_rule.step3.placeholder'|trans}}";
    var change = true;
    var lang = "{{app.request.locale}}";
	var confirm_success = "{{'create_rule.step3.confirm.success'|trans}}";
	var confirm_error = "{{'create_rule.step3.confirm.error'|trans}}";
	var filter_liste = '{{ lst_filter | raw }}';
	var style_template = "myddleware";
	var data_wait = "{{'create_rule.step3.data_wait'|trans}}";
	var save_wait = "{{'create_rule.step3.save_wait'|trans}}";
	var formula_error = "{{'create_rule.step3.formula.error'|trans}}";
	var formula_create = "{{'create_rule.step3.formula.create'|trans}}";
	var infobulle_fields = "{{'create_rule.step3.infobulle'|trans}}";
	
	var path_info_field = "{{ path('path_info_field_not_param') }}";
	var validation = "{{ path('regle_validation') }}";
	var return_success = "{{ path('regle_list') }}";
	var lookupgetrule = "{{ path('get_rules_for_lookup') }}";
	var lookupgetfieldroute = "{{ path('rule_get_fields_for_rule') }}";
	const translations = {
		selectRule: "{{ 'create_rule.step3.formula.select_rule'|trans }}",
		selectField: "{{ 'create_rule.step3.formula.select_field'|trans }}"
	};
	const targetValues = {{ target_values|json_encode|raw }};
	const targetGroupSelect = document.getElementById('target_group_select');
	const targetValueSelect = document.getElementById('target_value_select');
	const basepathforGetFieldInfoWithFakeId = "{{ path('api_field_info', {'type': 'source', 'field': 'fake_id'}) }}";

		// variables to use for the lookup function when we need to select which rules to get for the lookup, only the rules which have the same connector id for the source and target
	var connectorsourceidlookup = {{ params.connector.source }};
	var connectortargetidlookup = {{ params.connector.cible }};
	
	// RELOAD ----
	{% if params.reload.fields is defined and params.reload.params is defined %}
		var fields = {{ params.reload.fields |raw }};
		var params = {{ params.reload.params |raw }};
	{% else %}
		var fields = false;
		var params = false;
	{% endif %}

	{% if params.reload.relate is defined %}
		var relate = {{ params.reload.relate |raw }};
	{% else %}
		var relate = false;
	{% endif %}

	{% if params.reload.filter is defined %}
		var filter = {{ params.reload.filter |raw }};
	{% else %}
		var filter = false;
	{% endif %}

    </script>
    {# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}