{% extends 'baseone.html.twig' %}
{% block body %}
    <div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}) }} |
            <a href="{{ path('app_logout') }}">
                {{ 'layout.logout'|trans() }}
            </a>
        {% endif %}
    </div>

    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <div>
        {% block content %}
        {% endblock content %}
    </div>

    <div class="input-group row">
        <div class="col-sm-10">
            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

        </div>
    </div>
{% endblock %}