{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends "baseone.html.twig" %}
{% block title %}{{ parent() }} | {{ 'login.title'|trans }}{% endblock %}
{% set body_class = 'login' %}

{% block body %}
	<div style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
		<div class="white-reset">		
			<p class="text-center"><span class="logo_reset"></span></p>
			{{ form_start(form) }}
			{{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
				<div class="row" style="height: auto;">
					<div class="col-lg-12" style="height: auto;">
					{{ form_label(form.plainPassword.first) }}
					{{ form_widget(form.plainPassword.first) }}
					</div>
				</div>
				<div class="row" style="height: auto;">
					<div class="col-lg-12" style="height: auto;">
						{{ form_label(form.plainPassword.second) }}
						{{ form_widget(form.plainPassword.second) }}
					</div>
				</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}