{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

<div class="link-help right">
	<a href="#help-content-fields">
		<i class="fa fa-info-circle" aria-hidden="true"></i>
		{{'rule.help'|trans}}
	</a>
</div>
<div class="clr"></div>
<div class="d-flex justify-content-start ">
	<div id="source" class="source">
		<div class="d-flex flex-column justify-content-center align-items-center">
			<p><img src="{{ asset('build/images/solution/' ~ params.source.solution ~'.png') }}" alt="{{params.source.solution }}" /></p>
			<h1><img src="{{ asset('build/images/template/source.png') }}" alt="{{'rule.source'|trans}}" /> {{'rule.source'|trans}}</h1>
		</div>
		<div id="catalog">
			{% if source %}
				{% for module_name, fields in source %}

					<h2><a href="#">{{ module_name }}</a></h2>
					<div class="catalog-list">
						<ul>
						{% for fieldid, fieldname in fields %}
							<li>
								<a class="fancybox" data-fancybox-type="iframe" id="{{ fieldid }}" href="{{ path('path_info_field',{'field' : fieldid, 'type' : 'source' }) }}">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
									<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
									</svg>
								</a> 
								{{ fieldid }}
							</li>		
						{% endfor %}
						</ul>	
					</div>
				{% endfor %}
			{% endif %}
		</div>
	</div>

	<div id="cible" class="flex-shrink-1">
		<div class="d-flex flex-column justify-content-center align-items-center" data-title="true">
			<p><img src="{{ asset('build/images/solution/'~params.cible.solution~'.png') }}" alt="{{ params.cible.solution }}" /></p>
			<h1><img src="{{ asset('build/images/template/target.png') }}" alt="{{'rule.target'|trans}}" /> {{'rule.target'|trans}}</h1>
		</div>

		<div class="clr"></div>

		{# ----------- BLOCK ADD FILTER ---------- #}
		{% if fieldMappingAddListType %}	
			<div id="blockaddfield" data-title="true">
				<button id="addField" class="btn btn-default btn-lg" type="button">
				{{'create_rule.step3.addfield.custom'|trans}}
				</button> 
				<div id="formatfield" style="display:none;">
					<p>
						<input type="text" />
						<select>
							{% for name, type_field in fieldMappingAddListType %}
								<option value="{{name}}">{{ type_field }}</option>
							{% endfor %}
						</select>
						<button id="saveBtnField" type="button" class="btn btn-default" aria-label="Left Align">
						</button>				
					</p>
				</div>
			</div>
		{% endif %}
		{# ----------- BLOCK ADD FILTER ---------- #}

		<div class="input-group mb-2">
			<span class="input-group-text" id="filter-text">{{'create_rule.step3.filter'|trans}} : </span>
			<input id="hidefields" type="text" class="form-control" placeholder="{{'create_rule.step3.filter_fields'|trans}}" aria-label="{{'create_rule.step3.filter_fields'|trans}}" aria-describedby="filter-text" />
		</div>


		{% if cible %}	
			{% for module_name, fields in cible %}
				<h4 class="titre">{{ module_name }}</h4>
				<div id="targetfields" data-title="true">
					<div class="row justify-content-around">
						{% for field, value in fields %}
							<div class="col">
								<div data-show="true" class="champs{{ value ? ' require' : '' }} targetfield" id="{{ field }}">
									<h1 class="nom ui-widget-header">{{ value ? '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16"><path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/></svg>' : '' }} {{ field }}
										<a class="fancybox  icon-white-formula" data-fancybox-type="iframe" href="{{ path('path_info_field',{'field' : field, 'type' : 'target' }) }}">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle-fill" viewBox="0 0 16 16">
											<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"/>
											</svg>
										</a>
									</h1>
									<div data-show="" class="ui-widget-content">
										<ol>	
											<li class="fw-bold text-center placeholder bg-light">{{'create_rule.step3.placeholder'|trans}}</li>	
										</ol>
										<ul>
											<li class="formule_text" id="formule_{{ field }}"></li>
										</ul>				
										<div class="d-flex justify-content-center">
											<input class="formule btn btn-outline-success mt-2" type="button" value="{{'create_rule.step3.formula.create'|trans}}"/>
										</div>
									</div>
								</div>	
							</div>
						{% endfor %}	
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</div>
<div class="clr"></div>

<div id="help-content-fields" class="help-content">
	<h2>
		{{'help.title'|trans}}
		<i class="fa fa-info-circle" aria-hidden="true"></i>	
	</h2>
	<p>{{'help.rule.fields'|trans|raw}}</p>
</div>

<div class="windows" id="dialog" title="{{'create_rule.step3.alert.fields_title'|trans}}">
<p>{{'create_rule.step3.alert.fields'|trans}}</p>
</div>

<div class="windows" id="formule" title="{{'create_rule.step3.formula.compose'|trans}}">
	<span id="formule_table"></span>
	<div>
		<textarea id="area_insert" class="left" rows="10" cols="30"></textarea>
		<div id="area_color" class="left"></div>
		<div class="clr"></div>		
	</div>
	<div>
		<div class="left wdh">
			<p>{{ 'create_rule.step3.formula.fields'|trans }} :</p>
			<select class="listarea" id="champs_insert" name="champs_insert" multiple="multiple" size="13"></select>
		</div>
		<div class="left wdh">
			<div id="function-wizard">
				<p class="function-wizard-title">{{ 'create_rule.step3.formula.function_wizard'|trans }} :</p>
				<div class="function-wizard-select">
					<p class="function-wizard-title-function-select">{{ 'create_rule.step3.formula.select_function_title'|trans }}</p>
					<select id="function-select" class="form-select mb-2">
						<option value="">{{ 'create_rule.step3.formula.select_function'|trans }}</option>
						{% for t, v in lst_functions %}
						<option value="{{ v.getName }}" 
								data-type="{{ v.getCategoryId.getId }}"
								data-tooltip="{{ ('function.description.' ~ v.getCategoryId.getName ~ '.' ~ v.getName ) |trans }}">
							{{ v.getName }}
						</option>
					{% endfor %}
				</select>
				</div>
				{# Lookup specific dropdowns - initially hidden #}
				<div id="lookup-options" style="display: none;">
					<select id="lookup-rule" class="form-select mb-2">
						<option value="">{{ 'create_rule.step3.formula.select_rule'|trans }}</option>
					</select>
					
					<select id="lookup-field" class="form-select mb-2" disabled>
						<option value="">{{ 'create_rule.step3.formula.select_field'|trans }}</option>
					</select>
				</div>
			</div>
			<p id="flag-function-wizard-end"></p>
		</div>	
	</div>
	<div class="clr"></div>	 
	<div>
		<div id="source_info">
			{% if source_groups is not empty %}
				<label>{{'rule.source'|trans}} :</label>
				<select name="source_group" id="source_group_select">
					<option value="">{{'rule.select_group'|trans}}</option>
					{% for group_id, group_label in source_groups %}
						<option value="{{ group_id }}">{{ group_label }}</option>
					{% endfor %}
				</select>
				
				<select name="source_info" id="source_value_select" disabled>
					<option value="">{{'rule.select_value'|trans}}</option>
				</select>
				
				<button class="btn-mydinv-small">
					<i class='far fa-arrow-alt-circle-up' style='font-size:24px'></i>
				</button>
			{% endif %}
		</div>
		<div id="target_info">
			{% if target_groups is not empty %}
			<label>{{'rule.target'|trans}} :</label>
				<select name="target_group" id="target_group_select">
					<option value="">{{'rule.select_group'|trans}}</option>
					{% for group_id, group_label in target_groups %}
						<option value="{{ group_id }}">{{ group_label }}</option>
					{% endfor %}
				</select>
				
				<select name="target_info" id="target_value_select" disabled>
					<option value="">{{'rule.select_value'|trans}}</option>
				</select>
				<button class="btn-mydinv-small">
					<i class='far fa-arrow-alt-circle-up' style='font-size:24px'></i>
				</button>
			{% endif %}
		</div>
		<div id="lookup_rules">
			{% if html_list_rules is not empty %}
			<label>{{'Lookup Rules'}} :</label>
				<select name="lookup_rules">
					{{ html_list_rules|raw }}
				</select>
				<button class="btn-mydinv-small">
					<i class='far fa-arrow-alt-circle-up' style='font-size:24px'></i>
				</button>
			{% endif %}
		</div>
	</div>
	<div>
		<input class="btn-mydinv" id="area_confirm" type="button" value="{{'create_rule.step3.formula.confirm'|trans}}"/>
		<input class="btn-mydinv" id="area_eff" type="button" value="{{'create_rule.step3.formula.delete'|trans}}"/>
		<input class="btn-mydinv" id="area_quit" type="button" value="{{'create_rule.step3.formula.close'|trans}}"/>
	</div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
	// Initialize source dropdowns
	if ({{ source_groups is defined and source_groups is not empty ? 'true' : 'false' }}) {
		const sourceValues = {{ source_values|json_encode|raw }};
		const groupSelect = document.getElementById('source_group_select');
		const valueSelect = document.getElementById('source_value_select');

		if (groupSelect && valueSelect) {
			groupSelect.addEventListener('change', function() {
				const selectedGroup = this.value;
				valueSelect.innerHTML = '<option value="">{{'rule.select_value'|trans}}</option>';
				
				if (selectedGroup) {
					valueSelect.disabled = false;
					const values = sourceValues[selectedGroup] || {};
					
					Object.entries(values).forEach(([value, label]) => {
						const option = document.createElement('option');
						option.value = value;
						option.textContent = label;
						valueSelect.appendChild(option);
					});
				} else {
					valueSelect.disabled = true;
				}
			});
		}
	}

	// Initialize target dropdowns
	if ({{ target_groups is defined and target_groups is not empty ? 'true' : 'false' }}) {
		const targetValues = {{ target_values|json_encode|raw }};
		const targetGroupSelect = document.getElementById('target_group_select');
		const targetValueSelect = document.getElementById('target_value_select');

		if (targetGroupSelect && targetValueSelect) {
			targetGroupSelect.addEventListener('change', function() {
				const selectedGroup = this.value;
				targetValueSelect.innerHTML = '<option value="">{{'rule.select_value'|trans}}</option>';
				
				if (selectedGroup) {
					targetValueSelect.disabled = false;
					const values = targetValues[selectedGroup] || {};
					
					Object.entries(values).forEach(([value, label]) => {
						const option = document.createElement('option');
						option.value = value;
						option.textContent = label;
						targetValueSelect.appendChild(option);
					});
				} else {
					targetValueSelect.disabled = true;
				}
			});
		}
	}

	// Keep the lookup-related code
	const lookupgetrule = "{{ path('get_rules_for_lookup') }}";
	const lookupgetfieldroute = "{{ path('rule_get_fields_for_rule') }}";
	const basepathforGetFieldInfoWithFakeId = "{{ path('api_field_info', {'type': 'source', 'field': 'fake_id'}) }}";
	console.log('test lookupgetrule', lookupgetrule)
	console.log('test lookupgetfieldroute', lookupgetfieldroute)
	const translations = {
		selectRule: "{{ 'create_rule.step3.formula.select_rule'|trans }}",
		selectField: "{{ 'create_rule.step3.formula.select_field'|trans }}"
	};
});
</script>
