{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% if error != false  %}
<!-- erreur -->
<div id="error" class="ui-widget">
	<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;">
	<p>
	<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
		<strong>Alerte:</strong>
		{{ error }}
		</p>
	</div>
</div>
<div class="clr"></div>
{% endif %}
<div><input id="rulename" type="text" placeholder="{{'create_rule.step1.name'|trans}}" data-rule="false"/></div>

<!-- source -->
<div id="source" class="source">
	<h1>{{'rule.source'|trans}} :</h1>
	<div class="picture"></div>	
	<select id="soluce_source" class="liste_solution">
		{{solutions_source | raw }}
	</select>
	<span id="source_status" class="status"><img src="{{ asset('build/images/status_offline.png') }}" alt="status" /></span>
	<p id="source_msg">{{'error.connexion'|trans}} : <span></span></p>
</div>

<!-- target -->
<div id="cible">
	<h1>{{'rule.target'|trans}} :</h1>
	<div class="picture"></div>
	<select id="soluce_cible" class="liste_solution">
		{{solutions_target | raw }}
	</select>
	<span id="cible_status"class="status"><img src="{{ asset('build/images/status_offline.png') }}" alt="status" /></span>
	<p id="cible_msg">{{'error.connexion'|trans}} : <span></span></p>
</div>

<div class="clr"></div>

<div id="step_modules">
	<form method="post" action="{{ path('regle_steptwo') }}">
		<input class="btn-large-myd" id="step_modules_confirme" type="submit" value="{{'create_rule.step1.valid'|trans}}" disabled/>
	</form>
</div>