{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

<li class="nav-item d-grid flex-fill bg-secondary" role="presentation">
    <button class="nav-link lh-lg btn-lg fw-bold py-4 disabled text-light tab-1" id="mapping-tab" data-bs-toggle="tab" data-bs-target="#connexion" type="button" role="tab" aria-controls="connexion-1" aria-selected="false" aria-disabled="true"  tabindex="-1">
        {{'create_rule.tabs.one'|trans}}
    </button>
</li>
<li class="nav-item d-grid flex-fill bg-secondary" role="presentation">
    <button class="nav-link lh-lg btn-lg fw-bold py-4 disabled text-light tab-2" id="choix-tab" data-bs-toggle="tab" data-bs-target="#choix" type="button" role="tab" aria-controls="choix-2" aria-selected="false" aria-disabled="true"  tabindex="-1">
        {{'create_rule.tabs.two'|trans}}
    </button>
</li>
<li class="nav-item d-grid flex-fill" role="presentation">
    <button class="nav-link lh-lg active btn-lg fw-bold py-4 tab-3" id="champs-tab" data-bs-toggle="tab" data-bs-target="#champs" type="button" role="tab" aria-controls="champs-3" aria-selected="true" aria-current="page">
        <span class="badge">3</span> {{'create_rule.tabs.three'|trans}}
    </button>
</li>
<li class="nav-item d-grid flex-fill" role="presentation">
    <button class="nav-link lh-lg btn-lg fw-bold py-4 tab-4" id="simulation-tab" data-bs-toggle="tab" data-bs-target="#simulation" type="button" role="tab" aria-controls="simulation-4" aria-selected="false">
        <span class="badge">4</span> {{'create_rule.tabs.four'|trans}}
    </button>
</li>
<li class="nav-item d-grid flex-fill" role="presentation">
    <button class="nav-link lh-lg btn-lg fw-bold py-4 tab-6" id="filtertab-tab" data-bs-toggle="tab" data-bs-target="#filtertab" type="button" role="tab" aria-controls="filtertab-6" aria-selected="false">
        <span class="badge">6</span> {{'create_rule.tabs.six'|trans}}
    </button>
</li>
<li class="nav-item d-grid flex-fill" role="presentation">
    <button class="nav-link lh-lg btn-lg fw-bold py-4 tab-7" id="params-tab" data-bs-toggle="tab" data-bs-target="#params" type="button" role="tab" aria-controls="params-7" aria-selected="false">
        <span class="badge">7</span> {{'create_rule.tabs.seven'|trans}}
    </button>
</li>