{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

<div class="link-help d-flex justify-content-end">
	<a href="#help-content-params">
		<i class="fa fa-info-circle" aria-hidden="true"></i>
		{{'rule.help'|trans}}
	</a>
</div>
<div class="clr"></div>
<div class="container">
	{% if rule_params %}
		{% for c, p in rule_params %}
			{% if p.type != 'option' %}
				<p>{{p.label|trans}} : 
					<input {{ p.required ? 'class="require params form-control"' : 'class="params form-control"' }} type="{{ p.type }}" id="{{ p.name }}" name="{{ p.name }}" />
				</p>
			{% else %}
				<div class="row">
					<div class="col-md-4 input-group g-3 mb-4">
						<label for="{{p.name}}" class="me-3">{{p.label|trans}} : </label>
						<select {{ p.required ? 'class="require params form-select"' : 'class="params form-select"' }} name="{{ p.name }}" id="{{ p.name }}">
							{% for opt_value, opt_name in p.option %}
								<option value="{{ opt_value }}">{{ opt_name|trans }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			{% endif %}
		{% endfor %}
		<input class="params" type="hidden" name="regleId" id="regleId" value="{{ regleId }}" />
	{% endif %}

	{% if duplicate_target %}
		<div class="row">
			<div class="col-md-4 input-group mt-3">
				<label>{{'create_rule.step3.params.duplicate'|trans}} :</label>
				<ul id="fields_duplicate_target">
					{% for v in duplicate_target %}
					<li data-active="false" >{{ v }}</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	{% endif %}

	<div>
		<input class="btn btn-primary" id="validation" type="button" value="{{'create_rule.step3.confirm.valid'|trans}}" data-url="{{ path('regle_open', {'id': 'placeholder_id'}) }}"/>
	</div>
</div>
<div id="help-content-params" class="help-content">
	<h2>
		{{'help.title'|trans}}
		<i class="fa fa-info-circle" aria-hidden="true"></i>
	</h2>
	<p>{{'help.rule.validate'|trans}}</p>
</div>

<script type="text/javascript">
    var path_validation = "{{ path('regle_validation') }}";
    var path_formula = "{{ path('regle_formula') }}";
</script>

