{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% if data_source %}
	<div class="left middle">
		<div align="center">
			<p><img src="{{ asset('build/images/solution/') }}{{params.source.solution }}.png" alt="{{params.source.solution }}" /></p>
			<h1><img src="{{ asset('build/images/template/source') }}.png" alt="{{'rule.source'|trans}}" /> {{'rule.source'|trans}}</h1>
		</div>
		{% if before %}
			<ul id="simulate_list">
				{% for i,data in before %}
				<li>

					{% for field,value in data %}
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
						<path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
						</svg>
						{{ field }}
						{% if value is empty %}
						<span class="value">( {{ 'create_rule.step3.empty_field_simulate'|trans }} )</span>
						{% else %}
						<span class="value">( {{ value }} )</span>
						{% endif %}
					{% endfor %}			
				</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	<div class="left middle">
		<div align="center">
			<p><img src="{{ asset('build/images/solution/') }}{{params.cible.solution }}.png" alt="{{params.cible.solution }}" /></p>
			<h1><img src="{{ asset('build/images/template/target') }}.png" alt="{{'rule.target'|trans}}" /> {{'rule.target'|trans}}</h1>
		</div>
		{% if after %}
			<ul id="simulate_list">
				{% for i,data in after %}
					<li>
						{% for after_field,after_value in data %}
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tag-fill" viewBox="0 0 16 16">
							<path d="M2 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 6.586 1H2zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
							</svg>
							{{ after_field }} 
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
							<path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
							</svg>
							{% if after_value is empty %}
								<span class="value">{{ 'create_rule.step3.empty_field_simulate'|trans }}</span>
							{% else %}
								<span class="value">{{ after_value }}</span>
							{% endif %}
						{% endfor %}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% else %}
	<div id="warning" class="alert alert-warning" role="alert">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
		<path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
		<path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
		</svg>
		{{ 'create_rule.step3.empty_simulate'|trans }}
	</div>	
{% endif %}