{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends '::base.html.twig' %}
{% block title %}{{parent()}} | {{'title.connector.list'|trans}}{% endblock %}
{% block titlesm %}{{'title.connector.list'|trans}}{% endblock titlesm %} 
{% block body %}
    <div id="rule" align="center">
		
		{% if nb > 0 %}

		<div id="fd-title-small" class="left">
			<p>{{'list_connector.total'|trans}}<p><span class="nb">{{ nb }}</span>
		</div>
		<div class="clr"></div>		

    	<table class="listepager">
		{% if entities is not empty %}	
			<tr>
				<th>{{'list_connector.th.name'|trans}}</th>
				<th>{{'list_connector.th.date_created'|trans}}</th>
				<th>{{'list_connector.th.option'|trans}}</th>
			</tr>
		     {% for connector in entities %}
		     <tr>
		     	<td class="solution_block">
		     		<p><img class="vignette" src="{{ asset('bundles/regle/images/solution/') }}{{connector.solution }}.png" alt="" /></p>
		     		{{connector.0.getName}}
		     	</td> 
		     	<td>{{connector.0.getDateCreated|date("d/m/Y") }}
		     		{% if app.user.getUsername == 'support' %}
		     		<p><span class="label label-default">{{ connector.0.getCreatedBy|username }}</span></p>
		     		{% endif %}
		     	</td>
		     	<td>
		     		<a class="delete" href="{{ path('connector_delete',{'id' : connector.0.getId }) }}" title="{{'list_connector.btn.delete'|trans}}" onclick="return(confirm('{{'list_connector.delete'|trans}}'));">
		     			<span class="glyphicon glyphicon-trash btn-opt"></span></a>
		     		<a href="{{ path('connector_open',{'id' : connector.0.getId }) }}" title="{{'list_connector.btn.view'|trans}}">
		     			<span class="glyphicon glyphicon-file btn-opt"></span></a>
		     	</td>
			</tr>			
			{% endfor %}
			<tr>
				<th>{{'list_connector.th.name'|trans}}</th>
				<th>{{'list_connector.th.date_created'|trans}}</th>
				<th>{{'list_connector.th.option'|trans}}</th>
			</tr>			
		{% endif %}
		</table>
		<div align="center">
			{% if pager.haveToPaginate %}
			      {{ pagerfanta(pager, 'twitter_bootstrap3', {'routeName': 'regle_connector_page'}) }}
			{% endif %}
		</div>
 
		{% else %}
		<p><h2>{{'list_connector.empty'|trans}}</h2> <a href="{{ path('regle_connector_create') }}" title="">{{'list_connector.create_first_connector'|trans}}</a></p> 
		{% endif %}

    </div>

    {# ------------- PARAMETRES JQUERY ------------- #}
    <script type="text/javascript">   
		var chemin_img = "{{ asset('bundles/regle/images/') }}";
		var question = "{{'list_connector.delete'|trans}}";
    </script>
    {# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/regle/css/rule.css') }}" type="text/css" />
{% endblock css %}

{% block cssin %}
{% endblock cssin %}

{% block js %}
{% endblock js %}