{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends '::base.html.twig' %}
{% block title %}{{parent()}} | {{'list_rule.title'|trans}}{% endblock %}
{% block titlesm %}{{'list_rule.title'|trans}}{% endblock titlesm %} 
{% block body %}
    <div id="rule" align="center">
		{% if nb_rule > 0 %}

		<div id="fd-title-small" class="left">
			<p>{{'list_rule.total'|trans}}<p><span class="nb">{{ nb_rule }}</span>
		</div>
		<div class="clr"></div>

		{# BTN #}

		<div class="block-btn-infos">
			<a id="exec_all" class="btn-mydinv" href="{{ path('regle_exec',{'id' : 'ALL' }) }}" title="">
				<button type="button" class="btn-mydinv">
				  <span class="glyphicon glyphicon-play"></span> {{'view_rule.action.exec_all'|trans}}
				</button>
			</a>
			<a id="exec_error" class="btn-mydinv" href="{{ path('regle_exec',{'id' : 'ERROR' }) }}" title="">
				<button type="button" class="btn-mydinv">
				  <span class="glyphicon glyphicon-repeat"></span> {{'view_rule.action.exec_error'|trans}}
				</button>
			</a>
			<a id="new_rule" href="{{ path('regle_stepone_animation') }}" title=""><span class="glyphicon glyphicon-plus"></span> {{'view_rule.action.new_rule'|trans}}</a>
		</div>
		<p></p>
		{# BTN #}

    	<table class="listepager">
		{% if entities is not empty %}	
			<tr>
				<th>{{'rule.source'|trans}}</th>
				<th>{{'rule.target'|trans}}</th>
				<th>{{'list_rule.th.name'|trans}}</th>
				<th>{{'list_rule.th.active'|trans}}</th>
				<th>{{'list_rule.th.date_created'|trans}}</th>
				<th>{{'list_rule.th.option'|trans}}</th>
			</tr> 
		     {% for rule in entities %}
		     <tr>
		     	<td class="solution_block">
		     		<p><img class="vignette" src="{{ asset('bundles/regle/images/solution/') }}{{rule.solution_source }}.png" alt="{{rule.solution_source }}" /></p>
		     		{{rule.lbl_source }}
		     	</td>
		     	<td class="solution_block">
		     		<p><img class="vignette" src="{{ asset('bundles/regle/images/solution/') }}{{rule.solution_target }}.png" alt="{{rule.solution_target }}" /></p>
		     		{{rule.lbl_target }}
		     	</td>
		     	<td class="lft"><a href="{{ path('regle_open',{'id' : rule.id }) }}" title="{{'list_rule.btn.view'|trans}}">{{rule.name }}</a></td>
		     	<td>
			    <div class="onoffswitch">
			   	<input title="{{ path('regle_update',{'id' : rule.id }) }}" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{ rule.nameSlug }}" {{ (rule.active == true) ? 'checked="checked"' : '' }} />
				    <label class="onoffswitch-label" for="{{ rule.nameSlug }}">
					    <span class="onoffswitch-inner">
					    <span class="onoffswitch-active"><span class="onoffswitch-switch">ON</span></span>
					    <span class="onoffswitch-inactive"><span class="onoffswitch-switch">OFF</span></span>
					    </span>
				    </label>
			    </div> 
		     	</p>
				</td>
		     	<td>{{rule.dateCreated|date("d/m/Y") }} 
		     		{% if app.user.getUsername == 'support' %}
		     		<p><span class="label label-default">{{ rule.createdBy|username }}</span></p>
		     		{% endif %}
		     	</td>
		     	<td>
		     		<a href="{{ path('regle_edit',{'id' : rule.id }) }}" title="{{'list_rule.btn.edit'|trans}}">
		     			<span class="glyphicon glyphicon-edit btn-opt"></span></a>		     		
		     		<a class="delete" href="{{ path('regle_delete',{'id' : rule.id }) }}" title="{{'list_rule.btn.delete'|trans}}" onclick="return(confirm('{{'list_rule.delete'|trans}}'));">
		     			<span class="glyphicon glyphicon-trash btn-opt"></span></a>
		     		<a href="{{ path('regle_open',{'id' : rule.id }) }}" title="{{'list_rule.btn.view'|trans}}">
		     			<span class="glyphicon glyphicon-file btn-opt"></span></a>
		     	</td>
			</tr>			
			{% endfor %}
			<tr>
				<th>{{'rule.source'|trans}}</th>
				<th>{{'rule.target'|trans}}</th>
				<th>{{'list_rule.th.name'|trans}}</th>
				<th>{{'list_rule.th.active'|trans}}</th>
				<th>{{'list_rule.th.date_created'|trans}}</th>
				<th>{{'list_rule.th.option'|trans}}</th>
			</tr>			
		{% endif %}
		</table>
		<div align="center">
			{% if pager.haveToPaginate %}
			      {{ pagerfanta(pager, 'twitter_bootstrap3', {'routeName': 'regle_list_page'}) }}
			{% endif %}
		</div>
 
		{% else %}
		<p><h2>{{'list_rule.empty'|trans}}</h2> <a href="{{ path('regle_stepone_animation') }}" title="">{{'list_rule.create_first_rule'|trans}}</a></p>
		{% endif %}

    </div>

    {# ------------- PARAMETRES JQUERY ------------- #}
    <script type="text/javascript">   
		var chemin_img = "{{ asset('bundles/regle/images/') }}";
		var question = "Désirez-vous supprimer cette règle ?";
		var confirm_exec_all = "{{'view_rule.action.confirm_exec_all'|trans}}";
		var confirm_exec_error = "{{'view_rule.action.confirm_exec_error'|trans}}";
		
    </script>
    {# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/regle/css/rule.css') }}" type="text/css" />
{% endblock css %}

{% block cssin %}
#new_rule{
	float: right;
	position: relative;
	top: 5px;
	right: 50px;
	color: #0069b4;
}
#new_rule:hover{
	color: #cdc400;
	text-decoration: none;
	cursor: pointer;
}
.myd_div_loading{
	background: url("{{ asset('bundles/regle/images/loading') }}.gif") no-repeat center center;
}

.myd_div_loading_logo{
	background: url("{{ asset('bundles/regle/images/logo/logo') }}.png") no-repeat center center;
}
{% endblock cssin %}

{% block js %}
	<script type="text/javascript"> 
		//Nada Activer la regle sur la liste des regles
		$( ".onoffswitch-label" ).click(function(e) {
			path_fiche_update = $(this).parent().children('input').attr('title');
			$.ajax({
				type: "POST",
				url: path_fiche_update,						
					success: function(data){				
				}			
			});	
		});
	</script> 
{% endblock js %}