{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends '::base.html.twig' %}
{% block title %}{{parent()}} | {{'title.connector.edit'|trans}} {% endblock %}
{% block titlesm %}<a href="{{ path('regle_connector_list') }}">{{'breadcrumb.connector_list'|trans}}</a> <span class="glyphicon glyphicon-chevron-right"></span> {{'title.connector.edit'|trans}} {{ connector_params.label }} {% endblock titlesm %} 
{% block body %}
    <div id="connector">
		<div id="tabs">	
		<ul>
			{% include "RegleBundle:Connector:edit/onglets/index.html.twig" %}
		</ul>
			<div id="infos">
				 {# ------------- INFOS ------------- #}
				 {% include "RegleBundle:Connector:edit/onglets/infos.html.twig" %}
				 {# ------------- /INFOS ------------- #}
			</div>
			<div id="help">
				 {# ------------- HELP ------------- #}
				 {% include "RegleBundle:Connector:edit/onglets/help.html.twig" %}
				 {# ------------- /HELP ------------- #}
			</div>
		</div>
    </div>

    {# ------------- PARAMETRES JQUERY ------------- #}
    <script type="text/javascript">  
	var onglets = {
		active: 0
	};  
	var path_connector_save = "{{ path('connector_open',{'id' : connector_params.id }) }}";
	var inputs = "{{ path('regle_inputs') }}";
	var path_img = "{{ asset('bundles/regle/images/') }}";
	var path_upload = "{{ path('upload', {'solution': 'all'}) }}";
	var callback = "{{ path('connector_callback') }}";
    </script>
    {# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}
 
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/regle/css/connector.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/regle/css/view/connector.css') }}" type="text/css" />
{% endblock css %}

{% block cssin %}
{% endblock cssin %}

{% block js %}
	<script src="{{ asset('bundles/regle/js/connector.js') }}" type="text/javascript"></script>
{% endblock js %}