{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #}

{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	|
	{{'title.flux.list'|trans}}
{% endblock %}
{% block titlesm %}
	{{'title.flux.list'|trans}}
{% endblock titlesm %}
{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
{% block body %}
	<div id="flux" class="row justify-content-center">
		{{ form_start(form)}}
		{% if nb > 0 %}
			<div id="fd-title-small" class="left nb-connector">
				<p>{{ 'list_flux.total1'|trans }}:</p>
				<p>{{ 'list_flux.total2'|trans }}:</p>
				<p>
					<span class="nb">{{ nb }}</span>
				</p>
			</div>
			<div class="left">
				<fieldset>
					<legend>{{'list_flux.filter.rule'|trans}}</legend>
					{{ form_label(form.rule, 'list_flux.filter.name'|trans ) }}
					{{ form_widget(form.rule) }}
				</fieldset>
			</div>
			<div class="clr"></div>
		{% endif %}
		{{ form_errors(form) }}
		<div class="row" id="document-list-form">
			<div class=" col-md-3">
				<h4>{{'list_flux.filter.id'|trans}}</h4>
				{{ form_label(form.source_id, 'list_flux.filter.source_id'|trans) }}
				{{ form_widget(form.source_id) }}
				{{ form_label(form.target_id, 'list_flux.filter.target_id'|trans) }}
				{{ form_widget(form.target_id) }}
			</div>
			<div class=" col-md-3">
				<h4>{{'list_flux.filter.date_modified'|trans}}</h4>
				{{ form_label(form.date_modif_start, 'list_flux.start'|trans) }}
				{{ form_widget(form.date_modif_start) }}
				{{ form_label(form.date_modif_end, 'list_flux.end'|trans) }}
				{{ form_widget(form.date_modif_end) }}
			</div>
			<div class=" col-md-3">
				<h4>{{'list_flux.filter.status'|trans}}</h4>
				{{ form_label(form.status, 'list_flux.filter.status'|trans) }}
				{{ form_widget(form.status) }}
				<div class=" row">
					<div class="col-md-6">
						{{ form_label(form.gblstatus, 'list_flux.filter.global_status'|trans) }}
						{{ form_widget(form.gblstatus) }}
					</div>
					<div class="col-md-6">
						{{ form_label(form.gblstatus, 'list_flux.filter.type'|trans) }}
						{{ form_widget(form.type) }}
					</div>
				</div>
			</div>
			<div class=" col-md-3">
				<h4>{{'list_flux.filter.content'|trans}}</h4>
				{{ form_label(form.source_content, 'list_flux.filter.source_content'|trans) }}
				{{ form_widget(form.source_content) }}
				{{ form_label(form.target_content, 'list_flux.filter.target_content'|trans) }}
				{{ form_widget(form.target_content) }}
			</div>
		</div>

		<div class="clr"></div>
		<div>
			<div class="row justify-content-around mx-auto">
				<div class="col">
					<div class="d-flex justify-content-center">
						{{ form_rest(form) }}
					</div>
				</div>
				{% if condition > 0 %}
					<div class="col mt-4">
						<a class="btn btn-danger" href="{{ path('flux_list_delete_filter') }}" title="" onclick="return(confirm('{{'list_flux.filter.delete_confirm'|trans}}'));">
							<i class="fas fa-redo"></i>
							{{'list_flux.btn.filter_delete'|trans}}
						</a>
					</div>
				{% endif %}
			</div>
		</div>
		{{ form_end(form) }}
		<div class="p-3 row">
			<p>
				<a id="cancelflux" class="btn btn-warning" role="button" href="javascript:void(0);" title="">{{'list_flux.btn.cancel'|trans}}
					(<span></span>)</a>
				<a id="reloadflux" class="btn btn-success" role="button" href="javascript:void(0);" title="">{{'list_flux.btn.reload'|trans}}
					(<span></span>)</a>
			</p>
		</div>
		<div class="row">
			{% if nb > 0 %}
				<table class="listepagerflux table container">
					{% if entities is not empty %}
						<thead>
							<tr>
								<th scope="col">
									<input id="massselectall" type="checkbox" name="massselectall"/>
								</th>
								<th scope="col" class="p-2">{{'list_flux.tab.id'|trans}}</th>
								<th scope="col" class="p-2">{{'list_flux.tab.name'|trans}}</th>
								<th scope="col" class="p-2">{{'list_flux.tab.source_id'|trans}}</th>
								<th scope="col" class="p-2">{{'list_flux.tab.target_id'|trans}}</th>
								<th scope="col" class="p-2">{{'list_flux.tab.reference'|trans}}</th>
								<th scope="col" class="p-2">{{'list_flux.tab.date_modified'|trans}}</th>
								<th scope="col" class="p-2">{{'list_flux.tab.statut'|trans}}</th>
								<th scope="col" class="p-2">{{'list_flux.tab.type'|trans}}</th>
							</tr>
						</thead>
						<tbody>
						{% for flux in entities %}
							<tr class="fd_{{ flux.global_status|lower }}" data-id="{{ flux.id }}">
								<td>
									{% if flux.global_status|lower == 'close' or flux.global_status|lower == 'cancel' %}
										<input type="checkbox" name="{{ flux.id }}" disabled="disabled"/>
									{% else %}
										<input type="checkbox" name="{{ flux.id }}"/>
									{% endif %}
								</td>
								<td>
									<a href="{{ path('flux_modern', {'id' : flux.id }) }}">{{ flux.id }}</a>
								</td>
								<td>
									<a href="{{ path('regle_open',{'id' : flux.rule_id }) }}" title="">{{ flux.rule_name }}</a>
								</td>
								<td>{{ flux.source_id }}</td>
								<td>{{ flux.target_id }}</td>
								<td>{{ flux.source_date_modified|date(app.user.dateFormat ~ " H:i:s", app.user.timezone) }}</td>
								<td>{{ flux.date_modified|date(app.user.dateFormat ~ " H:i:s", app.user.timezone) }}</td>
								<td class="ctr">
									<div class="gblstatus_{{ flux.global_status|lower }}">{{ flux.status }}
										{% if flux.global_status|lower == 'close' %}
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
											<path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
											</svg>
										{% elseif flux.global_status|lower == 'error' or flux.global_status|lower == 'open' %}
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
											<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
											</svg>
										{% elseif flux.global_status|lower == 'open' %}
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
											<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
											<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
											</svg>
										{% elseif flux.global_status|lower == 'cancel' %}
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation" viewBox="0 0 16 16">
											<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
											</svg>
										{% endif %}
									</div>
								</td>
								<td>{{ flux.type }}</td>
							</tr>
						{% endfor %}
						</tbody>
						<tr>
							<th><input id="massselectall" type="checkbox" name="massselectall"/>
							</th>
							<th>{{'list_flux.tab.id'|trans}}</th>
							<th>{{'list_flux.tab.name'|trans}}</th>
							<th>{{'list_flux.tab.source_id'|trans}}</th>
							<th>{{'list_flux.tab.target_id'|trans}}</th>
							<th>{{'list_flux.tab.reference'|trans}}</th>
							<th>{{'list_flux.tab.date_modified'|trans}}</th>
							<th>{{'list_flux.tab.statut'|trans}}</th>
							<th>{{'list_flux.tab.type'|trans}}</th>
						</tr>
					{% endif %}
				</table>
				<div class="d-flex justify-content-center">
					{% if pager.haveToPaginate %}
						{{ pagerfanta(pager, 'twitter_bootstrap4', {'routeName': 'flux_list_page'}) }}
					{% endif %}
				</div>

			{% else %}
				<div class="col d-flex justify-content-center">
					<p class="display-6">{{ 'list_flux.empty'|trans }}</p>
				</div>
			{% endif %}

		</div>
	</div>
	{% block javascript %}
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		{{ encore_entry_script_tags('app') }}
	{% endblock javascript %}
	<script type="text/javascript">
		var confirm_cancel = "{{ 'list_flux.btn.mass_cancel_confirm'|trans }}";
		var confirm_reload = "{{ 'list_flux.btn.mass_reload_confirm'|trans }}";
		var path_img = "{{ asset('build/images/regle/') }}";
		var lang = "{{ app.request.locale }}";
		var mass_cancel = "{{ path('flux_mass_cancel') }}";
		var mass_run = "{{ path('flux_mass_run') }}";
		// DATE & TIME PICKER FOR THE DATE OF MODIFICATION FILTERS
		start = new dtsel.DTS('#form_date_modif_end',  {
			showTime: true
			});
		end = new dtsel.DTS('#form_date_modif_start',  {
			showTime: true
			});
	</script>
{% endblock %}
