{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Myddleware
			{% endblock %}
		</title>
		<!-- Latest compiled and minified CSS -->
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

	</head>
	<body>
		<header>
			{% for v in entityBanner.getEntityBanner %}
				{% if v.name == "cron_enabled"%}
					<div id="myd_top">
						<nav>

							{% if v.value == false %}
								<span class="pl-1 banner">{{'banner'|trans}}</span>
							{% endif %}

						</nav>
					</div>
				{% endif %}
			{% endfor %}
			<div>
				<menu>
					<ul class="nav nav-pills flex-nav">
						<li class="dropdown logo-nav">
							<a href="{{ path('regle_panel')}}">
								<span id="logo" alt="logo Myddleware"></span>
							</a>
						</li>
						<li class="dropdown">
							<a class="title_section_menu
																																																{% if app.request.attributes.get('_route') in ['regle_panel', 'regle_stepone_animation', 'regle_list', 'workflow_list', 'variable_list'] %}
																																																	active
																																																{% endif %}" href="#" data-bs-toggle="dropdown" aria-expanded="false">
								{{'menu.rule.title'|trans | upper}}
							</a>
							<ul class="dropdown-menu sous_menu_navbar">
								<li>
									<a class="dropdown-item" href="{{ path('regle_stepone_animation') }}">
										<i class="fa fa-plus" aria-hidden="true"></i>
										{{'menu.rule.createv2'|trans}}
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('regle_list') }}">
										<i class="fa fa-th-list" aria-hidden="true"></i>
										{{'menu.rule.list'|trans}}
									</a>
								</li>
								<li>
									<a id="{{ isPremium() ? 'dropdown-rulegroup' : 'dropdown-rulegroup-grey' }}" class="dropdown-item" href="{{ path('rulegroup_list') }}">
										<i class="fa fa-th-list" aria-hidden="true"></i>
										<i class="fa-solid fa-star star-icon"></i>
										{{'menu.rulegroup.list'|trans}}
									</a>
								</li>
								<li>
									<a id="{{ isPremium() ? 'dropdown-workflow' : 'dropdown-workflow-grey' }}" class="dropdown-item" href="{{ path('workflow_list') }}">
										<i class="fa fa-th-list" aria-hidden="true"></i>
										<i class="fa-solid fa-star star-icon"></i>
										{{'menu.workflow.list'|trans}}
									</a>
								</li>
								<li>
									<a id="{{ isPremium() ? 'dropdown-variables' : 'dropdown-variables-grey' }}" class="dropdown-item" href="{{ path('variable_list') }}">
										<i class="fa fa-th-list" aria-hidden="true"></i>
										<i class="fa-solid fa-star star-icon"></i>
										{{'menu.variable.list'|trans}}
									</a>
								</li>
							</ul>
						</li>

						<li class="dropdown">
							<a class="title_section_menu
																																																								        {% if app.request.attributes.get('_route') in ['regle_connector_create', 'regle_connector_list'] %}
																																																								            active
																																																								        {% endif %}" href="#" data-bs-toggle="dropdown" aria-expanded="false">
								{{'menu.connector.title'|trans | upper}}
							</a>
							<ul class="dropdown-menu sous_menu_navbar">
								<li>
									<a class="dropdown-item" href="{{ path('regle_connector_create') }}">
										<i class="fa fa-plus" aria-hidden="true"></i>
										{{'menu.connector.create'|trans}}
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('regle_connector_list') }}">
										<i class="fa fa-th-list" aria-hidden="true"></i>
										{{'menu.connector.list'|trans}}
									</a>
								</li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="title_section_menu
																																            {% if app.request.attributes.get('_route') in ['document_empty_search', 'flux_list'] %}
																																                active
																																            {% endif %}" href="{{ path('document_empty_search') }}">
								{{ 'menu.flux.title'|trans | upper }}
							</a>
						</li>

						<li class="dropdown">
							<a class="title_section_menu
																																            {% if app.request.attributes.get('_route') in ['task_list', 'task_stopall'] %}
																																                active
																																            {% endif %}" href="{{ path('task_list') }}">
								{{ 'menu.job.title'|trans | upper }}
							</a>
						</li>
						<li class="dropdown icon_history_nav_bar" title="{{ 'menu.nav_history'|trans | upper }}">
							<a class="title_section_menu" href="#" role="button" id="dropdownNavHistory" data-bs-toggle="dropdown" aria-expanded="false">
								<svg class="bi bi-clock-history" width="1em" height="1em" viewbox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
									<path fill-rule="evenodd" d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
									<path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
								</svg>
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownNavHistory" id="navHistoryDropdown"></ul>
						</li>

						<li class="dropdown icon_navbar">
							<a class="title_section_menu {% if app.request.attributes.get('_route') in ['my_account', 'management_smtp_index', 'jobscheduler_cron_list', 'logout'] %}
																																																active
																																															{% endif %}" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle svg_user" viewbox="0 0 16 16">
									<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
									<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
								</svg>
								{% if isPremium() %}
									<i class="fa-solid fa-star star-icon"></i>
								{% endif %}
							</a>
							<ul class="dropdown-menu sous_menu_navbar" aria-labelledby="dropdownMenuLink">
								<li>
									<a class="dropdown-item" href="{{ path('my_account') }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewbox="0 0 16 16">
											<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
											<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
										</svg>
										{{ app.user.username | upper}}
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('management_smtp_index') }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewbox="0 0 16 16">
											<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
										</svg>
										{{'menu_user.management_smtp'|trans}}
									</a>
								</li>
								<li>
									<a id="{{ isPremium() ? 'dropdown-cron' : 'dropdown-cron-grey' }}" class="dropdown-item" href="{{ path('jobscheduler_cron_list') }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewbox="0 0 16 16">
											<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
											<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
										</svg>
										{{'menu_user.crontab'|trans}}
										{% if isPremium() %}
											<i class="fa-solid fa-star star-icon"></i>
										{% endif %}
									</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('logout') }}">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewbox="0 0 16 16">
											<path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
											<path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
										</svg>
										{{'menu_user.logout'|trans}}
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</menu>
			</div>
		</div>
	</body>
</html></header><div id="notification">
{% include "Layout/notification.html.twig" %}</div><div id="myd_title"> {% block titlesm %}{% endblock titlesm %}
</div>
<section class="mx-auto">
	{% block body %}
		{% block arianne %}Myddleware
		{% endblock %}
	{% endblock %}
</section>
<footer>
	{% include 'footer.html.twig' %}
</footer>
{% block base_js %}
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	{{ encore_entry_script_tags('app') }}
{% endblock base_js %}
{% block js %}{% endblock js %}</body></html>
