{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends 'base.html.twig' %}
{% block title %}{{parent()}} | {{'title.flux.list'|trans}}{% endblock %}
{% block titlesm %}{{'title.flux.list'|trans}}{% endblock titlesm %} 
{% block body %} 
<!-- removeFilterFilter.html.twig -->
<div class="px-5">
      <h2 class="text-center m-3">Filters</h2>
      {{ form_start(formFilter) }}
      <div class="input-group">
            {{ form_widget(formFilter.filter) }}
      
            <div class="btn btn-primary">
                  <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
      </div>
      {{ form_end(formFilter) }}
      {{ form_start(form) }}

            <div class="m-3">
                  {{ form_label(form.sourceContent.sourceContent, 'Source Content', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group sourceContent" hidden="true">
                        {{ form_widget(form.sourceContent.sourceContent, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 sourceContent">
                              <i class="fa fa-times " aria-hidden="true"></i>
                        </div>
                  </div>

                  {{ form_label(form.sourceContent.targetContent, 'Target Content', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group targetContent" hidden="true">
                        {{ form_widget(form.sourceContent.targetContent, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 targetContent">
                              <i class="fa fa-times " aria-hidden="true"></i>
                        </div>
                  </div>

            </div>


            <div class="m-3">
             
                {{ form_label(form.document.status, 'Status', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group status" hidden = true>
                        {{ form_widget(form.document.status, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 status">
                              <i class="fa fa-times " aria-hidden="true"></i>
                        </div>
                  </div>

                {{ form_label(form.document.globalStatus, 'Status', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group globalStatus" hidden = true>
                        {{ form_widget(form.document.globalStatus, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 globalStatus">
                              <i class="fa fa-times " aria-hidden="true"></i>
                        </div>
                  </div>

                  {{ form_label(form.document.type, 'Type', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group type" hidden = true>
                  {{ form_widget(form.document.type, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 type">
                              <i class="fa fa-times " aria-hidden="true"></i>
                        </div>
                  </div>

                  {{ form_label(form.document.target, 'Target id', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group target" hidden = true>
                  {{ form_widget(form.document.target, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 target">
                              <i class="fa fa-times " aria-hidden="true"></i>
                        </div>
                  </div>

                  {{ form_label(form.document.source, 'Source id', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group source" hidden = true>
                  {{ form_widget(form.document.source, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 source">
                              <i class="fa fa-times " aria-hidden="true"></i>
                        </div>
                  </div>

                  {{ form_label(form.document.date_modif_start, 'Date Modified', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group date_modif_start" hidden = true>
                  {{ form_widget(form.document.date_modif_start, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 date_modif_start">
                              <i class="fa fa-times " aria-hidden="true"></i>
                        </div>
                  </div>

            </div>      
          
            <div class="m-3">
                  {{ form_label(form.rule.id, 'ID', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group id" hidden = true>
                  {{ form_widget(form.rule.id, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 id">
                              <i class="fa fa-times " aria-hidden="true"></i>
                        </div>
                  </div>

                  {{ form_label(form.rule.dateCreated, 'date created', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group dateCreated" hidden = true>
                  {{ form_widget(form.rule.dateCreated, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 dateCreated">
                              <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                  </div>

                  {{ form_label(form.rule.moduleSource, 'Module source', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group moduleSource" hidden = true>
                  {{ form_widget(form.rule.moduleSource, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 moduleSource">
                              <i class="fa fa-times" aria-hidden="true"></i>
                        </div>
                  </div>

                  {{ form_label(form.rule.moduleTarget, 'Module target', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group moduleTarget" hidden = true>
                  {{ form_widget(form.rule.moduleTarget, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 moduleTarget">
                              <i class="fa fa-times " aria-hidden="true"></i>
                        </div>
                  </div>

                  {{ form_label(form.rule.name, 'Name', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group name" hidden = true>
                  {{ form_widget(form.rule.name, {'required': false, 'attr': {'class': 'form-control'}}) }}
                        <div class="removeFilter btn btn-danger mt-2 name">
                              <i class="fa fa-times name" aria-hidden="true"></i>
                        </div>
                  </div>
                  {{ form_errors(form.rule.name) }}

                  {{ form_label(form.rule.connectorSource, 'Connector source', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group connectorSource" hidden = true>
                  {{ form_widget(form.rule.connectorSource, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 connectorSource">
                              <i class="fa fa-times " aria-hidden="true"></i>
                        </div>
                  </div>

                  {{ form_label(form.rule.connectorTarget, 'Connector target', {'label_attr': {'hidden': true}}) }}
                  <div class="input-group connectorTarget" hidden = true>
                  {{ form_widget(form.rule.connectorTarget, {'required': false}) }}
                        <div class="removeFilter btn btn-danger mt-2 connectorTarget">
                              <i class="fa fa-times " aria-hidden="true"></i>
                        </div>
                  </div>
            </div>
            <div class="input-group mt-2">
                  {{ form_widget(form.save) }}
                  <div class="btn btn-primary mb-2">
                        <i class="fa fa-search"></i>
                  </div>
            </div>
      {{ form_end(form) }}
            </div>
            <div class="col mt-4">
                  <a class="removeFilter btn btn-danger" href="{{ path('flux_list_delete_filter') }}" title="" onclick="return(confirm('{{'list_flux.filter.delete_confirm'|trans}}'));">
                        <i class="fas fa-redo"></i>
                        {{'list_flux.btn.filter_delete'|trans}}
                  </a>
            </div>
                  <div class="p-3 row">
                        <p>
                              <a id="cancelflux" class="btn btn-warning" role="button" href="javascript:void(0);" title="">{{'list_flux.btn.cancel'|trans}}
                                    (<span></span>)</a>
                              <a id="reloadflux" class="btn btn-success" role="button" href="javascript:void(0);" title="">{{'list_flux.btn.reload'|trans}}
                                    (<span></span>)</a>
                        </p>
                  </div>
		</div>
<section class="p-5">
      <h2 class="text-center m-3">Documents</h2>
      <div class="table-responsive">
            <table class="table">
                  <thead>
                        <tr>
                              <th>ID</th>
                              <th>Date Created</th>
                              <th>Date Modified</th>
                              <th>Status</th>
                              <th>Source id</th>
                              <th>Target id</th>
                              <th>Type</th>
                              <th>Global status</th>
                              <th>Rule name</th>
                              <th>Rule id</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% if pager is defined and pager is not empty %}
                              {% for document in pager %}
                              {# {{ dump(document) }} #}
                                    <tr>
                                          <td>{{ document.id }}</td>
                                          <td>{{ document.date_created|date('Y-m-d H:i:s') }}</td>
                                          <td>{{ document.date_modified|date('Y-m-d H:i:s') }}</td>
                                          <td>{{ document.status }}</td>
                                          <td>{{ document.source_id }}</td>
                                          <td>{{ document.target_id }}</td>
                                          <td>{{ document.type }}</td>
                                          <td>{{ document.global_status }}</td>
                                          <td>{{ document.rule_name }}</td>
                                          <td>{{ document.rule_id }}</td>
                                    </tr>
                              {% endfor %}
                        {% else %}
                              <tr>
                                    <td colspan="11">No documents found.</td>
                              </tr>
                        {% endif %}
                  </tbody>
            </table>
      </div>
      <div class="d-flex justify-content-center">
					{% if pager.haveToPaginate %}
						{{ pagerfanta(pager, 'twitter_bootstrap4', {'routeName': 'document_list_page'}) }}
					{% endif %}
				</div>
</section>

{% block javascript %}
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		{{ encore_entry_script_tags('app') }}
	{% endblock javascript %}
	<script type="text/javascript">
		var confirm_cancel = "{{ 'list_flux.btn.mass_cancel_confirm'|trans }}";
		var confirm_reload = "{{ 'list_flux.btn.mass_reload_confirm'|trans }}";
		var path_img = "{{ asset('build/images/regle/') }}";
		var lang = "{{ app.request.locale }}";
		var mass_cancel = "{{ path('flux_mass_cancel') }}";
		var mass_run = "{{ path('flux_mass_run') }}";
		// DATE & TIME PICKER FOR THE DATE OF MODIFICATION FILTERS
		start = new dtsel.DTS('#form_date_modif_end',  {
			showTime: true
			});
		end = new dtsel.DTS('#form_date_modif_start',  {
			showTime: true
			});
	</script>

{% endblock %}

{% block cssin %}{% endblock cssin %}
