{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends 'base.html.twig' %}
{% block title %}{{parent()}} | {{'title.task.list'|trans}}{% endblock %}
{% block titlesm %}{{'title.task.list'|trans}}{% endblock titlesm %} 
{% block body %} 
<!-- testFilter.html.twig -->
<section class="p-5">
      <h2 class="text-center m-3">Filters</h2>
      {{ form_start(form) }}
            <div class="input-group">
                  {{ form_widget(form.filter) }}
                  <div class="btn btn-primary">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                  </div>
            </div>
          
            <div class="">
                  {{ form_widget(form.id) }}
                  {{ form_widget(form.dateCreated) }}
                  {{ form_widget(form.dateModified) }}
                  {{ form_widget(form.moduleSource) }}
                  {{ form_widget(form.moduleTarget) }} 

                  {{ form_widget(form.ruleName ) }}  

                  {{ form_widget(form.nameSlug) }}
                  {{ form_widget(form.connectorSource) }}
                  {{ form_widget(form.connectorTarget) }}
                  {{ form_widget(form.createdBy) }}
                  {{ form_widget(form.modifiedBy) }}
            </div>
            <div class="input-group mt-2">
                  {{ form_widget(form.save) }}
                  <div class="btn btn-primary mb-2">
                        <i class="fa fa-search"></i>
                  </div>
            </div>

            {# {{ dump(doc) }} #}
      {{ form_end(form) }}

</section>
<section class="p-5">
      <h2 class="text-center m-3">Documents</h2>
      <div class="table-responsive">
            <table class="table">
                  <thead>
                        <tr>
                              <th>ID</th>
                              <th>Date Created</th>
                              <th>Date Modified</th>
                              <th>Module Source</th>
                              <th>Module Target</th>
                              <th>Rule Name</th>
                              <th>Name Slug</th>
                              <th>Connector Source</th>
                              <th>Connector Target</th>
                              <th>Created By</th>
                              <th>Modified By</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% if documents is defined and documents is not empty %}
                              {% for document in documents %}
                                    <tr>
                                          <td>{{ document.id }}</td>
                                          <td>{{ document.dateCreated|date('Y-m-d H:i:s') }}</td>
                                          <td>{{ document.dateModified|date('Y-m-d H:i:s') }}</td>
                                          {# <td>{{ document.moduleSource }}</td>
                                          <td>{{ document.moduleTarget }}</td>
                                          <td>{{ document.ruleName }}</td>
                                          <td>{{ document.nameSlug }}</td>
                                          <td>{{ document.connectorSource }}</td>
                                          <td>{{ document.connectorTarget }}</td>
                                          <td>{{ document.createdBy }}</td>
                                          <td>{{ document.modifiedBy }}</td> #}
                                    </tr>
                              {% endfor %}
                        {% else %}
                              <tr>
                                    <td colspan="11">No documents found.</td>
                              </tr>
                        {% endif %}
                  </tbody>
            </table>
      </div>
</section>

{% endblock %}

{% block cssin %}{% endblock cssin %}

{% block js %}
{% endblock js %}