{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends 'base.html.twig' %}
{% block title %}{{parent()}} | {{'title.task.list'|trans}}{% endblock %}
{% block titlesm %}{{'title.task.list'|trans}}{% endblock titlesm %} 
{% block body %} 
<!-- testFilter.html.twig -->
<div class="px-5">
      <h2 class="text-center m-3">Filters</h2>
      {{ form_start(formFilter) }}
      <div class="input-group">
            {{ form_widget(formFilter.filter) }}
      
            <div class="btn btn-primary">
                  <i class="fa fa-plus" aria-hidden="true"></i>
            </div>
      </div>
       {{ form_end(formFilter) }}
      {{ form_start(form) }}
      
          
            <div class="m-3">
                  {{ form_label(form.id, 'ID', {'label_attr': {'hidden': true}}) }}
                  {{ form_widget(form.id, {'required': false}) }}

                  {{ form_label(form.dateCreated, 'date created', {'label_attr': {'hidden': true}}) }}
                  {{ form_widget(form.dateCreated, {'required': false}) }}

                  {{ form_label(form.dateModified, 'Date modified', {'label_attr': {'hidden': true}}) }}
                  {{ form_widget(form.dateModified, {'required': false}) }}

                  {{ form_label(form.moduleSource, 'Module source', {'label_attr': {'hidden': true}}) }}
                  {{ form_widget(form.moduleSource, {'required': false}) }}

                  {{ form_label(form.moduleTarget, 'Module target', {'label_attr': {'hidden': true}}) }}
                  {{ form_widget(form.moduleTarget, {'required': false}) }}

                  {{ form_label(form.name, 'Name', {'label_attr': {'hidden': true}}) }}
                  {{ form_widget(form.name, {'required': false, 'attr': {'class': 'form-control'}}) }}
                  {{ form_errors(form.name) }}

                  {{ form_label(form.nameSlug, 'Name slug', {'label_attr': {'hidden': true}}) }}
                  {{ form_widget(form.nameSlug, {'required': false}) }}



                  {{ form_label(form.connectorSource, 'Connector source', {'label_attr': {'hidden': true}}) }}
                  {{ form_widget(form.connectorSource, {'required': false}) }}

                  {{ form_label(form.connectorTarget, 'Connector target', {'label_attr': {'hidden': true}}) }}
                  {{ form_widget(form.connectorTarget, {'required': false}) }}

                  {{ form_label(form.createdBy, 'Created by', {'label_attr': {'hidden': true}}) }}
                  {{ form_widget(form.createdBy, {'required': false}) }}

                  {{ form_label(form.modifiedBy, 'Modified by', {'label_attr': {'hidden': true}}) }}
                  {{ form_widget(form.modifiedBy, {'required': false}) }}
            </div>
            <div class="input-group mt-2">
                  {{ form_widget(form.save) }}
                  <div class="btn btn-primary mb-2">
                        <i class="fa fa-search"></i>
                  </div>
            </div>

            {# {{ dump(doc) }} #}
      {{ form_end(form) }}

</div>
<section class="p-5">
      <h2 class="text-center m-3">Documents</h2>
      <div class="table-responsive">
            <table class="table">
                  <thead>
                        <tr>
                              <th>ID</th>
                              <th>Date Created</th>
                              <th>Date Modified</th>
                              <th>Module Source</th>
                              <th>Module Target</th>
                              <th>Rule Name</th>
                              <th>Name Slug</th>
                              <th>Connector Source</th>
                              <th>Connector Target</th>
                              <th>Created By</th>
                              <th>Modified By</th>
                        </tr>
                  </thead>
                  <tbody>
                        {% if pager is defined and pager is not empty %}
                              {% for document in pager %}
                                    <tr>
                                          <td>{{ document.id }}</td>
                                          {# <td>{{ document.dateCreated|date('Y-m-d H:i:s') }}</td> #}
                                          {# <td>{{ document.dateModified|date('Y-m-d H:i:s') }}</td> #}
                                          {# <td>{{ document.moduleSource }}</td>
                                          <td>{{ document.moduleTarget }}</td>
                                          <td>{{ document.ruleName }}</td>
                                          <td>{{ document.nameSlug }}</td>
                                          <td>{{ document.connectorSource }}</td>
                                          <td>{{ document.connectorTarget }}</td>
                                          <td>{{ document.createdBy }}</td>
                                          <td>{{ document.modifiedBy }}</td> #}
                                    </tr>
                              {% endfor %}
                        {% else %}
                              <tr>
                                    <td colspan="11">No documents found.</td>
                              </tr>
                        {% endif %}
                  </tbody>
            </table>
      </div>
</section>

{% endblock %}

{% block cssin %}{% endblock cssin %}

{% block js %}
{% endblock js %}