{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	|
	{{ 'variable.list_title'|trans }}
{% endblock %}
{% block titlesm %}
	{{ 'variable.list_title'|trans }}
	{% if nb_variables > 0 %}
		({{ nb_variables }})
	{% endif %}
{% endblock titlesm %}

{% block body %}
	{# success message #}
	{% for flash in app.flashes('success') %}
		<div class="alert alert-success alert-dismissible fade show">
			{{ flash }}
		</div>
	{% endfor %}

	{# error message for permission denied #}
	{% for flash in app.flashes('error-permission') %}
		<div class="alert alert-danger alert-dismissible fade show">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			{{ flash }}
		</div>
	{% endfor %}

	<div id="variables">
		<div>
			<a href="{{ path('variable_create') }}" class="btn btn-primary mt-5 mb-5">{{ 'variable.create_new'|trans }}</a>
		</div>
{% include '_notifications.html.twig' with { filter_prefix: 'variable.' } %}

		<div class="table-wrapper-variable">


			{% if nb_variables > 0 %}
				<div class ="table-wrapper">
					<table class="listepager table container">
						<thead>
							<tr>
								<th class="rounded-table-up-left p-4">{{ 'variable.table_headers.name'|trans }}</th>
								<th class="p-4">{{ 'variable.table_headers.value'|trans }}</th>
								<th class="p-4">{{ 'variable.table_headers.description'|trans }}</th>
								<th class="p-4">{{ 'variable.table_headers.created_by'|trans }}</th>
								<th class="rounded-table-up-right p-4">{{ 'variable.table_headers.actions'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for variable in variables %}
								<tr>
									<td>
										<a href="{{ path('variable_show', {'id': variable.id}) }}" class="help-link all-link">{{ variable.name }}</a>
									</td>
									<td>{{ variable.value }}</td>
									<td>{{ variable.description }}</td>
									<td>{{ variable.createdBy }}</td>
									<td class="CRUD-icons">
										<a href="{{ path('variable_show', {'id': variable.id}) }}" title="{{ variable.name }}" class="text-decoration-none btn btn-sm btn-outline-success">
											<span class="btn-opt">
												<i class="fa fa-eye"></i>
											</span>
										</a>
										<a href="{{ path('variable_edit', {'id': variable.id}) }}" title="{{ 'variable.btn.edit'|trans }}" class="btn btn-sm btn-outline-primary">
											<span class="btn-opt">
												<i class="fa fa-pen" aria-hidden="true"></i>
											</span>
										</a>
										<form method="post" action="{{ path('variable_delete', {'id': variable.id}) }}" style="display: inline;">
											<button type="submit"
													class="delete btn btn-sm btn-outline-danger"
													onclick="return confirm('{{ 'variable.confirm_delete'|trans }}');"
													title="{{ 'variable.btn.delete'|trans }}">
												<span class="btn-opt">
													<i class="fa fa-trash" aria-hidden="true"></i>
												</span>
											</button>
										</form>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				<p class="display-6">{{ 'variable.no_variables'|trans }}</p>
			{% endif %}
		</div>
		
				<div class="d-flex justify-content-center mt-4">
					{% if pager.haveToPaginate %}
						{{ pagerfanta(pager, 'twitter_bootstrap4', {
							'routeName': 'variable_list_page',
							'proximity': 2,
							'prev_message': 'pagination.previous'|trans,
							'next_message': 'pagination.next'|trans
						})|raw }}
					{% endif %}
				</div>
	</div>
{% endblock %}
