{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'variable.list_title'|trans }}
{% endblock %}

{% block titlesm %}
    {{ 'variable.list_title'|trans }} <i class="fa-solid fa-arrow-right fa-flip arrow-cut-animation fa-solid fa-arrow-right fa-flip"></i> {{ variable.name }}
{% endblock %}

{% block body %}
    {# success message #}
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            {{ flash }}
        </div>
    {% endfor %}

    {# error message for permission denied #}
    {% for flash in app.flashes('error-permission') %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            {{ flash }}
        </div>
    {% endfor %}

    <div id="variables" class="container mt-4">
        <div>
            <a href="{{ path('variable_list') }}" class="btn btn-outline-primary m-2">
                {{ 'variable.back_to_list'|trans }}
            </a>
            <a href="{{ path('variable_edit', {'id': variable.id}) }}" class="btn btn-outline-success m-2">
                {{ 'variable.btn.edit'|trans }}
            </a>
            <form method="post" action="{{ path('variable_delete', {'id': variable.id}) }}" style="display: inline;">
                <button type="submit"
                        class="btn btn-outline-danger m-2"
                        onclick="return confirm('{{ 'variable.confirm_delete'|trans }}');"
                        title="{{ 'variable.btn.delete'|trans }}">
                    {{ 'variable.btn.delete'|trans }}
                </button>
            </form>
        </div>


        <div class="container text-left">
            <h4>
                {{ 'variable.detail_title' |trans|upper}}
            </h4>
        </div>
        <div class="variable-details container mt-4 px-5">
            <div class="row mb-2">
                <div class="col-md-6">
                    <strong>{{ 'variable.table_headers.name'|trans|upper }}</strong>
                    <div>{{ variable.name }}</div>
                </div>
                <div class="col-md-6">
                    <strong>{{ 'variable.table_headers.value'|trans|upper }}</strong>
                    <div>{{ variable.value }}</div>
                </div>
            </div>
             <div class="row mb-2">
                <div class="col-md-6">
                    <strong>{{ 'variable.table_headers.description'|trans|upper }}</strong>
                    <div>{{ variable.description }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}