{% extends '::base.html.twig' %}
{% block title %}{{ parent() }} | {{ 'jobscheduler.title'|trans }}{% endblock %}
{% block titlesm %}{{ 'jobscheduler.title'| trans }}{% endblock titlesm %}

{% block body %}
    <div id="rule" align="center">
        <div id="fd-title-small" class="left">
            <p>{{ 'jobscheduler.total'|trans }}<p><span class="nb">{{ entities | length }}</span>
        </div>
        <div class="clr"></div>
        <div>
            <h3>Titre jobscheduler</h3>
            <p class="jobscheduler_text">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
                impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un
                peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de
                texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique,
                sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de
                feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des
                applications de mise en page de texte, comme Aldus PageMaker.</p>
        </div>
        <div class="block-btn-infos">
            <a id="new_jobscheduler" href="{{ path('jobscheduler_new') }}" title=""><span
                        class="glyphicon glyphicon-plus"></span> {{ 'jobscheduler.action.new_jobscheduler'|trans }}</a>
        </div>
        <p></p>
        {# BTN #}
        <table class="listepager">
            {% if entities is not empty %}
                <tr>
                    <th>{{ 'jobscheduler.command'|trans }}</th>
                    <th>{{ 'jobscheduler.date_created'|trans }}</th>
                    <th>{{ 'jobscheduler.date_modified'|trans }}</th>
                    <th>{{ 'jobscheduler.period'|trans }}</th>
                    <th>{{ 'jobscheduler.job_order'|trans }}</th>
                    <th>{{ 'jobscheduler.active'|trans }}</th>
                    <th>{{ 'jobscheduler.actions'|trans }}</th>
                </tr>
                {% for entity in entities %}
                    <tr>
                        <td>
                            {{ entity.command }}
                        </td>
                        <td class="solution_block">
                            {% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d H:i:s') }}{% endif %}
                        </td>
                        <td>
                        </td>
                        <td>
                            {{ entity.period }}
                        </td>
                        <td>
                            {{ entity.jobOrder }}
                        </td>
                        <td>
                            {% if entity.active %} true {% else %} false {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('jobscheduler_edit',{'id' : entity.id }) }}"
                               title="{{ 'list_rule.btn.edit'|trans }}">
                                <span class="glyphicon glyphicon-edit btn-opt"></span></a>
                            <a class="delete" href="{{ path('jobscheduler_delete',{'id' : entity.id }) }}"
                               title="{{ 'list_rule.btn.delete'|trans }}"
                               onclick="return(confirm('{{ 'list_rule.delete'|trans }}'));">
                                <span class="glyphicon glyphicon-trash btn-opt"></span></a>
                            <a href="{{ path('jobscheduler_show',{'id' : entity.id }) }}"
                               title="{{ 'list_rule.btn.view'|trans }}">
                                <span class="glyphicon glyphicon-file btn-opt"></span></a>
                        </td>

                    </tr>
                {% endfor %}
                <tr>
                    <th>{{ 'jobscheduler.command'|trans }}</th>
                    <th>{{ 'jobscheduler.date_created'|trans }}</th>
                    <th>{{ 'jobscheduler.date_modified'|trans }}</th>
                    <th>{{ 'jobscheduler.period'|trans }}</th>
                    <th>{{ 'jobscheduler.job_order'|trans }}</th>
                    <th>{{ 'jobscheduler.active'|trans }}</th>
                    <th>{{ 'jobscheduler.actions'|trans }}</th>
                </tr>
            {% endif %}
        </table>
    </div>
    <p class="jobscheduler_text">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant
        impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un
        peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de
        texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique,
        sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de
        feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des
        applications de mise en page de texte, comme Aldus PageMaker.</p>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/regle/css/rule.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/regle/css/jobscheduler.css') }}" type="text/css"/>
{% endblock css %}

{% block cssin %}
    .block-btn-infos{
    display : block ;
    height : 30px;
    width: 80%;
    }
    #new_jobscheduler{

    display : block ;
    float : right;
    }
{% endblock cssin %}
