{% extends '::base.html.twig' %}
{% block title %}{{ parent() }} | {{ 'jobscheduler.title'|trans }}{% endblock %}
{% block titlesm %}{{ 'jobscheduler.title'| trans }}{% endblock titlesm %}

{% block body %}
    <div id="rule" align="center">
        <div id="fd-title-small" class="left">
            <p>{{ 'jobscheduler.total'|trans }}<p><span class="nb">{{ entities | length }}</span>
        </div>
        <div class="clr"></div>
        {# BTN #}
        <div class="block-btn-infos">
            <a id="new_jobscheduler" href="{{ path('jobscheduler_new') }}" title=""><span
                        class="glyphicon glyphicon-plus"></span> {{ 'jobscheduler.action.new_jobscheduler'|trans }}</a>
        </div>
        <p></p>
        {# BTN #}
        <table class="listepager">
            {% if entities is not empty %}
                <tr>
                    <th>{{ 'jobscheduler.command'|trans }}</th>
                    <th>{{ 'jobscheduler.date_created'|trans }}</th>
                    <th>{{ 'jobscheduler.date_modified'|trans }}</th>
                    <th>{{ 'jobscheduler.period'|trans }}</th>
                    <th>{{ 'jobscheduler.job_order'|trans }}</th>
                    <th>{{ 'jobscheduler.active'|trans }}</th>
                    <th>{{ 'jobscheduler.action'|trans }}</th>
                </tr>
                {% for entity in entities %}
                    <tr>
                        <td>
                            {{ entity.command }}
                        </td>
                        <td class="solution_block">
                      {% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d H:i:s') }}{% endif %}
                        </td>
                        <td>
                            {{ entity.dateModified }}
                            {#         <a href="{{ path('regle_edit',{'id' : rule.id }) }}" title="{{'list_rule.btn.edit'|trans}}">
                                         <span class="glyphicon glyphicon-edit btn-opt"></span></a>
                                     <a class="delete" href="{{ path('regle_delete',{'id' : rule.id }) }}" title="{{'list_rule.btn.delete'|trans}}" onclick="return(confirm('{{'list_rule.delete'|trans}}'));">
                                         <span class="glyphicon glyphicon-trash btn-opt"></span></a>
                                     <a href="{{ path('regle_open',{'id' : rule.id }) }}" title="{{'list_rule.btn.view'|trans}}">
                                         <span class="glyphicon glyphicon-file btn-opt"></span></a>#}
                        </td>
                        <td>
                            {{ entity.period }}
                        </td>
                        <td>
                            {{ entity.jobOrder }}


                            {#         <div class="onoffswitch">
                                         <input title="{{ path('regle_update',{'id' : rule.id }) }}" type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="{{ rule.nameSlug }}" {{ (rule.active == true) ? 'checked="checked"' : '' }} />
                                         <label class="onoffswitch-label" for="{{ rule.nameSlug }}">
                                     <span class="onoffswitch-inner">
                                     <span class="onoffswitch-active"><span class="onoffswitch-switch">ON</span></span>
                                     <span class="onoffswitch-inactive"><span class="onoffswitch-switch">OFF</span></span>
                                     </span>
                                         </label>
                                     </div>#}
                        </td>
                        <td>
                            {% if entity.active %} true {% else %} false {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('jobscheduler_edit',{'id' : entity.id }) }}"
                               title="{{ 'list_rule.btn.edit'|trans }}">
                                <span class="glyphicon glyphicon-edit btn-opt"></span></a>
                            <a class="delete" href="{{ path('jobscheduler_delete',{'id' : entity.id }) }}"
                               title="{{ 'list_rule.btn.delete'|trans }}"
                               onclick="return(confirm('{{ 'list_rule.delete'|trans }}'));">
                                <span class="glyphicon glyphicon-trash btn-opt"></span></a>
                            <a href="{{ path('jobscheduler_show',{'id' : entity.id }) }}"
                               title="{{ 'list_rule.btn.view'|trans }}">
                                <span class="glyphicon glyphicon-file btn-opt"></span></a>
                        </td>

                    </tr>
                {% endfor %}
                <tr>
                    <th>{{ 'jobscheduler.command'|trans }}</th>
                    <th>{{ 'jobscheduler.date_created'|trans }}</th>
                    <th>{{ 'jobscheduler.date_modified'|trans }}</th>
                    <th>{{ 'jobscheduler.period'|trans }}</th>
                    <th>{{ 'jobscheduler.job_order'|trans }}</th>
                    <th>{{ 'jobscheduler.active'|trans }}</th>
                    <th>{{ 'jobscheduler.action'|trans }}</th>
                </tr>
            {% endif %}
        </table>
    </div>
    {#
        <table class="records_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Datecreated</th>
                    <th>Datemodified</th>
                    <th>Createdby</th>
                    <th>Modifiedby</th>
                    <th>Command</th>
                    <th>Paramname1</th>
                    <th>Paramvalue1</th>
                    <th>Paramname2</th>
                    <th>Paramvalue2</th>
                    <th>Period</th>
                    <th>Lastrun</th>
                    <th>Active</th>
                    <th>Joborder</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('jobscheduler_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.dateModified }}</td>
                    <td>{{ entity.createdBy }}</td>
                    <td>{{ entity.modifiedBy }}</td>
                    <td>{{ entity.command }}</td>
                    <td>{{ entity.paramName1 }}</td>
                    <td>{{ entity.paramValue1 }}</td>
                    <td>{{ entity.paramName2 }}</td>
                    <td>{{ entity.paramValue2 }}</td>
                    <td>{{ entity.period }}</td>
                    <td>{% if entity.lastRun %}{{ entity.lastRun|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ entity.active }}</td>
                    <td>{{ entity.jobOrder }}</td>
                    <td>
                    <ul>
                        <li>
                            <a href="{{ path('jobscheduler_show', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('jobscheduler_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                    </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    #}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/regle/css/rule.css') }}" type="text/css"/>
{% endblock css %}

{% block cssin %}
    .block-btn-infos{
    display : block ;
    height : 30px;
    width: 80%;
    }
    #new_jobscheduler{

    display : block ;
    float : right;
    }
{% endblock cssin %}
