{% extends '::base.html.twig' %}
{% block title %}{{ parent() }} | {{ 'jobscheduler.view.show'|trans }}{% endblock %}
{% block titlesm %}{{ 'jobscheduler.view.show'|trans }}{% endblock titlesm %}
{% block body -%}
    <div id="info">
        <div id="jobsceduler_table">
            <table align="center">
                <tbody>
                <tr>
                    <td class="title"><label>Id</label></td>
                    <td class="value">{{ entity.id }}</td>
                </tr>
                <tr>
                    <td class="title"><label>{{ 'jobscheduler.date_created'|trans }}</label></td>
                    <td class="value">{{ entity.dateCreated|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <td class="title"><label>{{ 'jobscheduler.date_modified'|trans }}</label></td>
                    <td class="value">{{ entity.dateModified|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <td class="title"><label>{{ 'jobscheduler.create_by'|trans }}</label></td>
                    <td class="value">{{ user_created.username }}</td>
                </tr>
                <tr>
                    <td class="title"><label>{{ 'jobscheduler.modified_by'|trans }}</label></td>
                    <td class="value">{{ user_modified.username }}</td>
                </tr>
                <tr>
                    <td class="title"><label>{{ 'jobscheduler.command'|trans }}</label></td>
                    <td class="value">{{ entity.command }}</td>
                </tr>
                <tr>
                    <td class="title"><label>{{ 'jobscheduler.paramName1'|trans }}</label></td>
                    <td class="value">{{ entity.paramName1 }}</td>
                </tr>
                <tr>
                    <td class="title"><label>{{ 'jobscheduler.paramValue1'|trans }}</label></td>
                    <td class="value">{{ entity.paramValue1 }}</td>
                </tr>
                <tr>
                    <td class="title"><label>{{ 'jobscheduler.paramName2'|trans }}</label></td>
                    <td class="value">{{ entity.paramName2 }}</td>
                </tr>
                <tr>
                    <td class="title"><label>{{ 'jobscheduler.paramValue2'|trans }}</label></td>
                    <td class="value">{{ entity.paramValue2 }}</td>
                </tr>
                <tr>
                    <td class="title"><label>{{ 'jobscheduler.period'|trans }}</label></td>
                    <td class="value">{{ entity.period }}</td>
                </tr>
                <tr>
                    <td class="title"><label>Lastrun</label></td>
                    <td class="value">{{ entity.lastRun|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <td class="title"><label>{{ 'jobscheduler.active'|trans }}</label></td>
                    <td class="value">{% if entity.active %} true {% else %} false {% endif %}</td>
                </tr>
                <tr>
                    <td class="title"><label>{{ 'jobscheduler.job_order'|trans }}</label></td>
                    <td class="value">{{ entity.jobOrder }}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/regle/css/jobscheduler.css') }}" type="text/css"/>
{% endblock css %}