{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #}

{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	|
	{{'title.rule.view'|trans}}
	{{rule.getName}}
{% endblock %}
{% block titlesm %}
	<a href="{{ path('regle_list') }}">{{'breadcrumb.rule_list'|trans}}</a>
	<i class="fa-solid fa-arrow-right fa-flip arrow-cut-animation"></i>

	{{'title.rule.view'|trans}}
	{{rule.getName}}
{% endblock titlesm %}
{% block body %}

        {% include '_notifications.html.twig' with { filter_prefix: 'rule.' } %}

	<div id="rule">
		<div class="myd-tab-wrapper position-relative">
			<button class="myd-tab-scroll myd-tab-scroll-left" aria-label="Scroll left">
				<i class="fa-solid fa-chevron-left"></i>
			</button>

			<ul class="nav justify-content-center" id="myd-rule-tabs" role="tablist">
				{% include "Rule/detail/onglets/index.html.twig" %}
			</ul>

			<button class="myd-tab-scroll myd-tab-scroll-right" aria-label="Scroll right">
				<i class="fa-solid fa-chevron-right"></i>
			</button>
		</div>
			<div id="ruleInfoTabContent" class="tab-content my-4">
				<div id="infos" class="tab-pane fade show active mx-4 pb-4" role="tabpanel" aria-labelledby="infos-tab">
					{# ------------- INFOS ------------- #}
					{% include "Rule/detail/onglets/infos.html.twig" %}
				</div>
				<div id="mapping" class="tab-pane fade pb-4" role="tabpanel" aria-labelledby="mapping-tab">
					{# ------------- MAPPING ------------- #}
					{% include "Rule/detail/onglets/mapping.html.twig" %}
				</div>
				<div id="relation" class="tab-pane fade mx-4 pb-4" role="tabpanel" aria-labelledby="relation-tab">
					{# ------------- RELATIONS ------------- #}
					{% include "Rule/detail/onglets/relation.html.twig" %}
				</div>
				<div id="filter" class="tab-pane fade mx-4 pb-4" role="tabpanel" aria-labelledby="filter-tab">
					{# ------------- FILTER ------------- #}
					{% include "Rule/detail/onglets/filter.html.twig" %}
				</div>
				<div id="params" class="tab-pane fade mx-4 pb-4" role="tabpanel" aria-labelledby="params-tab">
					{# ------------- PARAMS ------------- #}
					{% include "Rule/detail/onglets/params.html.twig" %}
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var path_img = "{{ asset('build/images/') }}";
var path_fiche_update = "{{ path('regle_update',{'id' : rule.getId }) }}";
var path_fiche_update_params = "{{ path('path_fiche_params_update',{'id' : rule.getId }) }}";
var path_fiche_update_simulate = "{{ path('path_fiche_params_simulate',{'id' : rule.getId }) }}";
var onglets = {
active: 0
};
var path_rule_exec = "{{ path('regle_exec',{'id' : rule.GetId }) }}";
		</script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
		<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

	{% endblock %}
