{% extends 'base.html.twig' %}

{% block title %}Install Myddleware{% endblock %}

{% block body %}
    <section class="container">
        <div class="row justify-content-center">
            <div class="col text-center pt-5">
                <img src="{{ asset('build/images/logo/logo1.png') }}" alt="Myddleware logo" class="w-25" />
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card shadow rounded p-5 col-lg-8">
                <h3 class="card-title">{{ 'install.install_step_2' | trans }}</h3>
                {{ form_start(form) }}
                    {{ form_row(form.host) }}
                    {{ form_row(form.port)}}
                    {{ form_row(form.name) }}
                    {{ form_row(form.user) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form.Save) }}
                {{ form_end(form) }}
                {% if submitted %}
                    <div class="d-grid mt-4 mb-4">
                        <a href="{{ path('app_database_connection') }}" class="btn btn-primary btn-lg">
                            {{ 'install.next' | trans }}
                        </a>
                    </div>
                {% else %}
                    <div class="d-grid mt-4 mb-4">
                        <button type="button" class="btn btn-light btn-lg" disabled> {{ 'install.next' | trans }} </button>
                    </div>
                {% endif %} 
                <div>
                    <a class="btn btn-primary btn-lg" href="{{path('app_install_requirements')}}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg>
                        {{ 'install.step_2_go_back' | trans }}
                    </a>
                </div>
            </div>
        </div>   
    </section> 
{% endblock %}