{% extends 'base.html.twig' %}

{% block title %}Install Myddleware{% endblock %}

{% block body %}
    {# Logo myddleware #}
    <div class="logo-row">
        <img src="build/images/logo/logo1.png" alt="Myddleware" class="logo-register">
    </div>
    <div class="install">
        <h3 class="install-title">{{ 'install.install_step_1' | trans }}</h3>
        <h4 class="install-check">{{ 'install.requirements_checker' | trans }}</h4>
        <p>{{ 'install.requirements_info' | trans }}</p>        
        {% if php_version %}
            <p>Php version : </p>
            <strong class="php-version">{{ php_version }}</strong>
        {% else %}
            <p>{{ 'install.php_version_not_found' | trans }}</p>
        {% endif %}
        <p>{{ system_status }}</p>
        <p>{{ 'install.recommendations_to_do_message' | trans }}</p> 

        <div class="note-install">  
            <h4>NOTE</h4>
            <p>{{ 'install.note_message' | trans }}</p>
            <p>symfony check:requirements</p>
        </div>

         <button class="home_item btn btn-primary"><a href=""> {{ 'install.check_button' | trans }}</a></button>
         <button class="home_item btn btn-primary"><a href="{{path('app_database_setup')}}">{{ 'install.next' | trans }}</a></button>
    </div>    
{% endblock %}