<table class="listepager table container">
	{% if entities is not empty %}
		<tr>
			<th>{{ 'list_rulegroup.th.name'|trans }}</th>
			<th class="description_rulegroup_list">{{ 'list_rulegroup.th.description'|trans }}</th>
		</tr>
		{% for rulegroup in entities %}
			<tr>
				<td>
					<a href="{{ path('rulegroup_show', {'id': rulegroup.id}) }}">{{ rulegroup.name }}</a>
				</td>
				<td>
					<a href="{{ path('regle_open',{'id' : rulegroup.rule.id }) }}" title="{{ rulegroup.rule.name }}" class="text-decoration-none">
						{{ rulegroup.name }}</a>
				</td>
				<td style="word-break: keep-all; overflow-wrap: break-word; max-width: 150px;">
					{% if rulegroup.description|length > 60 %}
						{{ rulegroup.description|slice(0, 30) ~ '...' }}
						<div id="param-short-{{ loop.index }}">
							{{ rulegroup.description|slice(0, 100) ~ '...' }}
							<button onclick="document.getElementById('param-short-{{ loop.index }}').style.display='none';document.getElementById('param-full-{{ loop.index }}').style.display='block';">Show more</button>
						</div>
						<div id="param-full-{{ loop.index }}" style="display: none;">
							{{ rulegroup.description }}
							<button onclick="document.getElementById('param-full-{{ loop.index }}').style.display='none';document.getElementById('param-short-{{ loop.index }}').style.display='block';">Show less</button>
						</div>
					{% else %}
						{{ rulegroup.description }}
					{% endif %}
				</td>
				<td class="value rulegroup_on_off">
					<div class="form-check form-switch">
						<input class="form-check-input rulegroup-check-input" type="checkbox" id="activeRulegroup_{{ rulegroup.id }}" data-id="{{ rulegroup.id }}" data-type="rulegroup" {{ rulegroup.active ? 'checked' : '' }}>
					</div>
				</td>
				<td class="CRUD-icons">   
					<a href="{{ path('rulegroup_show', {'id': rulegroup.id}) }}" title="{{ 'list_rule.btn.view'|trans }}" class="btn btn-sm btn-outline-success">
						<span class="btn-opt">
							<i class="fa fa-eye" aria-hidden="true"></i>
						</span>
					</a>
					<a href="{{ path('rulegroup_edit', {'id': rulegroup.id}) }}" title="{{ 'list_rule.btn.edit'|trans }}" class="btn btn-sm btn-outline-primary">
						<span class="btn-opt">
							<i class="fa fa-pen" aria-hidden="true"></i>
						</span>
					</a>
					<a class="delete btn btn-sm btn-outline-danger" href="{{ path('rulegroup_delete', {'id': rulegroup.id}) }}" onclick="return confirm('Are you sure you want to delete this rulegroup ?');">
						<span class="btn-opt">
							<i class="fa fa-trash" aria-hidden="true"></i>
						</span>
					</a>
				</td>
			</tr>
		{% endfor %}
	{% endif %}
</table>
