{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	|
	{{ 'rulegroup.title_one'|trans }}
{% endblock %}

{% block titlesm %}
	{{ 'rulegroup.title_one'|trans }}
	<i class="fa fa-chevron-right" aria-hidden="true"></i>
	{{ rulegroup.name }}
{% endblock titlesm %}


{% block body %}
	<div id="rulegroups">
		<div>

			<a href="{{ path('rulegroup_list') }}" class="btn btn-outline-primary m-2">
				{{ 'rulegroup.back'| trans }}</a>
			{# <a href="{{ path('rulegroup_edit', {'id': rulegroup.id}) }}" class="btn btn-outline-success m-2">
				{{ 'rulegroup.edit'| trans }}</a> #}
			<a href="{{ path('rulegroup_delete', {'id': rulegroup.id}) }}" onclick="return confirm('Are you sure you want to delete this rulegroup ?');" class="btn btn-outline-danger m-2">
				{{ 'rulegroup.delete'| trans }}</a>
		</div>


		<div>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}


			{% if rulegroup is not null %}

				<div class="rulegroup-details container mt-4">
					<div class="card-header mb-4 card-title-rulegroup">
						<button class="toggle-button btn btn-outline-secondary btn-sm float-end" data-bs-toggle="collapse" data-bs-target="#rulegroup-content" aria-expanded="true" aria-controls="rulegroup-content">
							<i class="fa fa-minus"></i>
						</button>
						{{ 'rulegroup.title_one'| trans | upper }}
					</div>
					<div id="rulegroup-content" class="collapse show">
						<div class="rulegroup-row mb-2">
							<div class="rulegroup-col mb-2">
								<strong>{{ 'rulegroup.name'| trans | upper }}</strong>
								<div>{{ rulegroup.name }}</div>
							</div>
							<div class="rulegroup-col mb-2">
								<strong>{{ 'rulegroup.create_by'| trans| upper }}</strong>
								<div>{{ rulegroup.createdBy.username }}</div>
							</div>
							<div class="rulegroup-col mb-2">
								<strong>{{ 'rulegroup.modified_by'| trans| upper }}</strong>
								<div>{{ rulegroup.modifiedBy.username }}</div>
							</div>
						</div>
						<div class="rulegroup-row mb-2">
							<div class="rulegroup-col mb-2">
							</div>
						</div>
						<div class="rulegroup-row mb-2">
							<div class="rulegroup-col mb-2">
								<strong>{{ 'rulegroup.description'| trans | upper }}</strong>
								<div>{{ rulegroup.description }}</div>
							</div>
						</div>
						<div class="card m-4">
						</div>
					</div>
				</div>

				

					</div>
				</div>

			{% else %}
				<p class="display-6">{{ 'list_rulegroup.empty'|trans }}</p>
			{% endif %}



		{% block js %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
		{% endblock js %}

	{% endblock %}
