{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	|
	{{ 'rulegroup.title_one'|trans }}
{% endblock %}

{% block titlesm %}
	{{ 'rulegroup.title_one'|trans }}
	<i class="fa fa-chevron-right" aria-hidden="true"></i>
	{{ rulegroup.name }}
{% endblock titlesm %}


{% block body %}
	<div id="rulegroups">
		<div>

			<a href="{{ path('rulegroup_list') }}" class="btn btn-outline-primary m-2">
				{{ 'rulegroup.back'| trans }}</a>
			{# <a href="{{ path('rulegroup_edit', {'id': rulegroup.id}) }}" class="btn btn-outline-success m-2">
				{{ 'view_rulegroup.edit'| trans }}</a>
			<a href="{{ path('rulegroup_delete', {'id': rulegroup.id}) }}" onclick="return confirm('Are you sure you want to delete this rulegroup ?');" class="btn btn-outline-danger m-2">
				{{ 'view_rulegroup.delete'| trans }}</a> #}
		</div>


		<div>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}


			{% if rulegroup is not null %}

				<div class="rulegroup-details container mt-4">
					<div class="card-header mb-4 card-title-rulegroup">
						<button class="toggle-button btn btn-outline-secondary btn-sm float-end" data-bs-toggle="collapse" data-bs-target="#rulegroup-content" aria-expanded="true" aria-controls="rulegroup-content">
							<i class="fa fa-minus"></i>
						</button>
						{{ 'rulegroup.title_one'| trans | upper }}
					</div>
					<div id="rulegroup-content" class="collapse show">
						<div class="rulegroup-row mb-2">
							<div class="rulegroup-col mb-2">
								<strong>{{ 'rulegroup.name'| trans | upper }}</strong>
								<div>{{ rulegroup.name }}</div>
							</div>
							<div class="rulegroup-col mb-2">
								<strong>{{ 'rulegroup.create_by'| trans| upper }}</strong>
								<div>{{ rulegroup.createdBy.username }}</div>
							</div>
							<div class="rulegroup-col mb-2">
								<strong>{{ 'rulegroup.modified_by'| trans| upper }}</strong>
								<div>{{ rulegroup.modifiedBy.username }}</div>
							</div>
						</div>
							<div class="rulegroup-col mb-2">
								<strong>{{ 'view_rulegroup.status'| trans | upper }}</strong>
								<div class="form-check form-switch text-center">
									<input class="rulegroup_status form-check-input rulegroup-check-input" type="checkbox" id="activeRulegroup_{{ rulegroup.id }}" data-id="{{ rulegroup.id }}" data-type="rulegroup" {{ rulegroup.active ? 'checked' : '' }}>
								</div>
							</div>
						</div>
						<div class="rulegroup-row mb-2">
							<div class="rulegroup-col mb-2">
								<strong>{{ 'view_rulegroup.description'| trans | upper }}</strong>
								<div>{{ rulegroup.description }}</div>
							</div>
						</div>
						<div class="card m-4">
							<div class="mb-4">
								<strong>
									{{ 'list_rulegroup.th.condition'| trans| upper }}</strong>
							</div>
							<div class="m-2">
								<div>{{ rulegroup.condition }}</div>
							</div>
						</div>
					</div>
				</div>

				{# LIST ACTION #}
				<div class="container mt-5">
					<div class="card-header mb-4 card-title-rulegroup">
						<button class="toggle-button btn btn-outline-secondary btn-sm float-end" data-bs-toggle="collapse" data-bs-target="#actions-content" aria-expanded="true" aria-controls="actions-content">
							<i class="fa fa-minus"></i>
						</button>
						{{ 'view_rulegroup.actions_list'| trans | upper }}
					</div>

					<div id="actions-content" class="collapse show">

						<table class="table">
							<thead>
								<tr>
									<th>{{ 'view_rulegroup.name'|trans }}</th>
									<th>{{ 'view_rulegroup.action'|trans }}</th>
									<th>{{ 'view_rulegroup.description'|trans }}</th>
									<th>{{ 'view_rulegroup.order'|trans }}</th>
									<th>{{ 'view_rulegroup.arguments'|trans }}</th>
									<th>{{'list_rulegroup.th.option'|trans}}</th>


								</tr>
							</thead>
							<tbody>
								{% for action in rulegroup.getRulegroupActions %}
									<tr>
										<td>
											<a href="{{ path('rulegroup_action_show', {'id': action.id}) }}">{{ action.name }}</a>
										</td>
										<td>{{ action.action }}</td>
										<td>{{ action.description }}</td>
										<td>{{ action.order }}</td>
										<td>
											{% if action.arguments is iterable %}
												<ul>
												
													{% for key, argument in action.arguments %}
														<li>{{ key }}:
															{% if argument is iterable %}
																<ul>
																	{% for subKey, subArgument in argument %}
																		<li>{{ subKey }}:
																			{{ subArgument }}</li>
																	{% endfor %}
																</ul>
															{% else %}
																{{ argument }}
															{% endif %}
														</li>
													{% endfor %}
												</ul>
											{% else %}
												{{ action.arguments }}
											{% endif %}
										</td>
										<td class="CRUD-icons">
											<a href="{{ path('rulegroup_action_edit', {'id': action.id}) }}" title="{{ 'list_rule.btn.edit'|trans }}">
												<span class="btn-opt">
													<i class="fa fa-pen" aria-hidden="true"></i>
												</span>
											</a>
											<a class="delete" href="{{ path('rulegroup_action_delete', {'id': action.id}) }}" onclick="return confirm('Are you sure you want to delete this rulegroup ?');">
												<span class="btn-opt">
													<i class="fa fa-trash" aria-hidden="true"></i>
												</span>
											</a>
											<a href="{{ path('rulegroup_action_show', {'id': action.id}) }}" title="{{ 'list_rule.btn.view'|trans }}">
												<span class="btn-opt">
													<i class="fa fa-file" aria-hidden="true"></i>
												</span>
											</a>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>


						<div>
							<a href="{{ path('rulegroup_action_create_with_rulegroup', {'rulegroupId': rulegroup.id}) }}" class="btn btn-primary mb-3">
								<i class="fa fa-plus" aria-hidden="true"></i>
								{{ 'view_rulegroup.add_action'| trans }}
							</a>

						</div>

					</div>
				</div>
				{# LOG #}

			{% else %}
				<p class="display-6">{{ 'list_rulegroup.empty'|trans }}</p>
			{% endif %}


			<div class="container mt-5">
				<div class="card-header mb-4 card-title-rulegroup">
					<button class="toggle-button btn btn-outline-secondary btn-sm float-end" data-bs-toggle="collapse" data-bs-target="#logs-content" aria-expanded="true" aria-controls="logs-content">
						<i class="fa fa-minus"></i>
					</button>
					{{ 'view_rulegroup.logs'|trans | upper }}
				</div>

				<div id="logs-content" class="collapse show">
					<table class="table">
						<thead>
							<tr>
								<th>{{ 'view_rulegroup.log_id'|trans }}</th>
								<th>{{ 'view_rulegroup.rulegroup'|trans }}</th>
								<th>{{ 'view_rulegroup.job'|trans }}</th>
								<th>{{ 'view_rulegroup.trigger_document'|trans }}</th>
								<th>{{ 'view_rulegroup.generate_document'|trans }}</th>
								<th>{{ 'view_rulegroup.created_by'|trans }}</th>
								<th>{{ 'view_rulegroup.status'|trans }}</th>
								<th>{{ 'view_rulegroup.date_created'|trans }}</th>
								<th>{{ 'view_rulegroup.message'|trans }}</th>
								<th>{{ 'view_rulegroup.action_name'|trans }}</th>
								<th>{{ 'view_rulegroup.action_type'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for log in pager.currentPageResults %}
								<tr class="fd_{{ log.status|lower }}" data-id="{{ log.id }}">
									<td class="ctr">{{ log.id }}</td>
									<td class="ctr">
										<a href="{{ path('rulegroup_show', {'id': log.rulegroup.id}) }}">{{ log.rulegroup.name }}</a>
									</td>
									<td class="ctr">
										<a href="{{ path('task_view',{'id' : log.job.id }) }}">{{ log.job.id }}</a>
									</td>
									<td class="ctr">
										{% if log.triggerDocument is not null %}
											<a href="{{ path('flux_info_page',{'id' : log.triggerDocument.id, 'page' : 1, 'logPage' : 1 }) }}">{{ log.triggerDocument.id }}</a>
										{% else %}
											<span></span>
										{% endif %}
									</td>
									<td class="ctr">
										{% if log.generateDocument is not null %}
											<a href="{{ path('flux_info_page',{'id' : log.generateDocument.id, 'page' : 1, 'logPage' : 1 }) }}">{{ log.generateDocument.id }}</a>
										{% else %}
											<span></span>
										{% endif %}
									</td>
									<td class="ctr">{{ log.createdBy }}</td>
									<td class="ctr">
										<div class="gblstatus_{{ log.status|lower }}">{{ log.status }}</div>
									</td>
									<td class="ctr">{{ log.dateCreated|date('Y-m-d H:i:s') }}</td>
									<td class="ctr">{{ log.getMessage }}</td>
									<td class="ctr">
										<a href="{{ path('rulegroup_action_show', {'id': log.action.id}) }}">{{ log.action.name }}</a>
									</td>
									<td class="ctr">{{ log.action.action }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>

										{% if pager.haveToPaginate %}
											{{ pagerfanta(pager, 'twitter_bootstrap4', {'routeName': 'rulegroup_show_page', 'routeParams': {'id': rulegroup.id, 'page': app.request.get('page', 1)}}) }}
											
											<form id="pageForm" method="get" class="form-inline mt-3" onsubmit="updateFormAction(event)">
												<div class="form-group" required style="width: 15em;">
													<label for="page" class="sr-only">Page</label>
													<input type="number" name="page" id="page" class="form-control" placeholder="Page number" min="1" required>
												</div>
												<button type="submit" class="btn btn-primary ml-2" style="display: flex; margin: 1em;" >Go to page</button>
											</form>
										
											<script>
											const maxPage = {{ pager.getNbPages() }};

												function updateFormAction(event) {
													event.preventDefault();
													const page = document.getElementById('page').value;
													if (page < 1 || page > maxPage) {
														alert('Please enter a valid page number between 1 and ' + maxPage);
														return;
													}
													const form = document.getElementById('pageForm');
													const baseUrl = "{{ path('rulegroup_show_page', {'id': rulegroup.id, 'page': 1}) }}";
													const action = baseUrl.replace('/page-1', '/page-' + page);
													form.action = action;
													form.submit();
												}
											</script>
										{% endif %}

		{% block js %}
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
		{% endblock js %}

	{% endblock %}
