{% extends 'base.html.twig' %}
{% block titlesm %}
    {{ 'crontab.title'|trans }}
    ({{ entity | length }})
{% endblock %}
{% block body %}

    {% include '_notifications.html.twig' with { filter_prefix: 'jobscheduler.' } %}


    <div class="text-center mt-5">
        <h3 class="display-4">{{ 'crontab.title_cron'|trans }}</h3>
        {% for entityCron in entitiesCron %}
            {% if entityCron.value == true %}
                <a href="{{path('massdisableCron')}}" class="btn btn-outline-danger ">
                    {{ 'crontab.disableCron'|trans }}
                </a>
                <a href="{{path('massenableCron')}}" class="btn btn-outline-success disabled">
                    {{ 'crontab.enableCron'|trans }}
                </a>
            {% else %}
                <a href="{{path('massdisableCron')}}" class="btn btn-outline-danger disabled">
                    {{ 'crontab.disableCron'|trans }}
                </a>
                <a href="{{path('massenableCron')}}" class="btn btn-outline-success">
                    {{ 'crontab.enableCron'|trans }}
                </a>
            {% endif %}
        {% endfor %}
        <p class="jobscheduler_text">{{'crontab.description_cron'|trans|raw}}</p>
    </div>

    <div class="container-fluid p-3">
        <div class="text-center">
            <a href="{{path('crontab')}}" class="btn btn-primary m-4">
                {{ 'crontab.create'|trans }}
            </a>
            <a href="{{path('massdisable')}}" class="btn btn-danger m-4">
                {{ 'crontab.massdisable'|trans }}
            </a>
            <a href="{{path('massenable')}}" class="btn btn-success m-4">
                {{ 'crontab.massenable'|trans }}
            </a>
        </div>
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error-permission') %}
            <div class="alert alert-danger alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% endfor %}
        <div id="crontabList">
            <div class="table-wrapper">
                <table class="table table-hover align-middle shadow-table">
                    <thead class="text-center">
                        <tr>
                            <th class="rounded-table-up-left">{{ 'crontab.command'|trans }}</th>
                            <th>{{ 'crontab.period'|trans }}</th>
                            <th>{{ 'crontab.description'|trans }}</th>
                            <th class="th-running">{{ 'crontab.running_instances'|trans }}</th>
                            <th>{{ 'crontab.max_instances'|trans }}</th>
                            <th>{{ 'crontab.lastUse'|trans }}</th>
                            <th>{{ 'crontab.nextRun'|trans }}</th>
                            <th>{{ 'crontab.enable'|trans }}</th>
                            <th class="rounded-table-up-right">{{ 'jobscheduler.actions'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for value in entity %}
                            <tr>
                                <td class="value">
                                    <div id="command-short-{{ loop.index }}" class="command-crontab">
                                        {{ value.command|slice(0, 20) ~ '...' }}</br>
                                        <button class="button_plus_message" onclick="document.getElementById('command-short-{{ loop.index }}').style.display='none';document.getElementById('command-full-{{ loop.index }}').style.display='block';"><i class="fa fa-plus"></i></button>
                                    </div>
                                    <div id="command-full-{{ loop.index }}" style="display: none;">
                                        {{ value.command }}
                                        <button class="button_minus_message" onclick="document.getElementById('command-full-{{ loop.index }}').style.display='none';document.getElementById('command-short-{{ loop.index }}').style.display='block';"><i class="fa fa-minus"></i></button>
                                    </div>
                                </td>
                                <td class="value text-center">{{ value.period }}</td>
                                <td class="value col-2">{{ value.description }}</td>
                                <td class="value text-center">{{ value.runningInstances }}</td>
                                <td class="value text-center">{{ value.maxInstances }}</td>
                                <td class="text-center">{{ value.lastUse|date(app.user.dateFormat ~ " H:i:s", app.user.timezone) }}</td>
                                <td class="text-center">{{ value.nextRun|date(app.user.dateFormat ~ " H:i:s", app.user.timezone) }}</td>
                                <td class="enabled-crontab text-center">
                                    <div class="form-check form-switch d-flex justify-content-center">
                                        <input class="form-check-input toggle-switch-crontab" type="checkbox" id="crontab-{{ value.id }}" data-id="{{ value.id }}" data-url="{{ path('enable_crontab', {'id': 'ID_PLACEHOLDER', 'enable': 'ENABLE_PLACEHOLDER'}) }}" {{ value.isEnable() ? 'checked' : '' }}>
                                    </div>
                                </td>
                                <td class="CRUD-icons text-center">
                                    <a class="btn btn-sm btn-outline-success" href="{{ path('crontab_show',{'id' : value.id }) }}" title="{{ 'list_rule.btn.view'|trans }}">
                                        <span class="btn-opt">
                                            <i class="fa fa-eye {% if value.runningInstances == value.maxInstances %}icon-danger{% elseif value.runningInstances == value.maxInstances - 1 and value.maxInstances > 1 %}icon-warning{% endif %}" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                    <a class="btn btn-sm btn-outline-primary" href="{{ path('crontab_edit',{'id' : value.id }) }}" title="{{ 'list_rule.btn.edit'|trans }}">
                                        <span class="btn-opt">
                                            <i class="fa fa-pen {% if value.runningInstances == value.maxInstances %}icon-danger{% elseif value.runningInstances == value.maxInstances - 1 and value.maxInstances > 1 %}icon-warning{% endif %} " aria-hidden="true"></i>
                                        </span>
                                    </a>
                                    <form method="post" action="{{ path('crontab_delete',{'id' : value.id }) }}" style="display: inline;">
                                        <button type="submit" class="delete btn btn-sm btn-outline-danger" onclick="return confirm('{{ 'list_rule.delete'|trans }}');" title="{{ 'list_rule.btn.delete'|trans }}">
                                            <span class="btn-opt">
                                                <i class="fa fa-trash {% if value.runningInstances == value.maxInstances %}icon-danger{% elseif value.runningInstances == value.maxInstances - 1 and value.maxInstances > 1 %}icon-warning{% endif %}" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center m-3 p-3">
            <div id="crontab-results-container">
                <button id="toggle-crontab-result" class="btn btn-outline-primary" data-url="{{ path('crontab_results_partial') }}" data-show-label="{{ 'crontab.see_results'|trans }}" data-hide-label="{{ 'crontab.hide_results'|trans }}">
                    {{ 'crontab.see_results'|trans }}
                </button>
            </div>
        </div>
        <div class="container-fluid p-3">
            <div id="cronjobresult_table"></div>
        </div>

        <div id="help-content-info" class="help-content mt-4">
            <h2>
                {{'help.title'|trans}}
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </h2>
            <p class="jobscheduler_text">{{'crontab.help'|trans|raw}}</p>
        </div>
    </div>
{% endblock %}
