{% extends 'base.html.twig' %}
{% block titlesm %} {{ 'crontab.title'|trans }}{% endblock %}
{% block body %}
    <div id="fd-title-small" class="left">
        <p>{{ 'jobscheduler.total'|trans }}<p><span class="nb">{{ entity | length }}</span>
    </div>
    <div class="clr"></div>
    <div class="text-center">
        <h3 class="display-4">{{ 'crontab.title_cron'|trans }}</h3>
        {% for entityCron in entitiesCron %}    
            {% if entityCron.value == true %}
            <a href="{{path('massdisableCron')}}" class="btn btn-outline-danger ">
                {{ 'crontab.disableCron'|trans }}
            </a>
            <a href="{{path('massenableCron')}}" class="btn btn-outline-success disabled">
                {{ 'crontab.enableCron'|trans }}
            </a>
            {% else %}
            <a href="{{path('massdisableCron')}}" class="btn btn-outline-danger disabled">
                {{ 'crontab.disableCron'|trans }}
            </a>
            <a href="{{path('massenableCron')}}" class="btn btn-outline-success">
                {{ 'crontab.enableCron'|trans }}
            </a>
            {% endif %}
        {% endfor %}    
        <p class="jobscheduler_text">{{'crontab.description_cron'|trans|raw}}</p>
    </div>

     <div class="container-fluid p-3">
        <div id="jobsceduler_table">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %} 
            <table class="table table-sm table-striped mt-5">
                <thead>
                    <th scope="col" class="title"><label>{{ 'crontab.command'|trans }}</label></th>
                    <th scope="col" class="title"><label>{{ 'crontab.period'|trans }}</label></th>
                    <th scope="col" class="title"><label>{{ 'crontab.description'|trans }}</label></th>
                    <th scope="col" class="title"><label>{{ 'crontab.lastUse'|trans }}</label></th>
                    <th scope="col" class="title"><label>{{ 'crontab.nextRun'|trans }}</label></th>
                    <th scope="col" class="title"><label>{{ 'crontab.enable'|trans }}</label></th>
                    <th scope="col" class="title"><label>{{ 'jobscheduler.actions'|trans }}</label></th>
                </thead>
                <tbody>
                {% for value in entity %}
                <tr>                    
                    <td class="value">{{ value.command }}</td>
                    <td class="value">{{ value.period }}</td>
                    <td class="value">{{ value.description  }}</td>
					<td>{{ value.lastUse|date("d/m/Y H:i:s", timezone) }}</td>
					<td>{{ value.nextRun|date("d/m/Y H:i:s", timezone) }}</td>
                    <td class="value">{{ value.enable }}</td>
                     <td class="CRUD-icons">
                            <a href="{{ path('crontab_edit',{'id' : value.id }) }}" title="{{ 'list_rule.btn.edit'|trans }}">
                                <span class="btn-opt">
                                   <i class="fa fa-pen" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a class="delete" href="{{ path('crontab_delete',{'id' : value.id }) }}" onclick="return(confirm('{{ 'list_rule.delete'|trans }}'));">
                                <span class="btn-opt">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a href="{{ path('crontab_show',{'id' : value.id }) }}" title="{{ 'list_rule.btn.view'|trans }}">
                                <span class="btn-opt">
                                    <i class="fa fa-file" aria-hidden="true"></i>
                                </span>
                            </a>
                        </td>
                </tr> 
                {% endfor %}
                 <div class="col-md-6">
                    <a href="{{path('crontab')}}" class="btn btn-primary m-4">
                        {{ 'crontab.create'|trans }}
                    </a>
                     <a href="{{path('massdisable')}}" class="btn btn-danger m-4">
                        {{ 'crontab.massdisable'|trans }}
                    </a>
                    <a href="{{path('massenable')}}" class="btn btn-success m-4">
                        {{ 'crontab.massenable'|trans }}
                    </a>
                </div>
                </tbody>
            </table>
        </div>
        <div id="help-content-info" class="help-content">
        <h2>
            {{'help.title'|trans}} 
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </h2>
            <p class="jobscheduler_text">{{'crontab.help'|trans|raw}}</p>
        </div>
    </div>
{% endblock %}