{% extends 'base.html.twig' %}

{% block body %}
 <div class="container">
        <div class="row">
            <div class="col">
                <div class="mt-5 p-5">
                <table class="table">
                    <thead class="table-light">
                    {{ form_start(form) }}
                        <tr>
                            <th scope="col">Active</th>
                            <th scope="col">Arguments</th>
                            <th scope="col">Description</th>
                            <th scope="col">Max instances</th>
                            <th scope="col">Number</th>
                            <th scope="col">Period</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ form_widget(form.enable) }}</td>
                            <td>{{ form_widget(form.arguments) }}</td>
                            <td>{{ form_widget(form.description) }}</td>
                            <td>{{ form_widget(form.maxInstances) }}</td>
                            <td>{{ form_widget(form.number) }}</td>
                            <td>{{ form_widget(form.period) }}</td>
                        </tr>
                    </tbody>
                    </table>
                    {{ form_widget(form.save) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div> 
    </div>
{% endblock %}