{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | {{ 'jobscheduler.title'|trans }}{% endblock %}
{% block titlesm %}{{ 'jobscheduler.title'| trans }}{% endblock titlesm %}

{% block body %}
    <div id="rule">
        <div id="fd-title-small" class="left">
            <p>{{ 'jobscheduler.total'|trans }}<p><span class="nb">{{ entities | length }}</span>
        </div>
        <div class="clr"></div>
        <div class="text-center">
            <h3 class="display-4">{{ 'jobscheduler.title'|trans }}</h3>
            <p class="jobscheduler_text">{{'jobscheduler.description.top'|trans|raw}}</p>
        </div>
        <div class="block-btn-infos mx-4">
            <a id="new_jobscheduler" href="{{ path('jobscheduler_new') }}" title="" role="button" class="btn btn-primary">
                {{ 'jobscheduler.action.new_jobscheduler'|trans }}</a>
        </div>
        <table class="listepager table mt-4">
            {% if entities is not empty %}
                <tr>
                    <th>{{ 'jobscheduler.command'|trans }}</th>
                    <th>{{ 'jobscheduler.paramName1'|trans }}</th>
                    <th>{{ 'jobscheduler.paramName2'|trans }}</th>
                    <th>{{ 'jobscheduler.period'|trans }}</th>
                    <th>{{ 'jobscheduler.job_order'|trans }}</th>
                    <th>{{ 'jobscheduler.active'|trans }}</th>
                    <th>{{ 'jobscheduler.actions'|trans }}</th>
                </tr>
                {% for entity in entities %}
                    <tr>
                        <td>
                            {{ entity.command }}
                        </td>
                        <td class="solution_block">
                            {% if entity.paramName1 %}{{ entity.paramName1 }} : {{ entity.paramValue1 }}{% endif %}
                        </td>
                        <td class="solution_block">
                            {% if entity.paramName2 %}{{ entity.paramName2 }} : {{ entity.paramValue2 }}{% endif %}
                        </td>
                        <td>
                            {{ entity.period }}
                        </td>
                        <td>
                            {{ entity.jobOrder }}
                        </td>
                        <td>
                            {% if entity.active %} true {% else %} false {% endif %}
                        </td>
                        <td class="CRUD-icons">
                            <a href="{{ path('jobscheduler_edit',{'id' : entity.id }) }}" title="{{ 'list_rule.btn.edit'|trans }}">
                                <span class="btn-opt">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                    </svg>
                                </span>
                            </a>
                            <a class="delete" href="{{ path('jobscheduler_delete',{'id' : entity.id }) }}" title="{{ 'list_rule.btn.delete'|trans }}" onclick="return(confirm('{{ 'list_rule.delete'|trans }}'));">
                                <span class="btn-opt">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a href="{{ path('jobscheduler_show',{'id' : entity.id }) }}" title="{{ 'list_rule.btn.view'|trans }}">
                                <span class="btn-opt">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark" viewBox="0 0 16 16">
                                    <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z"/>
                                    </svg>
                                </span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>{{ 'jobscheduler.command'|trans }}</th>
                    <th>{{ 'jobscheduler.paramName1'|trans }}</th>
                    <th>{{ 'jobscheduler.paramName2'|trans }}</th>
                    <th>{{ 'jobscheduler.period'|trans }}</th>
                    <th>{{ 'jobscheduler.job_order'|trans }}</th>
                    <th>{{ 'jobscheduler.active'|trans }}</th>
                    <th>{{ 'jobscheduler.actions'|trans }}</th>
                </tr>
            {% endif %}
        </table>
    </div>
    <div class="row text-center">
        <p class="jobscheduler_text">{{'jobscheduler.description.bottom'|trans|raw}}</p>
    </div>
{% endblock %}
