{% extends 'base.html.twig' %}
{% block titlesm %}
	{{ 'crontab.title'|trans }}
{% endblock %}
{% block body %}
	<div class="p-5">
		<div id="info" class='container'>
			<div id="jobsceduler_table_show">
    			<div class ="table-wrapper">
					<table class="table">
						<tbody>
							<tr>
								<td class="title text-left ps-5">
									<label><strong>{{ 'jobscheduler.id'|trans }}</strong></label>
								</td>
								<td class="value ps-5">{{ entity.id }}</td>
							</tr>
							<tr>
								<td class="title text-left ps-5">
									<label><strong>{{ 'jobscheduler.date_created'|trans }}</strong></label>
								</td>
								<td class="value ps-5">{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
							</tr>
							<tr>
								<td class="title text-left ps-5">
									<label><strong>{{ 'jobscheduler.date_modified'|trans }}</strong></label>
								</td>
								<td class="value ps-5">{{ entity.updatedAt|date('d/m/Y') }}</td>
							</tr>
							<tr>
								<td class="title text-left ps-5">
									<label><strong>{{ 'crontab.command'|trans }}</strong></label>
								</td>
								<td class="value ps-5">{{ entity.command }}</td>
							</tr>
							<tr>
								<td class="title text-left ps-5">
									<label><strong>{{ 'crontab.arguments'|trans }}</strong></label>
								</td>
								<td class="value ps-5">{{ entity.arguments }}</td>
							</tr>
							<tr>
								<td class="title text-left ps-5">
									<label><strong>{{ 'crontab.description'|trans }}</strong></label>
								</td>
								<td class="value ps-5">{{ entity.description }}</td>
							</tr>
							<tr>
								<td class="title text-left ps-5">
									<label><strong>{{ 'crontab.running'|trans }}</strong></label>
								</td>
								<td class="value ps-5">{{ entity.runningInstances }}</td>
							</tr>
							<tr>
								<td class="title text-left ps-5">
									<label><strong>{{ 'crontab.max_instance'|trans }}</strong></label>
								</td>
								<td class="value ps-5">{{ entity.maxInstances }}</td>
							</tr>
							<tr>
								<td class="title text-left ps-5">
									<label><strong>{{ 'crontab.number'|trans }}</strong></label>
								</td>
								<td class="value ps-5">{{ entity.number }}</td>
							</tr>
							<tr>
								<td class="title text-left ps-5">
									<label><strong>{{ 'jobscheduler.active'|trans }}</strong></label>
								</td>
								<td class="value ps-5">
									{% if entity.enable %}
										true
									{% else %}
										false
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<h4 class="mt-5">{{ 'crontab.results'|trans }}</h4>
			<h5 class="mt-5 mb-4" id="crontab-order-info">{{ "Sorting: Default" }}</h5>
			<div id="jobschedulerresulttable">
    			<div class ="table-wrapper pt-3">
					<table class="listepager table" id="myTable">
						<thead>
							<tr>
								<th class="table-head-result text-center">{{ 'jobscheduler.id'|trans }}</th>
								<th class="table-head-result text-center">{{ 'jobscheduler.date_created'|trans }}</th>
								<th class="table-head-result text-center">{{ 'jobscheduler.date_modified'|trans }}</th>
								<th class="table-head-result text-center">{{ 'jobscheduler.output'|trans }}</th>
								<th class="table-head-result text-center">{{ 'jobscheduler.run_at'|trans }}</th>
								<th class="table-head-result text-center">{{ 'jobscheduler.run_time'|trans }}</th>
								<th class="table-head-result text-center">{{ 'jobscheduler.status_code'|trans }}</th>
							</tr>
						</thead>
						<tbody>
							{% for result in pager.currentPageResults %}
								<tr>
									<td>{{ result.id }}</td>
									<td>{{ result.createdAt|date('Y-m-d H:i:s') }}</td>
									<td>{{ result.updatedAt|date('Y-m-d H:i:s') }}</td>
									<td>{{ result.output|raw }}</td>
									<td>{{ result.runAt|date('Y-m-d H:i:s') }}</td>
									<td>{{ result.runTime }}</td>
									<td>{{ result.statusCode }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="d-flex justify-content-center mt-4">
					{% if pager.haveToPaginate %}
						{{ pagerfanta(
							pager, 'twitter_bootstrap4',{ 'routeName': 'crontab_show_page', 'routeParams': { 'id': entity.id }, 'proximity': 2 }
						) }}
					{% endif %}
				</div>

			</div>
		</div>
	</div>
{% endblock %}
