{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% extends 'base.html.twig' %}
{% block title %}{{parent()}} | {{'create_connector.title'|trans}}{% endblock %}
{% block titlesm %}{{'title.connector.create'|trans}}{% endblock titlesm %} 
{% block body %}
    <div>
		<div>	
		<ul class="nav nav-tabs" role="tablist" id="connectorCreateTabs">
			{% include "Connector/create.html.twig" %}
		</ul>
		<div class="link-help-view text-end mx-4">
			<a href="https://myddleware.github.io/myddleware/#/advanced_usage?id=create-a-workflow">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
				{{ 'rule.help' | trans }}
			</a>
		</div>
			<div id="connexion_connector" class="tab-content pt-4">
				{% include "Connector/connexion.html.twig" with{'solutions':solutions} only %}
			</div>
		</div>
    </div>

    {# ------------- PARAMETRES JQUERY ------------- #}
    <script type="text/javascript">
		var pourcentage = 0;
		var onglets = {
			active: 0,
			disabled: [1,2,3]
		};
		var change = false;
		var nonRequiredFields = {{ nonRequiredFields|json_encode|raw }};
    </script>
    {# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}