{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{# BTN #}
<div class="block-btn-infos">
	<a href="{{ path('connector_delete',{'id' : connector_params.id }) }}" title="" onclick="return(confirm('{{'view_connector.btn.confirm_delete'|trans}}'));">
		<button type="button" class="btn-mydinv">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
			<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
			</svg> 
			{{'view_connector.btn.delete'|trans}}
		</button> 
	</a>
</div>
{# BTN #} 

<div align="center">
    {{form_start(form)}}
	<table id="tab_connector">
		<tr>
			<th colspan="2">{{'view_connector.info.title'|trans}}</th>
		</tr>	
		<tr>
			<td class="title solution">{{'view_connector.info.solution'|trans}}</td>
			<td class="value"><p><img class="vignette" src="{{ asset('build/images/solution/' ~ connector_params.solution.name ~ '.png') }}" alt="{{ connector_params.solution.name }}" /></p></td>
		</tr>
        </table>
		<tr>
			<td class="title">nom</td>
			<td class="value">{{form_widget(form.name)}}
                            {#<input type="text" value="{{ connector_params.label }}" id="label" data-id="{{ connector_params.id }}" />#}</td>
		</tr>	
		{% for key,value in form.connectorParams %}
                    <tr>
                            <td class="title">{{ value.name }}</td>
                            <td class="value"><input type="{{ getFieldType(value.name) }}" value="{{ getDecryptValue(value.value) }}" data-param="{{ value.name }}" data-id="{{ connector.id }}" class="params" /></td>
                    </tr>
		{% endfor %}
	</table>
    {{form_end(form)}}
	<p><span id="connexion" class="btn-myd">Test</span>
		<span id="source_status" class="status">
				<img alt="status" src="{{ asset('build/images/status_offline.png') }}">
		</span>
	</p>	
	<p><span id="connector_save" class="btn-myd">{{'view_connector.btn.save'|trans}}</span> <div id="validation"></div></p>
	<div id="msg_status" class="alert alert-danger" role="alert">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation" viewBox="0 0 16 16">
		<path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
		</svg> 
		{{'error.connexion'|trans}} : <span class="error"></span>
	</div>

</div>