{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #}

{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	|
	{{'title.connector.list'|trans}}
{% endblock %}
{% block titlesm %}
	{{'title.connector.list'|trans}}
	{% if nb > 0 %}
		({{ nb }})
	{% endif %}
{% endblock titlesm %}
{% block body %}
	<div id="connector" class="row justify-content-center pb-4">
		<div class="row justify-content-center my-4">
			<div class="col text-center">
				<a class="btn btn-primary mt-3" href="{{ path('regle_connector_create') }}" title="" role="button">
					{{'menu.connector.create'|trans}}
				</a>
			</div>
		</div>
		<div class="col mt-2">
			{% if nb > 0 %}
				<div class="row justify-content-center">
					<div class="col" id="connector-list">
						<div class="table-wrapper">
							<table class="table table-hover align-middle shadow-table">
								{% if entities is not empty %}
									<thead>
										<tr>
											<th class="rounded-table-up-left">{{'list_connector.th.name'|trans}}</th>
											<th>{{'list_connector.th.date_created'|trans}}</th>
											<th class="rounded-table-up-right">{{'list_connector.th.option'|trans}}</th>
										</tr>
									</thead>
									<tbody>
										{% for connector in entities %}
											<tr>
												<td class="solution_block">
													<div class="d-flex align-items-center">
														<img class="vignette" src="{{ asset('build/images/solution/'~connector.solution~'.png') }}" alt="logo solution"/>
														<a href="{{ path('connector_detail',{'id' : connector.0.getId }) }}" title="{{'list_connector.btn.view'|trans}}" class="help-link all-link ms-2 name-connector">
															{{connector.0.getName}}
														</a>
														<a class="mx-3 edit-button-name-list">
															<i class="fa fa-pen" aria-hidden="true"></i>
														</a>
													</div>
												</td>
												<td class="creation-date">
													{{connector.0.getDateCreated|date("d/m/Y") }}
													{% if app.user.getUsername == 'support' %}
														<p>
															<span class="label label-default">{{ connector.0.getCreatedBy.username }}</span>
														</p>
													{% endif %}
												</td>
												<td class="CRUD-icons">
													<a href="{{ path('connector_detail',{'id' : connector.0.getId }) }}" title="{{'list_connector.btn.view'|trans}}" class="btn btn-sm btn-outline-success">
														<span class="btn-opt">
															<i class="fa fa-eye"></i>
														</span>
													</a>
													<a href="{{ path('connector_open',{'id' : connector.0.getId }) }}" title="{{'list_connector.btn.view'|trans}}" class="btn btn-sm btn-outline-primary">
														<span class="btn-opt">
															<i class="fa fa-pen" aria-hidden="true"></i>
														</span>
													</a>
													<a class="delete btn btn-sm btn-outline-danger" href="{{ path('connector_delete',{'id' : connector.0.getId }) }}" title="{{'list_connector.btn.delete'|trans}}" onclick="return(confirm('{{'list_connector.delete'|trans}}'));">
														<span class="btn-opt">
															<i class="fa fa-trash" aria-hidden="true"></i>
														</span>
													</a>
												</td>
											</tr>
										{% endfor %}
										<tr class="invisibele-row-bottom">
											<th class="rounded-table-down-left">{{'list_connector.th.name'|trans}}</th>
											<th>{{'list_connector.th.date_created'|trans}}</th>
											<th class="rounded-table-down-right">{{'list_connector.th.option'|trans}}</th>
										</tr>
									</tbody>
								{% endif %}
							</table>
						</div>
					</div>
				</div>
				<div class="d-flex justify-content-center">
					{% if pager.haveToPaginate %}
						{{ pagerfanta(pager, 'twitter_bootstrap4', {'routeName': 'regle_connector_page'}) }}
					{% endif %}
				</div>
			{% else %}
				<div class="d-grid justify-content-center pt-4">
					<h2 class="display-6">{{'list_connector.empty'|trans}}</h2>
					<a href="{{ path('regle_connector_create') }}" title="" class="mt-4 btn btn-success">{{'list_connector.create_first_connector'|trans}}</a>
				</div>
			{% endif %}
		</div>
	</div>
	<script type="text/javascript">
		var chemin_img = "{{ asset('build/images/regle/') }}";
var question = "{{ 'list_connector.delete'|trans }}";
	</script>
{% endblock %}
