{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

{% if app.session %}

<ul id="zone_notification">

{% if app.session.get('error') is not empty  %}
    {% for error in app.session.get('error') %}
        <li class="error">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
            <p>{{ error|raw }}</p>
        </li>
    {% endfor %}
{% endif %}


{% if app.session.get('warning') is not empty  %}
    {% for warning in app.session.get('warning') %}
        <li class="warning">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation" viewBox="0 0 16 16">
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.553.553 0 0 1-1.1 0L7.1 4.995z"/>
            </svg>
            <p>{{ warning|raw }}</p>
        </li>
    {% endfor %}
{% endif %}

{% if app.session.get('info') is not empty  %}
    {% for info in app.session.get('info') %}
        <li class="info">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            <p>{{ info|raw }}</p>
        </li>
    {% endfor %}
{% endif %}

{% if app.session.get('success') is not empty  %}
    {% for success in app.session.get('success') %}
        <li class="success">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check success-custom-adjust" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
            </svg>
            <p>{{ success|raw }}</p>
        </li>
    {% endfor %}
{% endif %}

{% if app.session.has('error') %}
    {#{{app.session.remove('error') }}#}
    {{app.session.set('error',null) }}
{% endif %}
{% if app.session.has('warning') %}
    {# {{app.session.remove('warning') }}#}
    {{app.session.set('warning',null) }}
{% endif %}
{% if app.session.has('info') %}
     {#{{app.session.remove('info') }}#}
    {{app.session.set('info',null) }}
{% endif %}
{% if app.session.has('success') %}
     {#{{app.session.remove('success') }}#}
    {{app.session.set('success',null) }}
{% endif %}
{#
{{ app.session.clear() }}
WARNING, it's not a good practice, because it's clear all session *_*. We sould use flashbag for notification
#}

</ul>
{% endif %}