<h4>{{ 'user_manager.edit'|trans }}</h4>

{% include '_notifications.html.twig' with { filter_prefix: 'user_manager.edit' } %}

{{ form_start(form, { attr: { id: 'user-edit-form' } }) }}

    <div class="mdw-floating-field">
        {{ form_label(form.username) }}
        {{ form_widget(form.username) }}
        {{ form_errors(form.username) }}
    </div>

    <div class="mdw-floating-field">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </div>

    <div class="mdw-floating-field">
        {{ form_label(form.roles) }}
        {{ form_widget(form.roles) }}
        {{ form_errors(form.roles) }}
    </div>

    <div class="mdw-floating-field">
        {{ form_label(form.timezone) }}
        {{ form_widget(form.timezone) }}
        {{ form_errors(form.timezone) }}
    </div>

    <div class="mt-4">
        <button type="submit" class="btn btn-primary">{{ 'Save' | trans }}</button>
    </div>

{{ form_end(form) }}