{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #}
{% extends 'base.html.twig' %}
{% block title %}
    {{parent()}} | {{'view_connector.info.title'|trans}}
{% endblock %}
{% block titlesm %}
    {{'view_connector.info.title'|trans}} <i class="fa-solid fa-arrow-right fa-flip arrow-cut-animation"></i> Connector {{ connector.name }}
{% endblock titlesm %}

{% block body %}
    {% for flash in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show">
            {{ flash }}
        </div>
    {% endfor %}

    {% include '_notifications.html.twig' with { filter_prefix: 'connector.' } %}

    <div class="modern-connector-layout view-detail-page mt-5">
        <div class="connector-card">
            
            {# Logo and Solution #}
            <div class="connector-left">
                <div class="logo-wrapper">
                    <div class="picture">
                        <img class="vignette" src="{{ asset('build/images/solution/' ~ connector.solution.name ~ '.png') }}" alt="{{ connector.solution.name }}">
                    </div>
                </div>
                <h3 class="mt-3" style="color: #555;">{{ connector.solution.name }}</h3>
            </div>

            {# Infos and Champs #}
            <div class="connector-right">
                <h1 class="brand-title">Connector Details</h1>
                
                <div class="champs">
                    <div class="row">
                        <label>{{ 'create_connector.connexion'|trans }}</label>
                        <div class="col">
                            <input type="text" class="params form-control" value="{{ connector.name }}" readonly>
                        </div>
                    </div>

                    {% for key, value in paramConnexion %}
                        <div class="row">
                            <label class="title">{{ key }}</label>
                            <div class="col">
                                <div class="params-wrapper" style="position: relative;">
                                    <input type="text" class="params form-control" 
                                           value="{% if key|lower in sensitiveFields and value is not null %}******************{% else %}{{ value }}{% endif %}" 
                                           readonly>
                                    <div class="params d-none" data-param="{{ key }}">
                                        {% if key|lower in sensitiveFields and value is not null %}******************{% else %}{{ value }}{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row justify-content-center mt-5">
                        <div class="col d-flex align-items-center gap-3">
                            <button type="button" id="connexion_detail" class="btn testing">Test</button>
                            <span id="source_status" class="status">
                                <i class="fa fa-lightbulb status-offline"></i>
                            </span>
                        </div>
                    </div>
                    <div class="connector-actions-footer mt-4 d-flex gap-2">
                        <a href="{{ path('connector_open', { 'id': connector.id }) }}" class="btn btn-success flex-grow-1">
                            {{ 'view_connector.btn.edit'|trans }}
                        </a>
                        <a href="{{ path('regle_connector_list') }}" class="btn btn-outline-primary">
                            {{ 'view_connector.btn.back'|trans }}
                        </a>
                        <form method="post" action="{{ path('connector_delete',{'id' : connector.id }) }}" style="display: inline;">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('{{'view_connector.btn.confirm_delete'|trans}}');">
                                {{'view_connector.btn.delete'|trans}}
                            </button>
                        </form>
                    </div>
                </div>
                <div id="msg_status" class="alert alert-danger mt-3" style="display:none;">
                    <i class="fa fa-exclamation-circle"></i> {{'error.connexion'|trans}} : <span class="error"></span>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        const sensitiveFields = {{ sensitiveFields|json_encode|raw }};
        {% for field in sensitiveFields %}
            {% if paramConnexion[field] is defined and paramConnexion[field] is not empty %}
                var {{ field }} = "{{ paramConnexion[field] }}";
            {% endif %}
        {% endfor %}
    </script>
{% endblock %}


{% block javascripts %}
    {{ encore_entry_script_tags('connector') }}
{% endblock %}
