{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    |
    {{ 'view_workflow_action.edit'| trans}}
{% endblock %}
{% block titlesm %}
    {{ 'view_workflow_action.edit'| trans}}
{% endblock titlesm %}
{% block body %}
    <div class="container mt-5">
        {{ form_start(form) }}
        <div class="text-center m-5 d-flex justify-content-between align-items-center">
            <div class="left-buttons">
                <a href="{{ path('workflow_show', {'id': workflowAction.Workflow.id}) }}" class="btn btn-outline-primary m-2">
                    {{ 'view_workflow_action.back'| trans }}
                </a>
            </div>

            <div class="center-buttons">
                <a href="{{ path('workflow_action_create_with_workflow', {'workflowId': workflowAction.Workflow.id}) }}" class="btn btn-primary m-2">
                    {{ 'Create new workflow action'| trans }}
                </a>
            </div>
            
            <div class="right-buttons">
                <button type="submit" name="submit" class="btn btn-primary m-2">
                    {{ 'Save'|trans }}
                </button>

                <a href="{{ path('workflow_action_show', {'id': workflowAction.id}) }}" class="btn btn-outline-warning m-2">
                    {{ 'view_workflow_action.cancel_edit'| trans }}
                </a>
            </div>
        </div>

        <div class="card mb-3 pb-3 shadow-sm border-0">
            <div class="card-header bg-white fw-bold pt-3 pb-3">
                {{ 'view_workflow_action.edit'|trans }}
            </div>
            <div class="card-body m-3">
                <div class="row mb-4">
                    <div class="col-md-6 form-group-workflow-action workflow-action-edit-name" id="name-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                    <div class="col-md-6 workflow-field-container form-group-workflow-action workflow-action-edit-workflow" id="workflow-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.Workflow) }}
                            {{ form_widget(form.Workflow) }}
                            {{ form_errors(form.Workflow) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 form-group-workflow-action workflow-action-edit-description" id="description-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.description) }}
                            {{ form_widget(form.description) }}
                            {{ form_errors(form.description) }}
                        </div>
                    </div>
                    <div class="col-md-6 form-group-workflow-action workflow-action-edit-action" id="action-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.action) }}
                            {{ form_widget(form.action) }}
                            {{ form_errors(form.action) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 form-group-workflow-action" id="order-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.order) }}
                            {{ form_widget(form.order) }}
                            {{ form_errors(form.order) }}
                        </div>
                    </div>
                    {% if form.multipleRuns is defined %}
                        <div class="col-md-6 form-group-workflow-action" id="multiple-runs-container">
                            <div class="mdw-floating-field">
                                {{ form_label(form.multipleRuns) }}
                                {{ form_widget(form.multipleRuns) }}
                                {{ form_errors(form.multipleRuns) }}
                            </div>
                        </div>
                    {% endif %}
                    <div class="col-md-6 form-group-workflow-action workflow-action-edit-status" id="status-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.status) }}
                            {{ form_widget(form.status) }}
                            {{ form_errors(form.status) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 form-group-workflow-action" id="active-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.active) }}
                            {{ form_widget(form.active) }}
                            {{ form_errors(form.active) }}
                        </div>
                    </div>
                    <div class="col-md-6 form-group-workflow-action workflow-action-edit-rule" id="rule-change-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.ruleChangeData) }}
                            {{ form_widget(form.ruleChangeData) }}
                            {{ form_errors(form.ruleChangeData) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 form-group-workflow-action workflow-action-edit-to" id="to-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.to) }}
                            {{ form_widget(form.to) }}
                            {{ form_errors(form.to) }}
                        </div>
                    </div>
                    <div class="col-md-6 form-group-workflow-action workflow-action-edit-subject" id="subject-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.subject) }}
                            {{ form_widget(form.subject) }}
                            {{ form_errors(form.subject) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12" id="message-container">
                        <div class="workflow-field-container form-group-workflow-action workflow-action-edit-message">
                            <div class="mdw-floating-field">
                                {{ form_label(form.message) }}
                                {{ form_widget(form.message) }}
                                {{ form_errors(form.message) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 form-group-workflow-action workflow-action-edit-rule" id="rule-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.ruleGenerate) }}
                            {{ form_widget(form.ruleGenerate) }}
                            {{ form_errors(form.ruleGenerate) }}
                        </div>
                    </div>
                    <div class="col-md-6 form-group-workflow-action workflow-action-edit-searchfield" id="search-field-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.searchField) }}
                            {{ form_widget(form.searchField) }}
                            {{ form_errors(form.searchField) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 form-group-workflow-action workflow-action-edit-searchvalue" id="search-value-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.searchValue) }}
                            {{ form_widget(form.searchValue) }}
                            {{ form_errors(form.searchValue) }}
                        </div>
                    </div>
                    <div class="col-md-6 form-group-workflow-action" id="rerun-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.rerun) }}
                            {{ form_widget(form.rerun) }}
                            {{ form_errors(form.rerun) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 form-group-workflow-action" id="document-type-container">
                        <div class="mdw-floating-field">
                            {{ form_label(form.documentType) }}
                            {{ form_widget(form.documentType) }}
                            {{ form_errors(form.documentType) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-4" style="display: none;">
                    <div class="col-md-6 form-group-workflow-action" id="targetFieldContainer">
                        <div class="mdw-floating-field">
                            {{ form_label(form.targetFields) }}
                            {{ form_widget(form.targetFields) }}
                            {{ form_errors(form.targetFields) }}
                        </div>
                    </div>
                    <div class="col-md-6 form-group-workflow-action" id="targetFieldValueContainer" style="display: none;">
                        <div class="mdw-floating-field">
                            <label for="form_targetFieldValue">New value</label>
                            <input type="text" id="form_targetFieldValue" name="form[targetFieldValue][]" class="form-control">
                        </div>
                    </div>
                </div>
                <div id="dynamicFieldsContainer"></div>
                <button type="button" class="btn btn-outline-primary mt-3" id="addFieldButton">
                    <i class="fa-solid fa-plus me-1"></i> Add field
                </button>
            </div>
            <div class="text-center">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form, {'render_rest': false}) }}

        <div class="text-center mt-3 mb-5">
            <form method="post" action="{{ path('workflow_action_delete', {'id': workflowAction.id}) }}" style="display: inline;">
                <button type="submit" 
                        onclick="return confirm('Are you sure you want to delete this workflow action?');" 
                        class="btn btn-outline-danger">
                    {{ 'view_workflow_action.delete'| trans }}
                </button>
            </form>
        </div>

        <script type="text/javascript">
            var workflowTargetFieldUrl = "{{ path('get_target_fields', { 'ruleId': 'ruleFields' }) }}";
            var targetFieldsData = {{ targetFieldsData|json_encode()|raw }};
                window.workflowRuleMap = {
                {% for wf in workflows %}
                    "{{ wf.id }}": "{{ wf.rule ? wf.rule.id : '' }}"{% if not loop.last %},{% endif %}
                {% endfor %}
                };

                function syncChangeRuleFromWorkflow() {
                    var wf = document.getElementById('form_Workflow');
                    var sel = document.getElementById('form_ruleChangeData');
                    if (!wf || !sel) return;
                    var rid = (window.workflowRuleMap && window.workflowRuleMap[wf.value]) ? window.workflowRuleMap[wf.value] : '';
                    var opt = sel.options[0];
                    if (!opt) {
                    opt = document.createElement('option');
                    sel.appendChild(opt);
                    }
                    opt.value = rid;
                    opt.text  = (rid ? rid : '');
                    sel.value = rid;
                    if (window.jQuery && jQuery(sel).data('select2')) {
                    jQuery(sel).trigger('change.select2');
                    } else {
                    sel.dispatchEvent(new Event('change', { bubbles: true }));
                    }
                }

                document.addEventListener('DOMContentLoaded', function () {
                    syncChangeRuleFromWorkflow();
                    var wf = document.getElementById('form_Workflow');
                    if (wf) wf.addEventListener('change', syncChangeRuleFromWorkflow);
                });

        </script>
    </div>
{% endblock %}