{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #}

{% extends 'base.html.twig' %}
{% block title %}
	{{parent()}}
	|
	{{'title.workflow.list'|trans}}
{% endblock %}
{% block titlesm %}
	{{'title.workflow.list'|trans}}

	{% if nb_workflow > 0 %}
		{{ nb_workflow }}
	{% endif %}
{% endblock titlesm %}
{% block body %}
	{% block js %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
	{% endblock js %}
	<div id="workflows">

		<div>
			<a href="{{ path('workflow_create') }}" class="btn btn-primary">{{ 'Create new workflow'|trans }}</a>
		</div>

		<div>
			{% endfor %}
			{% if nb_workflow > 0 %}
				<table class="listepager table container">
					{% if entities is not empty %}
						<tr>
							<th>{{'list_workflow.th.id'|trans}}</th>
							<th>{{'list_workflow.th.ruleName'|trans}}</th>
							<th>{{'list_workflow.th.name'|trans}}</th>
							<th class="description_workflow_list">{{'list_workflow.th.description'|trans}}</th>
							<th>{{'list_workflow.th.workflowCondition'|trans}}</th>
							<th>{{'list_workflow.th.active'|trans}}</th>
							<th>{{'list_workflow.th.actions'|trans}}</th>
						</tr>
						{% for workflow in entities %}
							<tr>
								<td>{{ workflow.id }}</td>
								<td>
									<a href="{{ path('regle_open',{'id' : workflow.rule.id }) }}" title="{{ workflow.rule.name }}" class="text-decoration-none help-link all-link">
										{{ workflow.rule.name }}</a>
								</td>
								<td>
									<a href="{{ path('workflow_show', {'id': workflow.id}) }}" class="help-link all-link">{{ workflow.name }}</a>
								</td>
								<td>{{ workflow.description }}</td>
								<td>{{ workflow.condition }}</td>
								<td class="{{ workflow.active ? 'workflow_active' : 'workflow_inactive' }}">
									<a href="{{ path('workflow_active', {'id': workflow.id}) }}">
										{{ workflow.active ? 'Active' : 'Inactive' }}
									</a>
								</td>
								<td>
									<button class="toggle-actions" data-id="{{ workflow.id }}">Show Actions</button>
								</td>
								<!-- Button to toggle actions -->
							</tr>
							<tr
								class="actions-row" id="actions-{{ workflow.id }}" style="display: none;">
								<!-- Row for actions, hidden by default -->
								<td
									colspan="1">
									<!-- Here you can list the actions for the workflow -->
									{% for action in workflow.getWorkflowActions %}
										<p>{{ action.name }}</p>
									{% endfor %}
								</td>
								<td
									colspan="1">
									<!-- Here you can list the actions for the workflow -->
									{% for action in workflow.getWorkflowActions %}
										<p>{{ action.action }}</p>
									{% endfor %}
								</td>
								<td
									colspan="1">
									<!-- Here you can list the actions for the workflow -->
									{% for action in workflow.getWorkflowActions %}
										<p>{{ action.description }}</p>
									{% endfor %}
								</td>
								<td
									colspan="1">
									<!-- Here you can list the actions for the workflow -->
									{% for action in workflow.getWorkflowActions %}
										<p>{{ action.order }}</p>
									{% endfor %}
								</td>
								<td
									colspan="1">
									<!-- Here you can list the actions for the workflow -->
									{% for action in workflow.getWorkflowActions %}
										{% if action.arguments is iterable %}
											{% for key, argument in action.arguments %}
												<p>{{ key }}:
													{{ argument }}</p>
											{% endfor %}
										{% else %}
											<p>{{ action.arguments }}</p>
										{% endif %}
									{% endfor %}
								</td>
							</tr>
						{% endfor %}
					{% endif %}
				</table>

				<script>
					$(document).ready(function () {
$('.toggle-actions').click(function () {
var id = $(this).data('id');
$('#actions-' + id).toggle();
});
});
				</script>
				<div class="d-flex justify-content-center mt-4">
					{% if pager.haveToPaginate %}
						{{ pagerfanta(pager, 'twitter_bootstrap4', {'routeName': 'workflow_list'}) }}
					{% endif %}
				</div>
			{% else %}
				<p class="display-6">{{ 'list_workflow.empty'|trans }}</p>
			{% endif %}
		</div>
	</div>

	{# ------------- PARAMETRES JQUERY ------------- #}
	<script type="text/javascript">
		var path_img = "{{ asset('build/images/regle/') }}";
var lang = "{{ app.request.locale }}";
	</script>
	{# ------------- PARAMETRES JQUERY ------------- #}
{% endblock %}

{% block cssin %}{% endblock cssin %}
