{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create a new Action</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {# {{ form_row(form.workflow) }} #}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}