{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | {{ 'title.workflow.detail'|trans }}
{% endblock %}

{% block titlesm %}
    {{ 'title.workflow.detail'|trans }}
{% endblock titlesm %} 

{% block body %} 
    {% block js %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    {% endblock js %}

    <div id="task">
        <div>
            <a href="{{ path('workflow_action_edit', {'id': workflow.id}) }}">Edit this Action</a>
        </div>

        <div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}

            {% if workflow is not null %}
            <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Name: {{ workflow.name }}</h2>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Description: {{ workflow.description }}</p>
                        {# rule #}
                        <p class="card-text">Workflow: <a href="{{ path('workflow_show', {'id': workflow.workflow.id}) }}">{{ workflow.workflow.id }}</a></p>
                        <p class="card-text">Action: {{ workflow.action }}</p>
                        <p class="card-text">Order: {{ workflow.order }}</p>
                        <p class="card-text">Arguments: 
                        {% if workflow.arguments is iterable %}
                                            <ul>
                                                {% for key, argument in workflow.arguments %}
                                                    <li>{{ key }}: {{ argument }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            {{ workflow.arguments }}
                                        {% endif %}
                        </p>
                        <p class="{{ workflow.active ? 'workflow_active' : 'workflow_inactive' }}">
									<a href="{{ path('workflow_active_show', {'id': workflow.id}) }}">
										{{ workflow.active ? 'Active' : 'Inactive' }}
									</a>
								</p>
                        
                    </div>
                </div>
            {% endif %}

                
    </div>
{% endblock %}