{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	|
	{{ 'view_workflow_action.title'|trans }}
{% endblock %}
{% block titlesm %}
	{{ 'view_workflow_action.title'|trans }}
	<i class="fa-solid fa-arrow-right fa-flip arrow-cut-animation fa-solid fa-arrow-right fa-flip"></i>
	{{ workflow.name }}
{% endblock titlesm %}

{% block body %}
	<div id="workflows">
		<div>
			<a href="{{ path('workflow_show', {'id': workflow.workflow.id}) }}" class="btn btn-outline-primary m-2">{{ 'view_workflow_action.back_to_workflow'|trans }}</a>
			<a href="{{ path('workflow_action_edit', {'id': workflow.id}) }}" class="btn btn-outline-success m-2">{{ 'view_workflow_action.edit'|trans }}</a>
			<form method="post" action="{{ path('workflow_action_delete', {'id': workflow.id}) }}" style="display: inline;">
				<button type="submit" 
						onclick="return confirm('{{ 'view_workflow_action.confirm_delete'|trans }}');" 
						class="btn btn-outline-danger m-2">
					{{ 'view_workflow_action.delete'|trans }}
				</button>
			</form>
		</div>

				<div class="link-help-view text-end mb-4 mx-4">
			<a href="https://myddleware.github.io/myddleware/#/advanced_usage?id=workflowaction">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
				{{ 'rule.help' | trans }}
			</a>
		</div>

		<div>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}

			{% if workflow is not null %}
				<div class="workflow-details container mt-4">
					<div class="card-header mb-4 card-title-workflow">
						<button class="toggle-button btn btn-outline-secondary btn-sm float-end" data-bs-toggle="collapse" data-bs-target="#workflow-content" aria-expanded="true" aria-controls="workflow-content">
							<i class="fa fa-minus"></i>
						</button>
						ACTION
					</div>
					<div id="workflow-content" class="collapse show">
						<div class="workflow-row mb-2">
							<div class="workflow-col mb-2">
								<strong>{{ 'view_workflow.name'|trans|upper }}</strong>
								<div>{{ workflow.name }}</div>
							</div>
							<div class="workflow-col mb-2">
								<strong>{{ 'view_workflow_action.workflow'|trans|upper }}</strong>
								<div>
									<a href="{{ path('workflow_show', {'id': workflow.workflow.id}) }}" class="help-link all-link">{{ workflow.workflow.name }}</a>
								</div>
							</div>
						</div>
						<div class="workflow-row mb-2">
							<div class="workflow-col mb-2">
								<strong>{{ 'view_workflow.description'|trans|upper }}</strong>
								<div>{{ workflow.description }}</div>
							</div>
							<div class="workflow-col mb-2">
								<strong>{{ 'view_workflow_action.action'|trans|upper }}</strong>
								<div>{{ workflow.action }}</div>
							</div>
						</div>
						<div class="workflow-row mb-2">
							<div class="workflow-col mb-2">
								<strong>{{ 'view_workflow.status'|trans|upper }}</strong>
								<div class="form-check form-switch text-center">
									<input class="workflow_status form-check-input workflow-check-input" type="checkbox" id="activeWorkflow_{{ workflow.id }}" data-id="{{ workflow.id }}" data-type="workflowAction" {{ workflow.active ? 'checked' : '' }}>
								</div>
							</div>
							<div class="workflow-col mb-2">
								<strong>{{ 'view_workflow_action.order'|trans|upper }}</strong>
								<div>{{ workflow.order }}</div>
							</div>
						</div>
						<div class="workflow-row mb-2">
							<div class="workflow-col mb-2">
								<strong>{{ 'view_workflow.arguments'|trans|upper }}</strong>
								<div>
									{% if workflow.arguments is iterable %}
										<ul>
											{% for key, argument in workflow.arguments %}
												<li>{{ key }}:
													{% if argument is iterable %}
														<ul>
															{% for subKey, subArgument in argument %}
																<li>{{ subKey }}:
																	{{ subArgument }}</li>
															{% endfor %}
														</ul>
													{% else %}
														{{ argument }}
													{% endif %}
												</li>
											{% endfor %}
										</ul>
									{% else %}
										{{ workflow.arguments }}
									{% endif %}
								</div>
							</div>
							<div class="workflow-col mb-2">
								{# we put the multiple runs here	 #}
								<strong>{{ 'view_workflow_action.multiple_runs'|trans|upper }}</strong>
								<div>
									{% if workflow.multipleRuns == 1 %}
										{{ 'view_workflow_action.multiple_runs_yes'|trans }}
									{% else %}
										{{ 'view_workflow_action.multiple_runs_no'|trans }}
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}

			{% if nb_workflow > 0 %}
				<div id="fd-title-small" class="left">
					<p>{{ 'view_workflow.logs'|trans }}</p>
					<span class="nb">{{ nb_workflow }}</span>
				</div>
			{% endif %}
			<div class="clr"></div>
			<div class="workflow-logs container mt-4">
				<div class="mt-4">
					<div class="card-header mb-4 card-title-workflow">
						<button class="toggle-button btn btn-outline-secondary btn-sm float-end" data-bs-toggle="collapse" data-bs-target="#workflow-logs-content" aria-expanded="true" aria-controls="workflow-logs-content">
							<i class="fa fa-minus"></i>
						</button>
						{{ 'view_workflow.logs'| trans | upper }}
					</div>
					{# templates/workflow/show.html.twig #}

					<div id="workflow-logs-content" class="collapse show">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>{{ 'view_workflow.log_id'|trans }}</th>
									<th>{{ 'view_workflow.workflow'|trans }}</th>
									<th>{{ 'view_workflow.job'|trans }}</th>
									<th>{{ 'view_workflow.trigger_document'|trans }}</th>
									<th>{{ 'view_workflow.generate_document'|trans }}</th>
									<th>{{ 'view_workflow.created_by'|trans }}</th>
									<th>{{ 'view_workflow.status'|trans }}</th>
									<th>{{ 'view_workflow.date_created'|trans }}</th>
									<th>{{ 'view_workflow.message'|trans }}</th>
									<th>{{ 'view_workflow.action_type'|trans }}</th>
								</tr>
							</thead>
							<tbody>
								{% for log in pager.currentPageResults %}
									<tr class="fd_{{ log.status|lower }}" data-id="{{ log.id }}">
										<td class="ctr">{{ log.id }}</td>
										<td class="ctr">
											<a href="{{ path('workflow_list') }}" class="help-link all-link">{{ log.workflow.id }}</a>
										</td>
										<td class="ctr">
											<a href="{{ path('task_view', {'id': log.job.id}) }}" class="help-link all-link">{{ log.job.id }}</a>
										</td>
										<td class="ctr">
											{% if log.triggerDocument is not null %}
												<a href="{{ path('flux_info_page', {'id': log.triggerDocument.id, 'page': 1, 'logPage': 1}) }}" class="help-link all-link">{{ log.triggerDocument.id }}</a>
											{% else %}
												<span></span>
											{% endif %}
										</td>
										<td class="ctr">
											{% if log.generateDocument is not null %}
												<a href="{{ path('flux_info_page', {'id': log.generateDocument.id, 'page': 1, 'logPage': 1}) }}" class="help-link all-link">{{ log.generateDocument.id }}</a>
											{% else %}
												<span></span>
											{% endif %}
										</td>
										<td class="ctr">{{ log.createdBy }}</td>
										<td class="ctr">
											<div class="gblstatus_{{ log.status|lower }}">{{ log.status }}</div>
										</td>
										<td class="ctr">{{ log.dateCreated|date('Y-m-d H:i:s') }}</td>
										<td class="ctr">{{ log.getMessage }}</td>
										<td class="ctr">{{ log.action.action }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>

						{% if pager.haveToPaginate %}
											{{ pagerfanta(pager, 'twitter_bootstrap4', {'routeName': 'workflow_action_show_page', 'routeParams': {'id': workflow.id, 'page': app.request.get('page', 1)}}) }}
											
											<form id="pageForm" method="get" class="form-inline mt-3" onsubmit="updateFormAction(event)">
												<div class="form-group" required style="width: 15em;">
													<label for="page" class="sr-only">Page</label>
													<input type="number" name="page" id="page" class="form-control" placeholder="Page number" min="1" required>
												</div>
												<button type="submit" class="btn btn-primary ml-2" style="display: flex; margin: 1em;" >Go to page</button>
											</form>
										
											<script>
											const maxPage = {{ pager.getNbPages() }};

												function updateFormAction(event) {
													event.preventDefault();
													const page = document.getElementById('page').value;
													if (page < 1 || page > maxPage) {
														alert('Please enter a valid page number between 1 and ' + maxPage);
														return;
													}
													const form = document.getElementById('pageForm');
													const baseUrl = "{{ path('workflow_action_show_page', {'id': workflow.id, 'page': 1}) }}";
													const action = baseUrl.replace('/page-1', '/page-' + page);
													form.action = action;
													form.submit();
												}
											</script>
										{% endif %}
					</div>
				</div>
			</div>

		</div>
	</div>
{% endblock %}

{% block js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
{% endblock js %}
