{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 

<div class="link-help-view text-end mb-4">
	<a href="#help-content-info">
		<i class="fa fa-info-circle" aria-hidden="true"></i>
		{{ 'rule.help' | trans }}
	</a>
</div>

<div class="row justify-content-center text-center">
	<ul id="viewfilters">
	{% if filters is empty %}	
		<li>{{ 'view_rule.filters.empty'|trans }}</li>	
	{% else %}
		{% for c, p in filters %}
			<li>
				<span class="target">{{ p.getTarget }}</span>
				<span class="type">{{ ('filter.' ~ p.getType)|trans }}</span>
				<span class="value">{{ p.getValue }}</span>
			</li>
		{% endfor %}
	{% endif %}
	</ul>
</div>