{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 
<head>
	{% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<div class="link-help-view text-end mb-4">
	<a href="#help-content-param">
		<i class="fa fa-info-circle" aria-hidden="true"></i>
	{{'rule.help'|trans}}
	</a>
</div>
<div id="rule-params-container" class="d-flex justify-content-around align-items-baseline">
	<div >
		{# <div>
			<button id="storeReferenceDateButton" type="button" class="btn btn-primary mb-2">
				Store Reference Date
			</button>
			<button id="getReferenceDateButton" type="button" class="btn btn-primary mb-2">
				Get Reference Date
			</button>
		</div> #}
		<div id="ruleparams" class="row">
			{% if params %}
				{% for c, p in params %}
					<div class="col-md-12 mb-3">
						<p>{{ p.label|trans }}:</p>

						{% if p.type != 'option' %}
							<input data-id="{{ p.id_bdd }}"	{{ p.required ? 'class="require params form-control"' : 'class="params form-control"' }} type="{{ p.type == 'Symfony\\Component\\Form\\Extension\\Core\\Type\\TextType' ? 'text' : p.type }}" id="{{ p.name }}"	name="{{ p.name }}"	value="{{ p.value_bdd }}"/>
							{% if p.name == 'datereference' %}
								<div class="form-text text-muted">
										{{'view_rule.params.daterefence'|trans}}
								</div>
							{% endif %}
						{% else %}
							<select data-id="{{ p.id_bdd }}" class="params {{ p.required ? 'require' }} {{ p.name != 'delete' ? 'form-select' }}" name="{{ p.name }}" id="{{ p.name }}">
								{% for opt_value, opt_name in p.option %}
									<option value="{{ opt_value }}" {{ opt_value == p.value_bdd ? 'selected' : '' }}>
										{{ opt_name|trans }}
									</option>
								{% endfor %}
							</select>
						{% endif %}
					</div>
				{% endfor %}
			{% endif %}
		</div>

		<div id="validRuleParams" class="d-flex justify-content-between">
			<div>
				<button id="saveRuleParams" type="button" class="btn btn-success">
					{{'view_rule.params.save'|trans}}
				</button>
			</div>
			<div class="myd_loading">
				<img id="myd_loading_img" src="" />
			</div>
		</div>
	</div>


	<div id="simuleRuleFlux" >
		<div id="simuleRuleFluxContainer">
			<p class="simuleRuleFluxResult">{{'view_rule.params.result'|trans}}*: 
				<input type="text" class="simuleRuleFluxResult form-control form-control-sm" id="simuleRuleFluxResult" readonly></input>
			</p>
			<div id="simuleRuleFluxError" class="alert alert-danger" role="alert"></div>
			<p id="simuleRuleFluxDetails">*{{'view_rule.params.details'|trans}}</p>
		</div>
		<div id="simuleRuleFluxBtn" class="d-flex justify-content-between">
			<div >
				<button id="simuleRuleFluxAction" type="button" class="btn btn-success">
					{{'view_rule.params.simule'|trans}}
				</button>
			</div>
			<div class="simuleRuleFluxLoading">
				<img id="simuleRuleFluxLoading_img" src="" />
			</div>
		</div>	
	</div>
</div>
<div class="clr"></div>



<div id="help-content-param" class="help-content">
	<h2>{{'help.title'|trans}} 
		<i class="fa fa-info-circle" aria-hidden="true"></i>
	</h2>
	<p>{{'help.viewrule.param'|trans|raw}}</p>
</div>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<script type="text/javascript">	
	var path_img = "{{ asset('build/images/regle/') }}";	
// DATE & TIME PICKER FOR THE DATEREFERENCE INPUT FIELD 
	instance = new dtsel.DTS('input[id="datereference"]',  {
	showTime: true
		});
	// document.getElementById('storeReferenceDateButton').addEventListener('click', function() {
		// var dateReferenceValue = document.getElementById('datereference').value;
		// var ruleId = '{{ rule.id }}';

		// Store the value in localStorage with a key that includes the rule ID
		// localStorage.setItem('dateReference_' + ruleId, dateReferenceValue);
		
		// Log the stored value to verify
		// console.log('Stored date reference for rule ' + ruleId + ':', localStorage.getItem('dateReference_' + ruleId));
	// });

	// document.getElementById('getReferenceDateButton').addEventListener('click', function() {
		// var ruleId = '{{ rule.id }}';
		// var storedDateReference = localStorage.getItem('dateReference_' + ruleId);

		// if (storedDateReference) {
			// console.log('Retrieved date reference for rule ' + ruleId + ':', storedDateReference);
			// Set the retrieved value to the input field
			// document.getElementById('datereference').value = storedDateReference;
		// } else {
			// console.log('No stored date reference found for rule ' + ruleId);
		// }
	// });


</script>
