{#/*********************************************************************************
 * This file is part of Myddleware.

 * @package Myddleware
 * @copyright Copyright (C) 2013 - 2015  Stéphane Faure - CRMconsult EURL
 * @copyright Copyright (C) 2015 - 2016  Stéphane Faure - Myddleware ltd - contact@myddleware.com
 * @link http://www.myddleware.com	
 
 This file is part of Myddleware.
 
 Myddleware is free software: you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation, either version 3 of the License, or
 (at your option) any later version.

 Myddleware is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with Myddleware.  If not, see <http://www.gnu.org/licenses/>.
*********************************************************************************/ #} 
{% block body  %}
    {% form_theme form 'form_div_layout.html.twig' %}
    
    {% include '_notifications.html.twig' with { filter_prefix: 'connector.' } %}
    
    <div class="modern-connector-layout view-detail-page mt-5">
        <div class="connector-card">
            
            {# Logo and Solution #}
            <div class="connector-left">
                <div class="logo-wrapper">
                    <div class="picture">
                        <img class="vignette" src="{{ asset('build/images/solution/' ~connector.solution.name~'.png')}}" alt="{{ connector.solution.name }}" />
                    </div>
                </div>
                <h3 class="mt-3" style="color: #555; text-align: center;">{{ connector.solution.name }}</h3>
            </div>

            {# Formulaire and Boutons #}
            <div class="connector-right">
                <h1 class="brand-title">{{'view_connector.info.title'|trans}}</h1>
                
                {# Display flash messages #}
				{% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type == 'error' ? 'danger' : type }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
                
                {% if error is defined %}
                    <div class="alert alert-danger">{{'create_connector.params_error'|trans}}</div>
                {% endif %}
                <div class="champs">
                    {{ form_start(form, {'attr': {'id': 'form-edit-connector'}}) }}
                    
                    <div class="row">
                        <label>{{'create_connector.connexion'|trans}}</label>
                        <div class="col">
                            {{ form_widget(form.name, {'attr': {'class': 'params form-control'}}) }}
                        </div>
                    </div>      

                    {% for key,field in form.connectorParams %}
                        <div class="row">
                            {{ form_label(field.value) }}
                            <div class="col">
                                <div class="params-wrapper" style="position: relative;">
                                    {% if field.vars.value.name !='wsdl' and field.vars.value.name !='file' %}
                                        {{ form_widget(field.value, {'attr': {'class': 'params form-control', 'data-param': field.vars.value.name }}) }}
                                        {{ form_rest(field) }}
                                    {% else %}
                                        <a id="link_wsdl" class="fancybox_upload" href="{{ path('upload', {'solution': field.vars.value.connector.solution.name }) }}?file={{ field.vars.value.value }}" data-fancybox-type="iframe">
                                            {{ form_widget(field.value, {'attr': {'class': 'params form-control'}}) }}
                                        </a>
                                        {{ form_rest(field) }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    
                    {{ form_end(form) }}

                    <div class="row justify-content-center mt-5">
                        <div class="col d-flex align-items-center gap-3">
                            <button type="button" id="connexion" class="btn testing">Test</button>
                            <span id="source_status" class="status">
                                <i class="fa fa-lightbulb status-offline"></i>
                            </span>
                        </div>
                    </div>
                    <div class="connector-actions-footer mt-4 d-flex gap-2">
                        <button id="connector_save" type="submit" form="form-edit-connector" class="btn btn-success flex-grow-1">
                            {{'view_connector.btn.save'|trans}}
                        </button>   
                        <form method="post" action="{{ path('connector_delete',{'id' : connector.id }) }}" style="display: inline;">
                            <button type="submit" class="btn btn-outline-danger" onclick="return confirm('{{'view_connector.btn.confirm_delete'|trans}}');">
                                {{'view_connector.btn.delete'|trans}}
                            </button>
                        </form>
                    </div>
                </div>

                <div id="msg_status" class="alert alert-danger mt-3" style="display:none;">
                    <i class="fa fa-exclamation-circle"></i> {{'error.connexion'|trans}} : <span class="error"></span>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        {{ encore_entry_script_tags('connector') }}
    {% endblock %}
{% endblock %}